openapi: 3.0.3
info:
  title: Fale com a Dória API
  version: 1.0.0
  description: Documentação gerada a partir do backend Fastify/TypeScript enviado. A API usa Supabase Auth para login, JWT
    próprio como access token, refresh token em POST /auth/refresh e timeout de inatividade com status 440.
servers:
- url: https://api.falecomadoria.com.br
  description: Produção
- url: http://localhost:3433
  description: Local
tags:
- name: Health
  description: Verificação de sessão/saúde.
- name: Auth
  description: Cadastro, login, sessão, refresh token e senha.
- name: Chat
  description: Consentimento anônimo e envio de mensagem ao n8n.
- name: Usuário
  description: Perfil do usuário autenticado e aceite de termos.
- name: Especialistas
  description: Especialistas, certificação via conselho e SBED.
- name: Clínicas
  description: Clínicas vinculadas ao especialista autenticado.
- name: Convênios
  description: Convênios das clínicas do especialista.
- name: Consultas
  description: Consultas/Agenda Dória.
- name: Minha Jornada
  description: Registros de dor/jornada.
- name: Endereços
  description: Endereços do usuário.
- name: Horário de Atendimento
  description: Horários das clínicas.
- name: Medicações
  description: Medicações do paciente.
- name: Controle de Medicações
  description: Controle de tomada das medicações.
- name: Evolução
  description: Avaliação/evolução de sintomas.
x-auth-flow:
  access_token: 'Enviar em Authorization: Bearer <token> nas rotas protegidas. Também pode ser usado cookie HttpOnly `token`
    no web.'
  refresh_token: Guardar o campo `refresh_token` retornado no login. Ao receber 401 ou 440, chamar POST /auth/refresh. Se
    der sucesso, substituir token e refresh_token e repetir a requisição original.
  idle_timeout: Status 440 indica timeout por inatividade. Não é logout definitivo se o refresh_token ainda estiver válido.
  sliding_session: Rotas protegidas podem devolver header x-session-token quando o access token for renovado automaticamente.
    Apps mobile devem atualizar o token local se esse header vier na resposta.
paths:
  /:
    get:
      tags:
      - Health
      summary: Verifica se há sessão válida via cookie
      description: Lê somente o cookie `token`. Para app mobile/Bearer token, use GET /auth/me.
      security:
      - AccessCookie: []
      responses:
        '200':
          description: API ativa; informa se existe sessão válida no cookie.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
  /auth/signup:
    post:
      tags:
      - Auth
      summary: Cadastro por e-mail e senha
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignupRequest'
            examples:
              paciente:
                value:
                  email: maria@example.com
                  password: senhaSegura123
                  nome: Maria Silva
                  tipo: paciente
              especialista:
                value:
                  email: drjoao@example.com
                  password: senhaSegura123
                  nome: Dr. João Silva
                  tipo: especialista
                  cpf: '12345678901'
        required: true
      responses:
        '200':
          description: Cadastro criado. Pode exigir confirmação de e-mail.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignupResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/InternalError'
  /login:
    post:
      tags:
      - Auth
      summary: Login por e-mail e senha
      description: Retorna access token curto em `token` e refresh token longo em `refresh_token`.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
        required: true
      responses:
        '200':
          description: Login realizado com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthSuccessResponse'
          headers:
            Set-Cookie:
              description: Define cookies HttpOnly token e refresh_token quando aplicável.
              schema:
                type: string
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalError'
  /auth/google:
    post:
      tags:
      - Auth
      summary: Login/cadastro com Google ID token
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleAuthRequest'
            examples:
              login:
                value:
                  id_token: GOOGLE_ID_TOKEN
              signupPaciente:
                value:
                  id_token: GOOGLE_ID_TOKEN
                  nome: Maria Silva
                  tipo: paciente
                  termos_uso_aceito: true
                  politica_privacidade_aceita: true
              signupEspecialista:
                value:
                  id_token: GOOGLE_ID_TOKEN
                  nome: Dr. João Silva
                  tipo: especialista
                  cpf: '12345678901'
                  termos_uso_aceito: true
                  politica_privacidade_aceita: true
        required: true
      responses:
        '200':
          description: Login/cadastro Google realizado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalError'
  /auth/apple:
    post:
      tags:
      - Auth
      summary: Login/cadastro com Apple ID token
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppleAuthRequest'
            examples:
              login:
                value:
                  id_token: APPLE_IDENTITY_TOKEN
                  nonce: RAW_NONCE_USADO_NO_APP
              signupEspecialista:
                value:
                  id_token: APPLE_IDENTITY_TOKEN
                  nonce: RAW_NONCE_USADO_NO_APP
                  nome: Dr. João Silva
                  tipo: especialista
                  cpf: '12345678901'
                  termos_uso_aceito: true
                  politica_privacidade_aceita: true
        required: true
      responses:
        '200':
          description: Login/cadastro Apple realizado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalError'
  /auth/session:
    post:
      tags:
      - Auth
      summary: Cria sessão local a partir de access_token Supabase
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SupabaseAccessTokenRequest'
        required: true
      responses:
        '200':
          description: Sessão local criada.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalError'
  /auth/onboard:
    post:
      tags:
      - Auth
      summary: Alias semântico para onboarding pós-OAuth
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SupabaseAccessTokenRequest'
        required: true
      responses:
        '200':
          description: Sessão local criada.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalError'
  /auth/refresh:
    post:
      tags:
      - Auth
      summary: Renova access token usando refresh token
      description: Use quando o app receber 401 ou 440. Aceita `refresh_token`, `refreshToken` ou cookie HttpOnly `refresh_token`.
        Em sucesso, devolve novo `token` e novo `refresh_token`.
      security:
      - {}
      - RefreshCookie: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefreshTokenRequest'
            examples:
              body:
                value:
                  refresh_token: REFRESH_TOKEN_ATUAL
              camelCase:
                value:
                  refreshToken: REFRESH_TOKEN_ATUAL
        required: false
      responses:
        '200':
          description: Sessão renovada.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
  /auth/forgot-password:
    post:
      tags:
      - Auth
      summary: Solicita recuperação de senha
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ForgotPasswordRequest'
        required: true
      responses:
        '200':
          description: E-mail de recuperação solicitado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OkStatusResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
  /auth/update-password:
    post:
      tags:
      - Auth
      summary: Atualiza senha usando access_token de recovery do Supabase
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePasswordRequest'
            examples:
              default:
                value:
                  access_token: SUPABASE_RECOVERY_ACCESS_TOKEN
                  newPassword: novaSenha123
              alias:
                value:
                  access_token: SUPABASE_RECOVERY_ACCESS_TOKEN
                  new_password: novaSenha123
        required: true
      responses:
        '200':
          description: Senha atualizada.
          content:
            application/json:
              schema:
                type: object
                properties:
                  Status:
                    type: string
                    example: ok
                  status:
                    type: string
                    example: ok
                  updated:
                    type: boolean
                    example: true
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /auth/reset-password:
    post:
      tags:
      - Auth
      summary: Atualiza senha usando access_token de recovery do Supabase
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePasswordRequest'
            examples:
              default:
                value:
                  access_token: SUPABASE_RECOVERY_ACCESS_TOKEN
                  newPassword: novaSenha123
              alias:
                value:
                  access_token: SUPABASE_RECOVERY_ACCESS_TOKEN
                  new_password: novaSenha123
        required: true
      responses:
        '200':
          description: Senha atualizada.
          content:
            application/json:
              schema:
                type: object
                properties:
                  Status:
                    type: string
                    example: ok
                  status:
                    type: string
                    example: ok
                  updated:
                    type: boolean
                    example: true
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /auth/me:
    get:
      tags:
      - Auth
      summary: Verifica sessão local via access token
      security:
      - BearerAuth: []
      - AccessCookie: []
      responses:
        '200':
          description: Sessão válida.
          content:
            application/json:
              schema:
                type: object
                properties:
                  Status:
                    type: string
                    example: ok
                  status:
                    type: string
                    example: ok
                  user:
                    $ref: '#/components/schemas/JwtSessionPayload'
          headers:
            x-session-token:
              description: Novo access token, quando a sessão sliding for renovada.
              schema:
                type: string
        '401':
          $ref: '#/components/responses/Unauthorized'
        '440':
          $ref: '#/components/responses/IdleTimeout'
  /logout:
    post:
      tags:
      - Auth
      summary: Logout local
      description: Limpa cookies `token` e `refresh_token`. Não invalida Bearer token stateless já copiado.
      responses:
        '200':
          description: Logout local concluído.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OkStatusResponse'
  /consent:
    post:
      tags:
      - Chat
      summary: Cria sessão anônima para chat
      responses:
        '200':
          description: Consentimento aceito e sessão anônima criada em cookie.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsentResponse'
          headers:
            Set-Cookie:
              description: Define cookie HttpOnly `token` com sessão anônima.
              schema:
                type: string
  /send-message-n8n:
    post:
      tags:
      - Chat
      summary: Envia mensagem para o agente n8n
      security:
      - BearerAuth: []
      - AccessCookie: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendMessageRequest'
        required: true
      responses:
        '200':
          description: Resposta repassada do n8n.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/N8nResponse'
          headers:
            x-session-token:
              description: Novo access token, quando a sessão for renovada.
              schema:
                type: string
        '401':
          $ref: '#/components/responses/Unauthorized'
        '440':
          $ref: '#/components/responses/IdleTimeout'
        '400':
          $ref: '#/components/responses/BadRequest'
        '502':
          $ref: '#/components/responses/BadGateway'
  /usuario:
    post:
      tags:
      - Usuário
      summary: Cria/atualiza perfil do usuário autenticado
      security:
      - BearerAuth: []
      - AccessCookie: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UsuarioInput'
            examples:
              paciente:
                value:
                  nome: Maria Silva
                  email: maria@example.com
                  tipo_usuario: paciente
                  data_nascimento: '1990-01-01'
                  telefone_pessoal: '11999999999'
              especialista:
                value:
                  nome: Dr. João Silva
                  email: drjoao@example.com
                  tipo_usuario: especialista
                  cpf: '12345678901'
                  area_de_atuacao: Dor
        required: true
      responses:
        '201':
          description: Perfil criado/atualizado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsuarioResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '440':
          $ref: '#/components/responses/IdleTimeout'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
    get:
      tags:
      - Usuário
      summary: Busca perfil do usuário autenticado
      security:
      - BearerAuth: []
      - AccessCookie: []
      responses:
        '200':
          description: Perfil encontrado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsuarioResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '440':
          $ref: '#/components/responses/IdleTimeout'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
    patch:
      tags:
      - Usuário
      summary: Atualiza perfil do usuário autenticado
      security:
      - BearerAuth: []
      - AccessCookie: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UsuarioInput'
            examples:
              notificacoes:
                value:
                  notif_medicacoes: true
                  notif_jornada: true
                  notif_avaliacao: false
                  notif_consultas: true
              dados:
                value:
                  telefone_pessoal: '11999999999'
                  area_de_atuacao: Medicina da Dor
        required: true
      responses:
        '200':
          description: Perfil atualizado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsuarioResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '440':
          $ref: '#/components/responses/IdleTimeout'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
    delete:
      tags:
      - Usuário
      summary: Remove usuário autenticado e dados relacionados
      security:
      - BearerAuth: []
      - AccessCookie: []
      responses:
        '200':
          description: Usuário removido.
          content:
            application/json:
              schema:
                type: object
                properties:
                  Status:
                    type: string
                  status:
                    type: string
                  usuario:
                    $ref: '#/components/schemas/Usuario'
                  auth_user_deleted:
                    type: boolean
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        '440':
          $ref: '#/components/responses/IdleTimeout'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
  /usuario/por-auth_id/{auth_id}:
    get:
      tags:
      - Usuário
      summary: Busca usuário pelo próprio auth_id
      description: O auth_id da URL precisa ser igual ao `sub` do token autenticado.
      security:
      - BearerAuth: []
      - AccessCookie: []
      parameters:
      - name: auth_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: Auth ID Supabase do próprio usuário autenticado
      responses:
        '200':
          description: Usuário encontrado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsuariosListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '440':
          $ref: '#/components/responses/IdleTimeout'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
  /aceitar_termos:
    post:
      tags:
      - Usuário
      summary: Aceita termos de uso e política de privacidade atuais
      security:
      - BearerAuth: []
      - AccessCookie: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AceitarTermosRequest'
            examples:
              default:
                value:
                  termos_uso_aceito: true
                  politica_privacidade_aceita: true
        required: true
      responses:
        '200':
          description: Termos aceitos.
          content:
            application/json:
              schema:
                type: object
                properties:
                  Status:
                    type: string
                    example: updated
                  status:
                    type: string
                    example: updated
                  precisa_aceitar_termos:
                    type: boolean
                    example: false
                  nova_versao:
                    type: string
                  usuario:
                    $ref: '#/components/schemas/Usuario'
                additionalProperties: true
        '409':
          $ref: '#/components/responses/Conflict'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '440':
          $ref: '#/components/responses/IdleTimeout'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
  /certificar_especialista:
    post:
      tags:
      - Especialistas
      summary: Certifica especialista por conselho profissional via Consultar.io
      security:
      - BearerAuth: []
      - AccessCookie: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CertificarEspecialistaRequest'
        required: true
      responses:
        '200':
          description: Especialista certificado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CertificacaoResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '440':
          $ref: '#/components/responses/IdleTimeout'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalError'
  /certificar_especialista_sbed:
    post:
      tags:
      - Especialistas
      summary: Certifica especialista SBED por CPF
      security:
      - BearerAuth: []
      - AccessCookie: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CertificarEspecialistaSbedRequest'
        required: true
      responses:
        '200':
          description: Especialista SBED certificado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CertificacaoResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '440':
          $ref: '#/components/responses/IdleTimeout'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/InternalError'
  /convenios:
    post:
      tags:
      - Convênios
      summary: Substitui todos os convênios de uma clínica
      description: 'O backend apaga os convênios antigos da clínica e insere a nova lista. Para remover todos, envie `{ id_clinica,
        convenios: [] }`.'
      security:
      - BearerAuth: []
      - AccessCookie: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConveniosEnvelopeInput'
            examples:
              unico:
                value:
                  id_clinica: 550e8400-e29b-41d4-a716-446655440000
                  nome_convenio: Unimed
                  descricao: Atendimento pelo convênio
              lista:
                value:
                - id_clinica: 550e8400-e29b-41d4-a716-446655440000
                  nome_convenio: Unimed
                  descricao: Atendimento
                - id_clinica: 550e8400-e29b-41d4-a716-446655440000
                  nome_convenio: Bradesco
                  descricao: Atendimento
              envelope:
                value:
                  id_clinica: 550e8400-e29b-41d4-a716-446655440000
                  convenios:
                  - nome_convenio: Unimed
                    descricao: Atendimento
              apagarTodos:
                value:
                  id_clinica: 550e8400-e29b-41d4-a716-446655440000
                  convenios: []
        required: true
      responses:
        '201':
          description: Convênios substituídos/criados.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConvenioResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '440':
          $ref: '#/components/responses/IdleTimeout'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
    get:
      tags:
      - Convênios
      summary: Lista convênios das clínicas do especialista autenticado
      security:
      - BearerAuth: []
      - AccessCookie: []
      responses:
        '200':
          description: Lista de convênios.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConvenioResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '440':
          $ref: '#/components/responses/IdleTimeout'
        '500':
          $ref: '#/components/responses/InternalError'
  /convenios/por-id_clinica/{id_clinica}:
    get:
      tags:
      - Convênios
      summary: Lista convênios de uma clínica
      security:
      - BearerAuth: []
      - AccessCookie: []
      parameters:
      - name: id_clinica
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: UUID da clínica
      responses:
        '200':
          description: Lista de convênios da clínica.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConvenioResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '440':
          $ref: '#/components/responses/IdleTimeout'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
  /convenios/{id}:
    get:
      tags:
      - Convênios
      summary: Busca convênio por ID
      security:
      - BearerAuth: []
      - AccessCookie: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: UUID do convênio
      responses:
        '200':
          description: Convênio encontrado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConvenioResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '440':
          $ref: '#/components/responses/IdleTimeout'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
    patch:
      tags:
      - Convênios
      summary: Atualiza convênios substituindo a lista da clínica
      description: Se o body não tiver id_clinica, o backend usa o convênio da URL para descobrir a clínica. A atualização
        substitui a lista inteira da clínica.
      security:
      - BearerAuth: []
      - AccessCookie: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: UUID do convênio usado como referência
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConveniosEnvelopeInput'
        required: true
      responses:
        '200':
          description: Convênios atualizados.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConvenioResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '440':
          $ref: '#/components/responses/IdleTimeout'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
    delete:
      tags:
      - Convênios
      summary: Remove um convênio específico
      security:
      - BearerAuth: []
      - AccessCookie: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: UUID do convênio
      responses:
        '200':
          description: Convênio removido.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConvenioResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '440':
          $ref: '#/components/responses/IdleTimeout'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
  /consultas:
    post:
      tags:
      - Consultas
      summary: Cria consulta
      security:
      - BearerAuth: []
      - AccessCookie: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConsultaCreate'
        required: true
      responses:
        '201':
          description: Registro criado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsultaSingleResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '440':
          $ref: '#/components/responses/IdleTimeout'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
    get:
      tags:
      - Consultas
      summary: Lista consultas
      security:
      - BearerAuth: []
      - AccessCookie: []
      responses:
        '200':
          description: Lista retornada.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsultaListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '440':
          $ref: '#/components/responses/IdleTimeout'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalError'
  /consultas/{id}:
    get:
      tags:
      - Consultas
      summary: Busca consulta por ID
      security:
      - BearerAuth: []
      - AccessCookie: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: UUID de id_consulta
      responses:
        '200':
          description: Registro encontrado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsultaSingleResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '440':
          $ref: '#/components/responses/IdleTimeout'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
    patch:
      tags:
      - Consultas
      summary: Atualiza consulta por ID
      security:
      - BearerAuth: []
      - AccessCookie: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: UUID de id_consulta
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConsultaUpdate'
        required: true
      responses:
        '200':
          description: Registro atualizado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsultaSingleResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '440':
          $ref: '#/components/responses/IdleTimeout'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
    delete:
      tags:
      - Consultas
      summary: Remove consulta por ID
      security:
      - BearerAuth: []
      - AccessCookie: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: UUID de id_consulta
      responses:
        '200':
          description: Registro removido.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsultaSingleResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '440':
          $ref: '#/components/responses/IdleTimeout'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
  /consultas/por-id_usuario/{id_usuario}:
    get:
      tags:
      - Consultas
      summary: Lista consultas por id_usuario
      security:
      - BearerAuth: []
      - AccessCookie: []
      parameters:
      - name: id_usuario
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: UUID de id_usuario
      responses:
        '200':
          description: Lista retornada.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsultaListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '440':
          $ref: '#/components/responses/IdleTimeout'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
  /agenda-doria:
    post:
      tags:
      - Consultas
      summary: Cria consulta
      security:
      - BearerAuth: []
      - AccessCookie: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConsultaCreate'
        required: true
      responses:
        '201':
          description: Registro criado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsultaSingleResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '440':
          $ref: '#/components/responses/IdleTimeout'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
    get:
      tags:
      - Consultas
      summary: Lista consultas
      security:
      - BearerAuth: []
      - AccessCookie: []
      responses:
        '200':
          description: Lista retornada.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsultaListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '440':
          $ref: '#/components/responses/IdleTimeout'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalError'
  /agenda-doria/{id}:
    get:
      tags:
      - Consultas
      summary: Busca consulta por ID
      security:
      - BearerAuth: []
      - AccessCookie: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: UUID de id_consulta
      responses:
        '200':
          description: Registro encontrado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsultaSingleResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '440':
          $ref: '#/components/responses/IdleTimeout'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
    patch:
      tags:
      - Consultas
      summary: Atualiza consulta por ID
      security:
      - BearerAuth: []
      - AccessCookie: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: UUID de id_consulta
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConsultaUpdate'
        required: true
      responses:
        '200':
          description: Registro atualizado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsultaSingleResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '440':
          $ref: '#/components/responses/IdleTimeout'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
    delete:
      tags:
      - Consultas
      summary: Remove consulta por ID
      security:
      - BearerAuth: []
      - AccessCookie: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: UUID de id_consulta
      responses:
        '200':
          description: Registro removido.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsultaSingleResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '440':
          $ref: '#/components/responses/IdleTimeout'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
  /agenda-doria/por-id_usuario/{id_usuario}:
    get:
      tags:
      - Consultas
      summary: Lista consultas por id_usuario
      security:
      - BearerAuth: []
      - AccessCookie: []
      parameters:
      - name: id_usuario
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: UUID de id_usuario
      responses:
        '200':
          description: Lista retornada.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsultaListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '440':
          $ref: '#/components/responses/IdleTimeout'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
  /minha-jornada:
    post:
      tags:
      - Minha Jornada
      summary: Cria registro
      security:
      - BearerAuth: []
      - AccessCookie: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegistroJornadaCreate'
        required: true
      responses:
        '201':
          description: Registro criado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegistroJornadaSingleResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '440':
          $ref: '#/components/responses/IdleTimeout'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
    get:
      tags:
      - Minha Jornada
      summary: Lista registros
      security:
      - BearerAuth: []
      - AccessCookie: []
      responses:
        '200':
          description: Lista retornada.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegistroJornadaListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '440':
          $ref: '#/components/responses/IdleTimeout'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalError'
  /minha-jornada/{id}:
    get:
      tags:
      - Minha Jornada
      summary: Busca registro por ID
      security:
      - BearerAuth: []
      - AccessCookie: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: UUID de id_registro
      responses:
        '200':
          description: Registro encontrado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegistroJornadaSingleResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '440':
          $ref: '#/components/responses/IdleTimeout'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
    patch:
      tags:
      - Minha Jornada
      summary: Atualiza registro por ID
      security:
      - BearerAuth: []
      - AccessCookie: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: UUID de id_registro
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegistroJornadaUpdate'
        required: true
      responses:
        '200':
          description: Registro atualizado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegistroJornadaSingleResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '440':
          $ref: '#/components/responses/IdleTimeout'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
    delete:
      tags:
      - Minha Jornada
      summary: Remove registro por ID
      security:
      - BearerAuth: []
      - AccessCookie: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: UUID de id_registro
      responses:
        '200':
          description: Registro removido.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegistroJornadaSingleResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '440':
          $ref: '#/components/responses/IdleTimeout'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
  /minha-jornada/por-id_usuario/{id_usuario}:
    get:
      tags:
      - Minha Jornada
      summary: Lista registros por id_usuario
      security:
      - BearerAuth: []
      - AccessCookie: []
      parameters:
      - name: id_usuario
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: UUID de id_usuario
      responses:
        '200':
          description: Lista retornada.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegistroJornadaListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '440':
          $ref: '#/components/responses/IdleTimeout'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
  /registro-dor:
    post:
      tags:
      - Minha Jornada
      summary: Cria registro
      security:
      - BearerAuth: []
      - AccessCookie: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegistroJornadaCreate'
        required: true
      responses:
        '201':
          description: Registro criado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegistroJornadaSingleResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '440':
          $ref: '#/components/responses/IdleTimeout'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
    get:
      tags:
      - Minha Jornada
      summary: Lista registros
      security:
      - BearerAuth: []
      - AccessCookie: []
      responses:
        '200':
          description: Lista retornada.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegistroJornadaListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '440':
          $ref: '#/components/responses/IdleTimeout'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalError'
  /registro-dor/{id}:
    get:
      tags:
      - Minha Jornada
      summary: Busca registro por ID
      security:
      - BearerAuth: []
      - AccessCookie: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: UUID de id_registro
      responses:
        '200':
          description: Registro encontrado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegistroJornadaSingleResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '440':
          $ref: '#/components/responses/IdleTimeout'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
    patch:
      tags:
      - Minha Jornada
      summary: Atualiza registro por ID
      security:
      - BearerAuth: []
      - AccessCookie: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: UUID de id_registro
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegistroJornadaUpdate'
        required: true
      responses:
        '200':
          description: Registro atualizado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegistroJornadaSingleResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '440':
          $ref: '#/components/responses/IdleTimeout'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
    delete:
      tags:
      - Minha Jornada
      summary: Remove registro por ID
      security:
      - BearerAuth: []
      - AccessCookie: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: UUID de id_registro
      responses:
        '200':
          description: Registro removido.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegistroJornadaSingleResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '440':
          $ref: '#/components/responses/IdleTimeout'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
  /registro-dor/por-id_usuario/{id_usuario}:
    get:
      tags:
      - Minha Jornada
      summary: Lista registros por id_usuario
      security:
      - BearerAuth: []
      - AccessCookie: []
      parameters:
      - name: id_usuario
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: UUID de id_usuario
      responses:
        '200':
          description: Lista retornada.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegistroJornadaListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '440':
          $ref: '#/components/responses/IdleTimeout'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
  /especialistas:
    post:
      tags:
      - Especialistas
      summary: Cria especialista
      security:
      - BearerAuth: []
      - AccessCookie: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EspecialistaCreate'
        required: true
      responses:
        '201':
          description: Registro criado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EspecialistaSingleResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '440':
          $ref: '#/components/responses/IdleTimeout'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
    get:
      tags:
      - Especialistas
      summary: Lista especialistas
      security:
      - BearerAuth: []
      - AccessCookie: []
      responses:
        '200':
          description: Lista retornada.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EspecialistaListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '440':
          $ref: '#/components/responses/IdleTimeout'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalError'
  /especialistas/{id}:
    get:
      tags:
      - Especialistas
      summary: Busca especialista por ID
      security:
      - BearerAuth: []
      - AccessCookie: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: UUID de id_especialista
      responses:
        '200':
          description: Registro encontrado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EspecialistaSingleResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '440':
          $ref: '#/components/responses/IdleTimeout'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
    patch:
      tags:
      - Especialistas
      summary: Atualiza especialista por ID
      security:
      - BearerAuth: []
      - AccessCookie: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: UUID de id_especialista
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EspecialistaUpdate'
        required: true
      responses:
        '200':
          description: Registro atualizado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EspecialistaSingleResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '440':
          $ref: '#/components/responses/IdleTimeout'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
    delete:
      tags:
      - Especialistas
      summary: Remove especialista por ID
      security:
      - BearerAuth: []
      - AccessCookie: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: UUID de id_especialista
      responses:
        '200':
          description: Registro removido.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EspecialistaSingleResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '440':
          $ref: '#/components/responses/IdleTimeout'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
  /especialistas/por-id_usuario/{id_usuario}:
    get:
      tags:
      - Especialistas
      summary: Lista especialistas por id_usuario
      security:
      - BearerAuth: []
      - AccessCookie: []
      parameters:
      - name: id_usuario
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: UUID de id_usuário
      responses:
        '200':
          description: Lista retornada.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EspecialistaListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '440':
          $ref: '#/components/responses/IdleTimeout'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
  /especialista-sbed:
    post:
      tags:
      - Especialistas
      summary: Cria especialista
      security:
      - BearerAuth: []
      - AccessCookie: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EspecialistaCreate'
        required: true
      responses:
        '201':
          description: Registro criado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EspecialistaSingleResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '440':
          $ref: '#/components/responses/IdleTimeout'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
    get:
      tags:
      - Especialistas
      summary: Lista especialistas
      security:
      - BearerAuth: []
      - AccessCookie: []
      responses:
        '200':
          description: Lista retornada.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EspecialistaListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '440':
          $ref: '#/components/responses/IdleTimeout'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalError'
  /especialista-sbed/{id}:
    get:
      tags:
      - Especialistas
      summary: Busca especialista por ID
      security:
      - BearerAuth: []
      - AccessCookie: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: UUID de id_especialista
      responses:
        '200':
          description: Registro encontrado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EspecialistaSingleResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '440':
          $ref: '#/components/responses/IdleTimeout'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
    patch:
      tags:
      - Especialistas
      summary: Atualiza especialista por ID
      security:
      - BearerAuth: []
      - AccessCookie: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: UUID de id_especialista
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EspecialistaUpdate'
        required: true
      responses:
        '200':
          description: Registro atualizado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EspecialistaSingleResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '440':
          $ref: '#/components/responses/IdleTimeout'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
    delete:
      tags:
      - Especialistas
      summary: Remove especialista por ID
      security:
      - BearerAuth: []
      - AccessCookie: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: UUID de id_especialista
      responses:
        '200':
          description: Registro removido.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EspecialistaSingleResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '440':
          $ref: '#/components/responses/IdleTimeout'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
  /especialista-sbed/por-id_usuario/{id_usuario}:
    get:
      tags:
      - Especialistas
      summary: Lista especialistas por id_usuario
      security:
      - BearerAuth: []
      - AccessCookie: []
      parameters:
      - name: id_usuario
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: UUID de id_usuário
      responses:
        '200':
          description: Lista retornada.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EspecialistaListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '440':
          $ref: '#/components/responses/IdleTimeout'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
  /clinicas:
    post:
      tags:
      - Clínicas
      summary: Cria clinica
      security:
      - BearerAuth: []
      - AccessCookie: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClinicaCreate'
        required: true
      responses:
        '201':
          description: Registro criado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClinicaSingleResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '440':
          $ref: '#/components/responses/IdleTimeout'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
    get:
      tags:
      - Clínicas
      summary: Lista clinicas
      security:
      - BearerAuth: []
      - AccessCookie: []
      responses:
        '200':
          description: Lista retornada.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClinicaListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '440':
          $ref: '#/components/responses/IdleTimeout'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalError'
  /clinicas/{id}:
    get:
      tags:
      - Clínicas
      summary: Busca clinica por ID
      security:
      - BearerAuth: []
      - AccessCookie: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: UUID de id_clinica
      responses:
        '200':
          description: Registro encontrado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClinicaSingleResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '440':
          $ref: '#/components/responses/IdleTimeout'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
    patch:
      tags:
      - Clínicas
      summary: Atualiza clinica por ID
      security:
      - BearerAuth: []
      - AccessCookie: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: UUID de id_clinica
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClinicaUpdate'
        required: true
      responses:
        '200':
          description: Registro atualizado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClinicaSingleResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '440':
          $ref: '#/components/responses/IdleTimeout'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
    delete:
      tags:
      - Clínicas
      summary: Remove clinica por ID
      security:
      - BearerAuth: []
      - AccessCookie: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: UUID de id_clinica
      responses:
        '200':
          description: Registro removido.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClinicaSingleResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '440':
          $ref: '#/components/responses/IdleTimeout'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
  /clinicas/por-id_especialista/{id_especialista}:
    get:
      tags:
      - Clínicas
      summary: Lista clinicas por id_especialista
      security:
      - BearerAuth: []
      - AccessCookie: []
      parameters:
      - name: id_especialista
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: UUID de id_especialista
      responses:
        '200':
          description: Lista retornada.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClinicaListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '440':
          $ref: '#/components/responses/IdleTimeout'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
  /enderecos:
    post:
      tags:
      - Endereços
      summary: Cria endereco
      security:
      - BearerAuth: []
      - AccessCookie: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnderecoCreate'
        required: true
      responses:
        '201':
          description: Registro criado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnderecoSingleResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '440':
          $ref: '#/components/responses/IdleTimeout'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
    get:
      tags:
      - Endereços
      summary: Lista enderecos
      security:
      - BearerAuth: []
      - AccessCookie: []
      responses:
        '200':
          description: Lista retornada.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnderecoListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '440':
          $ref: '#/components/responses/IdleTimeout'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalError'
  /enderecos/{id}:
    get:
      tags:
      - Endereços
      summary: Busca endereco por ID
      security:
      - BearerAuth: []
      - AccessCookie: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: UUID de id_enderecos
      responses:
        '200':
          description: Registro encontrado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnderecoSingleResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '440':
          $ref: '#/components/responses/IdleTimeout'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
    patch:
      tags:
      - Endereços
      summary: Atualiza endereco por ID
      security:
      - BearerAuth: []
      - AccessCookie: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: UUID de id_enderecos
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnderecoUpdate'
        required: true
      responses:
        '200':
          description: Registro atualizado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnderecoSingleResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '440':
          $ref: '#/components/responses/IdleTimeout'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
    delete:
      tags:
      - Endereços
      summary: Remove endereco por ID
      security:
      - BearerAuth: []
      - AccessCookie: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: UUID de id_enderecos
      responses:
        '200':
          description: Registro removido.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnderecoSingleResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '440':
          $ref: '#/components/responses/IdleTimeout'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
  /enderecos/por-id_usuario/{id_usuario}:
    get:
      tags:
      - Endereços
      summary: Lista enderecos por id_usuario
      security:
      - BearerAuth: []
      - AccessCookie: []
      parameters:
      - name: id_usuario
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: UUID de id_usuario
      responses:
        '200':
          description: Lista retornada.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnderecoListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '440':
          $ref: '#/components/responses/IdleTimeout'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
  /horario-atendimento:
    post:
      tags:
      - Horário de Atendimento
      summary: Cria horario_atendimento
      security:
      - BearerAuth: []
      - AccessCookie: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HorarioAtendimentoCreate'
        required: true
      responses:
        '201':
          description: Registro criado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HorarioAtendimentoSingleResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '440':
          $ref: '#/components/responses/IdleTimeout'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
    get:
      tags:
      - Horário de Atendimento
      summary: Lista horarios_atendimento
      security:
      - BearerAuth: []
      - AccessCookie: []
      responses:
        '200':
          description: Lista retornada.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HorarioAtendimentoListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '440':
          $ref: '#/components/responses/IdleTimeout'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalError'
  /horario-atendimento/{id}:
    get:
      tags:
      - Horário de Atendimento
      summary: Busca horario_atendimento por ID
      security:
      - BearerAuth: []
      - AccessCookie: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: UUID de id_atendimento
      responses:
        '200':
          description: Registro encontrado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HorarioAtendimentoSingleResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '440':
          $ref: '#/components/responses/IdleTimeout'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
    patch:
      tags:
      - Horário de Atendimento
      summary: Atualiza horario_atendimento por ID
      security:
      - BearerAuth: []
      - AccessCookie: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: UUID de id_atendimento
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HorarioAtendimentoUpdate'
        required: true
      responses:
        '200':
          description: Registro atualizado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HorarioAtendimentoSingleResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '440':
          $ref: '#/components/responses/IdleTimeout'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
    delete:
      tags:
      - Horário de Atendimento
      summary: Remove horario_atendimento por ID
      security:
      - BearerAuth: []
      - AccessCookie: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: UUID de id_atendimento
      responses:
        '200':
          description: Registro removido.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HorarioAtendimentoSingleResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '440':
          $ref: '#/components/responses/IdleTimeout'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
  /horario-atendimento/por-id_clinica/{id_clinica}:
    get:
      tags:
      - Horário de Atendimento
      summary: Lista horarios_atendimento por id_clinica
      security:
      - BearerAuth: []
      - AccessCookie: []
      parameters:
      - name: id_clinica
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: UUID de id_clinica
      responses:
        '200':
          description: Lista retornada.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HorarioAtendimentoListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '440':
          $ref: '#/components/responses/IdleTimeout'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
  /medicacoes:
    post:
      tags:
      - Medicações
      summary: Cria medicacao
      security:
      - BearerAuth: []
      - AccessCookie: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MedicacaoCreate'
        required: true
      responses:
        '201':
          description: Registro criado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MedicacaoSingleResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '440':
          $ref: '#/components/responses/IdleTimeout'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
    get:
      tags:
      - Medicações
      summary: Lista medicacoes
      security:
      - BearerAuth: []
      - AccessCookie: []
      responses:
        '200':
          description: Lista retornada.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MedicacaoListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '440':
          $ref: '#/components/responses/IdleTimeout'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalError'
  /medicacoes/{id}:
    get:
      tags:
      - Medicações
      summary: Busca medicacao por ID
      security:
      - BearerAuth: []
      - AccessCookie: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: UUID de id_medicacoes
      responses:
        '200':
          description: Registro encontrado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MedicacaoSingleResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '440':
          $ref: '#/components/responses/IdleTimeout'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
    patch:
      tags:
      - Medicações
      summary: Atualiza medicacao por ID
      security:
      - BearerAuth: []
      - AccessCookie: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: UUID de id_medicacoes
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MedicacaoUpdate'
        required: true
      responses:
        '200':
          description: Registro atualizado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MedicacaoSingleResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '440':
          $ref: '#/components/responses/IdleTimeout'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
    delete:
      tags:
      - Medicações
      summary: Remove medicacao por ID
      security:
      - BearerAuth: []
      - AccessCookie: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: UUID de id_medicacoes
      responses:
        '200':
          description: Registro removido.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MedicacaoSingleResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '440':
          $ref: '#/components/responses/IdleTimeout'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
  /medicacoes/por-id_usuario/{id_usuario}:
    get:
      tags:
      - Medicações
      summary: Lista medicacoes por id_usuario
      security:
      - BearerAuth: []
      - AccessCookie: []
      parameters:
      - name: id_usuario
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: UUID de id_usuario
      responses:
        '200':
          description: Lista retornada.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MedicacaoListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '440':
          $ref: '#/components/responses/IdleTimeout'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
  /controle-medicacoes:
    post:
      tags:
      - Controle de Medicações
      summary: Cria controle_medicacao
      security:
      - BearerAuth: []
      - AccessCookie: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ControleMedicacaoCreate'
        required: true
      responses:
        '201':
          description: Registro criado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ControleMedicacaoSingleResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '440':
          $ref: '#/components/responses/IdleTimeout'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
    get:
      tags:
      - Controle de Medicações
      summary: Lista controle_medicacoes
      security:
      - BearerAuth: []
      - AccessCookie: []
      responses:
        '200':
          description: Lista retornada.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ControleMedicacaoListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '440':
          $ref: '#/components/responses/IdleTimeout'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalError'
  /controle-medicacoes/{id}:
    get:
      tags:
      - Controle de Medicações
      summary: Busca controle_medicacao por ID
      security:
      - BearerAuth: []
      - AccessCookie: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: UUID de id_controle
      responses:
        '200':
          description: Registro encontrado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ControleMedicacaoSingleResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '440':
          $ref: '#/components/responses/IdleTimeout'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
    patch:
      tags:
      - Controle de Medicações
      summary: Atualiza controle_medicacao por ID
      security:
      - BearerAuth: []
      - AccessCookie: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: UUID de id_controle
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ControleMedicacaoUpdate'
        required: true
      responses:
        '200':
          description: Registro atualizado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ControleMedicacaoSingleResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '440':
          $ref: '#/components/responses/IdleTimeout'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
    delete:
      tags:
      - Controle de Medicações
      summary: Remove controle_medicacao por ID
      security:
      - BearerAuth: []
      - AccessCookie: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: UUID de id_controle
      responses:
        '200':
          description: Registro removido.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ControleMedicacaoSingleResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '440':
          $ref: '#/components/responses/IdleTimeout'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
  /controle-medicacoes/por-id_medicacoes/{id_medicacoes}:
    get:
      tags:
      - Controle de Medicações
      summary: Lista controle_medicacoes por id_medicacoes
      security:
      - BearerAuth: []
      - AccessCookie: []
      parameters:
      - name: id_medicacoes
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: UUID de id_medicacoes
      responses:
        '200':
          description: Lista retornada.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ControleMedicacaoListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '440':
          $ref: '#/components/responses/IdleTimeout'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
  /evolucao:
    post:
      tags:
      - Evolução
      summary: Cria evolucao
      security:
      - BearerAuth: []
      - AccessCookie: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EvolucaoCreate'
        required: true
      responses:
        '201':
          description: Registro criado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EvolucaoSingleResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '440':
          $ref: '#/components/responses/IdleTimeout'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
    get:
      tags:
      - Evolução
      summary: Lista evolucoes
      security:
      - BearerAuth: []
      - AccessCookie: []
      responses:
        '200':
          description: Lista retornada.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EvolucaoListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '440':
          $ref: '#/components/responses/IdleTimeout'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalError'
  /evolucao/{id}:
    get:
      tags:
      - Evolução
      summary: Busca evolucao por ID
      security:
      - BearerAuth: []
      - AccessCookie: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: UUID de id_avaliacao
      responses:
        '200':
          description: Registro encontrado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EvolucaoSingleResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '440':
          $ref: '#/components/responses/IdleTimeout'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
    patch:
      tags:
      - Evolução
      summary: Atualiza evolucao por ID
      security:
      - BearerAuth: []
      - AccessCookie: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: UUID de id_avaliacao
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EvolucaoUpdate'
        required: true
      responses:
        '200':
          description: Registro atualizado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EvolucaoSingleResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '440':
          $ref: '#/components/responses/IdleTimeout'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
    delete:
      tags:
      - Evolução
      summary: Remove evolucao por ID
      security:
      - BearerAuth: []
      - AccessCookie: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: UUID de id_avaliacao
      responses:
        '200':
          description: Registro removido.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EvolucaoSingleResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '440':
          $ref: '#/components/responses/IdleTimeout'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
  /evolucao/por-id_usuario/{id_usuario}:
    get:
      tags:
      - Evolução
      summary: Lista evolucoes por id_usuario
      security:
      - BearerAuth: []
      - AccessCookie: []
      parameters:
      - name: id_usuario
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: UUID de id_usuario
      responses:
        '200':
          description: Lista retornada.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EvolucaoListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '440':
          $ref: '#/components/responses/IdleTimeout'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'Use o access token retornado em `token`: Authorization: Bearer <token>.'
    AccessCookie:
      type: apiKey
      in: cookie
      name: token
      description: Cookie HttpOnly `token` usado no fluxo web.
    RefreshCookie:
      type: apiKey
      in: cookie
      name: refresh_token
      description: Cookie HttpOnly `refresh_token`, aceito somente em POST /auth/refresh.
  responses:
    BadRequest:
      description: Requisição inválida.
      content:
        application/json:
          schema:
[...]
