openapi: 3.1.0
info:
  title: API Fale com a Doria
  version: 1.0.0
  description: |
    Documentacao gerada a partir do codigo do backend.

    Autenticacao:
    - A maioria das rotas usa sessao ativa via cookie `token` ou header `Authorization: Bearer <token>`.
    - Quando a sessao e renovada automaticamente, o backend pode enviar o novo token no header `x-session-token`.
    - Rotas protegidas podem retornar `401` quando nao autenticado e `440` quando a sessao expirou por inatividade.

    Padrao de erro:
    - A maioria dos erros retorna `{ "Error": "...", "error": "..." }`.
    - Algumas rotas antigas retornam apenas `{ "Error": "..." }`.

servers:
  - url: https://api.falecomadoria.com.br
    description: Producao
  - url: http://localhost:3000
    description: Desenvolvimento local

security:
  - bearerAuth: []
  - cookieAuth: []

tags:
  - name: Health
  - name: Auth
  - name: Chat
  - name: Usuario
  - name: Consultas
  - name: Minha Jornada
  - name: Evolucao
  - name: Medicacoes
  - name: Controle Medicacoes
  - name: Enderecos
  - name: Especialistas
  - name: Clinicas
  - name: Convenios
  - name: Horario Atendimento
  - name: InterDOR

paths:
  /:
    get:
      tags: [Health]
      summary: Verifica saude da API e existencia de sessao.
      security: []
      responses:
        "200":
          description: API online.
          content:
            application/json:
              examples:
                semSessao:
                  value: { Status: Success, hasSession: false }
                comSessao:
                  value: { Status: Success, hasSession: true }

  /consent:
    post:
      tags: [Chat]
      summary: Cria uma sessao anonima para uso do chat.
      security: []
      requestBody:
        required: false
      responses:
        "200":
          description: Consentimento aceito e cookie de sessao anonima criado.
          content:
            application/json:
              example:
                Status: Consent accepted
                created: true

  /send-message-n8n:
    post:
      tags: [Chat]
      summary: Envia mensagem para o agente n8n.
      description: |
        Usa o agente de especialista quando `tipo_usuario` do usuario contem `especialista`;
        caso contrario usa o agente de paciente. Sessoes anonimas tambem usam o agente de paciente.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [message]
              properties:
                message:
                  type: string
                  example: Estou com dor lombar ha 3 dias.
      responses:
        "200":
          description: Retorna diretamente o body enviado pelo webhook n8n.
          headers:
            x-session-token:
              schema: { type: string }
              description: Novo token local quando a sessao e renovada.
        "400":
          description: Campo `message` ausente.
          content:
            application/json:
              example: { Error: Message is required }
        "401":
          $ref: "#/components/responses/Unauthorized"
        "440":
          $ref: "#/components/responses/IdleTimeout"
        "502":
          description: Falha no webhook n8n.
          content:
            application/json:
              example: { Error: n8n webhook failed }

  /auth/signup:
    post:
      tags: [Auth]
      summary: Cadastro por e-mail e senha.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password, nome, tipo]
              properties:
                email: { type: string, format: email }
                password:
                  type: string
                  minLength: 8
                nome: { type: string }
                tipo:
                  type: string
                  enum: [paciente, especialista]
                cpf:
                  type: string
                  description: Obrigatorio para `tipo=especialista`; validado como CPF.
            examples:
              paciente:
                value:
                  email: paciente@example.com
                  password: senha1234
                  nome: Maria Silva
                  tipo: paciente
              especialista:
                value:
                  email: especialista@example.com
                  password: senha1234
                  nome: Dra. Ana Silva
                  tipo: especialista
                  cpf: "12345678909"
      responses:
        "200":
          description: Cadastro criado no Supabase Auth e perfil local criado/vinculado.
          content:
            application/json:
              example:
                Status: created
                status: created
                auth_id: 00000000-0000-4000-8000-000000000000
                email: paciente@example.com
                needs_email_confirm: true
        "400":
          description: Dados invalidos, senha curta, nome/tipo ausentes, CPF invalido.
          content:
            application/json:
              example: { Error: Nome e obrigatorio., error: Nome e obrigatorio., message: Nome e obrigatorio. }
        "409":
          description: E-mail ou CPF ja em uso.
          content:
            application/json:
              example: { Error: CPF ja esta em uso., error: CPF ja esta em uso., message: CPF ja esta em uso. }
        "500":
          $ref: "#/components/responses/InternalError"

  /login:
    post:
      tags: [Auth]
      summary: Login por e-mail e senha.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email: { type: string, format: email }
                password: { type: string }
      responses:
        "200":
          description: Login realizado; seta cookies `token` e `refresh_token`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthSuccess"
        "400":
          description: E-mail/senha ausentes.
        "401":
          description: Credenciais invalidas.
        "403":
          description: E-mail nao confirmado ou conta bloqueada.
        "429":
          description: Rate limit do Supabase Auth.
        "500":
          $ref: "#/components/responses/InternalError"

  /auth/session:
    post:
      tags: [Auth]
      summary: Cria sessao local a partir de access_token do Supabase.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [access_token]
              properties:
                access_token: { type: string }
      responses:
        "200":
          description: Sessao local criada.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthSuccess"
        "400":
          description: "`access_token` ausente ou token sem e-mail."
        "401":
          description: Sessao Supabase invalida.
        "500":
          $ref: "#/components/responses/InternalError"

  /auth/onboard:
    post:
      tags: [Auth]
      summary: Cria ou recupera perfil local a partir de access_token Supabase.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [access_token]
              properties:
                access_token: { type: string }
      responses:
        "200":
          description: Perfil local resolvido e sessao local criada.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthSuccess"
        "400":
          description: "`access_token` ausente ou token sem e-mail."
        "401":
          description: Sessao Supabase invalida.
        "500":
          $ref: "#/components/responses/InternalError"

  /auth/refresh:
    post:
      tags: [Auth]
      summary: Renova sessao local usando refresh token.
      security: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                refresh_token: { type: string }
                refreshToken:
                  type: string
                  description: Alias de `refresh_token`.
      responses:
        "200":
          description: Sessao renovada; seta novos cookies.
          content:
            application/json:
              allOf:
                - $ref: "#/components/schemas/AuthSuccess"
              example:
                Status: success
                status: success
                refreshed: true
                token: jwt-local
                refresh_token: jwt-refresh
                refreshToken: jwt-refresh
                precisa_aceitar_termos: false
                nova_versao: "1.0.0"
                user:
                  id_usuario: 00000000-0000-4000-8000-000000000000
                  auth_id: 00000000-0000-4000-8000-000000000000
                  nome: Maria Silva
                  email: maria@example.com
                  tipo: paciente
        "400":
          description: Refresh token ausente ou invalido estruturalmente.
        "401":
          description: Refresh token expirado/invalido.
        "404":
          description: Usuario nao encontrado para renovar sessao.
        "500":
          $ref: "#/components/responses/InternalError"

  /auth/forgot-password:
    post:
      tags: [Auth]
      summary: Solicita e-mail de recuperacao de senha.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties:
                email: { type: string, format: email }
      responses:
        "200":
          description: Solicitação enviada ao Supabase.
          content:
            application/json:
              example: { Status: ok, status: ok }
        "400":
          description: E-mail ausente/invalido ou erro do Supabase.
        "429":
          description: Muitas solicitacoes.

  /auth/update-password:
    post:
      tags: [Auth]
      summary: Atualiza senha usando credencial de recovery.
      security: []
      requestBody:
        $ref: "#/components/requestBodies/UpdatePassword"
      responses:
        "200":
          description: Senha atualizada.
          content:
            application/json:
              example: { Status: ok, status: ok, updated: true }
        "400":
          description: Credencial ou nova senha ausente; senha com menos de 8 caracteres.
        "401":
          description: Link/token/codigo invalido ou expirado.

  /auth/reset-password:
    post:
      tags: [Auth]
      summary: Alias de `/auth/update-password`.
      security: []
      requestBody:
        $ref: "#/components/requestBodies/UpdatePassword"
      responses:
        "200":
          description: Senha atualizada.
          content:
            application/json:
              example: { Status: ok, status: ok, updated: true }
        "400":
          description: Credencial ou nova senha ausente; senha com menos de 8 caracteres.
        "401":
          description: Link/token/codigo invalido ou expirado.

  /auth/recovery-redirect:
    get:
      tags: [Auth]
      summary: Redireciona links de recovery para a URL web configurada.
      security: []
      parameters:
        - name: access_token
          in: query
          schema: { type: string }
        - name: code
          in: query
          schema: { type: string }
        - name: token_hash
          in: query
          schema: { type: string }
        - name: token
          in: query
          schema: { type: string }
        - name: recovery_token
          in: query
          schema: { type: string }
        - name: supabase_access_token
          in: query
          schema: { type: string }
        - name: type
          in: query
          schema: { type: string }
        - name: error_description
          in: query
          schema: { type: string }
      responses:
        "302":
          description: Redireciona para `PASSWORD_RESET_REDIRECT_URL` preservando parametros permitidos.

  /auth/me:
    get:
      tags: [Auth]
      summary: Retorna o payload da sessao local atual.
      responses:
        "200":
          description: Sessao valida.
          content:
            application/json:
              example:
                Status: ok
                status: ok
                user:
                  sub: 00000000-0000-4000-8000-000000000000
                  last: 1790000000000
                  anon: false
                  nome: Maria Silva
                  email: maria@example.com
                  tipo: paciente
                  cpf: "12345678909"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "440":
          $ref: "#/components/responses/IdleTimeout"

  /logout:
    post:
      tags: [Auth]
      summary: Limpa cookies locais de autenticacao.
      security: []
      responses:
        "200":
          description: Logout realizado.
          content:
            application/json:
              example: { Status: Logged out, status: logged_out }

  /usuario:
    post:
      tags: [Usuario]
      summary: Cria/atualiza o usuario da sessao.
      requestBody:
        $ref: "#/components/requestBodies/UsuarioCreate"
      responses:
        "201":
          description: Usuario criado/atualizado.
          content:
            application/json:
              example:
                Status: created
                status: created
                usuario:
                  id_usuario: 00000000-0000-4000-8000-000000000000
                  auth_id: 00000000-0000-4000-8000-000000000000
                  nome: Maria Silva
                  cpf: "12345678909"
                  email: maria@example.com
                  tipo_usuario: paciente
        "400":
          description: Campo protegido, tipo invalido, CPF invalido ou data invalida.
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          description: Usuario da sessao nao encontrado na tabela usuario.
        "500":
          $ref: "#/components/responses/InternalError"
    get:
      tags: [Usuario]
      summary: Busca o usuario da sessao.
      responses:
        "200":
          description: Usuario encontrado.
          content:
            application/json:
              schema:
                type: object
                properties:
                  Status: { type: string, const: success }
                  status: { type: string, const: success }
                  usuario:
                    $ref: "#/components/schemas/Usuario"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          description: Usuario nao encontrado.
    patch:
      tags: [Usuario]
      summary: Atualiza parcialmente o usuario da sessao.
      requestBody:
        $ref: "#/components/requestBodies/UsuarioUpdate"
      responses:
        "200":
          description: Usuario atualizado.
        "400":
          description: Nenhum campo valido, campo protegido ou campo invalido.
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          description: Usuario nao encontrado.
        "500":
          $ref: "#/components/responses/InternalError"
    delete:
      tags: [Usuario]
      summary: Remove o usuario da sessao e seus dados relacionados.
      description: Remove registros dependentes em controle_medicacoes, medicacoes, consultas, enderecos, minha_jornada, evolucao, especialistas, clinicas, convenios, horario_atendimento e depois remove auth.users.
      responses:
        "200":
          description: Usuario removido.
          content:
            application/json:
              example:
                Status: deleted
                status: deleted
                usuario: {}
                auth_user_deleted: true
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          description: Usuario nao encontrado.
        "500":
          $ref: "#/components/responses/InternalError"

  /usuario/por-auth_id/{auth_id}:
    get:
      tags: [Usuario]
      summary: Busca usuario por auth_id, restrito ao proprio usuario autenticado.
      parameters:
        - $ref: "#/components/parameters/AuthId"
      responses:
        "200":
          description: Usuario encontrado.
          content:
            application/json:
              example:
                Status: success
                status: success
                total: 1
                usuarios: []
        "400":
          description: "`auth_id` nao e UUID valido."
        "403":
          description: "`auth_id` da URL nao corresponde ao usuario autenticado."
        "404":
          description: Usuario nao encontrado.

  /aceitar_termos:
    post:
      tags: [Usuario]
      summary: Aceita termos de uso e politica de privacidade atuais.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [termos_uso_aceito, politica_privacidade_aceita]
              properties:
                termos_uso_aceito:
                  type: boolean
                  const: true
                politica_privacidade_aceita:
                  type: boolean
                  const: true
                versao_termo:
                  type: string
                  description: Opcional; se enviado precisa ser igual a versao configurada no backend.
      responses:
        "200":
          description: Termos aceitos.
          content:
            application/json:
              example:
                Status: updated
                status: updated
                precisa_aceitar_termos: false
                nova_versao: "1.0.0"
                usuario: {}
        "400":
          description: Campos booleanos nao sao `true`.
        "409":
          description: Versao de termo enviada esta desatualizada.

  /consultas:
    $ref: "#/components/pathItems/ConsultasCollection"
  /consultas/{id}:
    $ref: "#/components/pathItems/ConsultasItem"
  /consultas/por-id_usuario/{id_usuario}:
    $ref: "#/components/pathItems/ConsultasByUsuario"
  /agenda-doria:
    $ref: "#/components/pathItems/AgendaDoriaCollection"
  /agenda-doria/{id}:
    $ref: "#/components/pathItems/AgendaDoriaItem"
  /agenda-doria/por-id_usuario/{id_usuario}:
    $ref: "#/components/pathItems/AgendaDoriaByUsuario"

  /enderecos:
    $ref: "#/components/pathItems/EnderecosCollection"
  /enderecos/{id}:
    $ref: "#/components/pathItems/EnderecosItem"
  /enderecos/por-id_usuario/{id_usuario}:
    $ref: "#/components/pathItems/EnderecosByUsuario"

  /medicacoes:
    $ref: "#/components/pathItems/MedicacoesCollection"
  /medicacoes/{id}:
    $ref: "#/components/pathItems/MedicacoesItem"
  /medicacoes/por-id_usuario/{id_usuario}:
    $ref: "#/components/pathItems/MedicacoesByUsuario"

  /controle-medicacoes:
    $ref: "#/components/pathItems/ControleMedicacoesCollection"
  /controle-medicacoes/{id}:
    $ref: "#/components/pathItems/ControleMedicacoesItem"
  /controle-medicacoes/por-id_medicacoes/{id_medicacoes}:
    $ref: "#/components/pathItems/ControleMedicacoesByMedicacao"

  /minha-jornada:
    $ref: "#/components/pathItems/MinhaJornadaCollection"
  /minha-jornada/{id}:
    $ref: "#/components/pathItems/MinhaJornadaItem"
  /minha-jornada/por-id_usuario/{id_usuario}:
    $ref: "#/components/pathItems/MinhaJornadaByUsuario"
  /registro-dor:
    $ref: "#/components/pathItems/RegistroDorCollection"
  /registro-dor/{id}:
    $ref: "#/components/pathItems/RegistroDorItem"
  /registro-dor/por-id_usuario/{id_usuario}:
    $ref: "#/components/pathItems/RegistroDorByUsuario"

  /evolucao:
    $ref: "#/components/pathItems/EvolucaoCollection"
  /evolucao/{id}:
    $ref: "#/components/pathItems/EvolucaoItem"
  /evolucao/por-id_usuario/{id_usuario}:
    $ref: "#/components/pathItems/EvolucaoByUsuario"

  /especialistas:
    $ref: "#/components/pathItems/EspecialistasCollection"
  /especialistas/{id}:
    $ref: "#/components/pathItems/EspecialistasItem"
  /especialistas/por-id_usuario/{id_usuario}:
    $ref: "#/components/pathItems/EspecialistasByUsuario"
  /especialista-sbed:
    $ref: "#/components/pathItems/EspecialistaSbedCollection"
  /especialista-sbed/{id}:
    $ref: "#/components/pathItems/EspecialistaSbedItem"
  /especialista-sbed/por-id_usuario/{id_usuario}:
    $ref: "#/components/pathItems/EspecialistaSbedByUsuario"

  /certificar_especialista/crm:
    post:
      tags: [Especialistas]
      summary: Verifica CRM na Consultar.IO e atualiza certificacao do especialista.
      requestBody:
        $ref: "#/components/requestBodies/CertificarConselho"
      responses:
        "200":
          $ref: "#/components/responses/CertificacaoConselhoSuccess"
        "400":
          description: "`codigo` e `uf/estado` obrigatorios; codigo com mais de 7 digitos; tipo invalido."
        "401":
          description: Sessao invalida para certificacao.
        "429":
          description: Cooldown de 5 minutos entre tentativas.
        "500":
          description: TOKEN_CONSULTARIO ausente ou erro ao atualizar especialista.
        "502":
          description: Falha externa ao consultar Consultar.IO.

  /certificar_especialista/cro:
    post:
      tags: [Especialistas]
      summary: Verifica CRO na Consultar.IO e atualiza certificacao do especialista.
      requestBody:
        $ref: "#/components/requestBodies/CertificarConselho"
      responses:
        "200":
          $ref: "#/components/responses/CertificacaoConselhoSuccess"
        "400":
          description: "`codigo` e `uf/estado` obrigatorios; `categoria` opcional e padrao `cd`."
        "429":
          description: Cooldown de 5 minutos entre tentativas.

  /certificar_especialista/crbm:
    post:
      tags: [Especialistas]
      summary: Verifica CRBM na Consultar.IO e atualiza certificacao do especialista.
      requestBody:
        $ref: "#/components/requestBodies/CertificarConselho"
      responses:
        "200":
          $ref: "#/components/responses/CertificacaoConselhoSuccess"
        "400":
          description: "`codigo` obrigatorio e `estado/regiao` precisa permitir identificar regiao CRBM."
        "429":
          description: Cooldown de 5 minutos entre tentativas.

  /certificar_especialista/crf:
    post:
      tags: [Especialistas]
      summary: Verifica CRF na Consultar.IO e atualiza certificacao do especialista.
      requestBody:
        $ref: "#/components/requestBodies/CertificarConselho"
      responses:
        "200":
          $ref: "#/components/responses/CertificacaoConselhoSuccess"
        "400":
          description: "`codigo`, `uf/estado` e `cidade` obrigatorios."
        "429":
          description: Cooldown de 5 minutos entre tentativas.

  /certificar_especialista_sbed:
    post:
      tags: [Especialistas]
      summary: Certifica especialista SBED pela tabela `doria.validacao_doria`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [cpf]
              properties:
                cpf:
                  type: string
                  description: CPF do usuario autenticado; alias aceito `CPF`.
                CPF:
                  type: string
                  deprecated: true
      responses:
        "200":
          description: Especialista SBED certificado.
          content:
            application/json:
              example:
                Status: success
                message: especialista sbed certificado com sucesso
                especialista:
                  id_especialista: 00000000-0000-4000-8000-000000000000
                  especialista_sbed: true
                validacao:
                  id: 1
                  Nome: Maria Silva
                  CPF: 12345678909
                  validado: true
        "400":
          description: CPF invalido ou CPF do usuario nao cadastrado.
        "401":
          description: Sessao invalida para certificacao SBED.
        "403":
          description: CPF informado nao corresponde ao CPF do usuario autenticado.
        "404":
          description: Usuario, especialista ou validacao SBED nao encontrado.
        "409":
          description: Especialista ja validado.
        "500":
          $ref: "#/components/responses/InternalError"

  /clinicas:
    $ref: "#/components/pathItems/ClinicasCollection"
  /clinicas/{id}:
    $ref: "#/components/pathItems/ClinicasItem"
  /clinicas/por-id_especialista/{id_especialista}:
    $ref: "#/components/pathItems/ClinicasByEspecialista"

  /horario-atendimento:
    $ref: "#/components/pathItems/HorarioAtendimentoCollection"
  /horario-atendimento/{id}:
    $ref: "#/components/pathItems/HorarioAtendimentoItem"
  /horario-atendimento/por-id_clinica/{id_clinica}:
    $ref: "#/components/pathItems/HorarioAtendimentoByClinica"

  /convenios:
    post:
      tags: [Convenios]
      summary: Cria/substitui todos os convenios de uma clinica.
      description: |
        Esta rota apaga todos os convenios antigos da clinica e insere a lista enviada.
        Aceita body unico, lista direta ou envelope `{ id_clinica, convenios: [...] }`.
        Para apagar todos os convenios da clinica, envie `{ id_clinica, convenios: [] }`.
      requestBody:
        $ref: "#/components/requestBodies/ConveniosReplace"
      responses:
        "201":
          description: Lista de convenios substituida.
          content:
            application/json:
              example:
                Status: created
                status: created
                total: 1
                convenio: { id_convenio: 00000000-0000-4000-8000-000000000000 }
                convenios: []
        "400":
          description: Body invalido, id_clinica invalido, itens de clinicas diferentes ou item sem nome/descricao.
        "403":
          description: Clinica nao pertence ao usuario autenticado.
        "404":
          description: Clinica ou especialista da clinica nao encontrado.
        "500":
          $ref: "#/components/responses/InternalError"
    get:
      tags: [Convenios]
      summary: Lista todos os convenios de todas as clinicas do especialista logado.
      responses:
        "200":
          description: Convenios encontrados.
          content:
            application/json:
              example:
                Status: success
                status: success
                total: 0
                convenios: []
        "401":
          $ref: "#/components/responses/Unauthorized"

  /convenios/por-id_clinica/{id_clinica}:
    get:
      tags: [Convenios]
      summary: Lista convenios de uma clinica especifica.
      parameters:
        - $ref: "#/components/parameters/IdClinica"
      responses:
        "200":
          description: Convenios da clinica.
        "400":
          description: id_clinica invalido.
        "403":
          description: Clinica nao pertence ao usuario.
        "404":
          description: Clinica nao encontrada.

  /convenios/{id}:
    get:
      tags: [Convenios]
      summary: Busca um convenio pelo id_convenio.
      parameters:
        - $ref: "#/components/parameters/Id"
      responses:
        "200":
          description: Convenio encontrado.
          content:
            application/json:
              example:
                Status: success
                status: success
                convenio: {}
        "400":
          description: id_convenio invalido.
        "403":
          description: Convenio nao pertence ao usuario.
        "404":
          description: Convenio nao encontrado.
    patch:
      tags: [Convenios]
      summary: Atualiza convenios substituindo a lista inteira da clinica.
      description: |
        Usa o mesmo comportamento de `POST /convenios`.
        Se o body nao tiver `id_clinica`, o backend usa o convenio da URL para descobrir a clinica.
      parameters:
        - $ref: "#/components/parameters/Id"
      requestBody:
        $ref: "#/components/requestBodies/ConveniosReplace"
      responses:
        "200":
          description: Convenios substituidos.
        "400":
          description: Body invalido ou id_clinica diferente da clinica do convenio da URL.
        "403":
          description: Clinica/convenio nao pertence ao usuario.
        "404":
          description: Convenio ou clinica nao encontrado.
    delete:
      tags: [Convenios]
      summary: Remove um convenio especifico.
      parameters:
        - $ref: "#/components/parameters/Id"
      responses:
        "200":
          description: Convenio removido.
          content:
            application/json:
              example:
                Status: deleted
                status: deleted
                convenio: {}
        "400":
          description: id_convenio invalido.
        "403":
          description: Convenio nao pertence ao usuario.
        "404":
          description: Convenio nao encontrado.

  /validar_interdor_2026:
    post:
      tags: [InterDOR]
      summary: Valida inscricao InterDOR 2026 no schema `sbed`.
      description: |
        Consulta a tabela `sbed."inscritos-InterDOR_2026_5-FDgi"`.
        Retorna sucesso se encontrar qualquer linha com `Nome = nome` OU `CPF/Passaporte = cpf/passaporte`.
        Nao retorna dados pessoais da inscricao.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              anyOf:
                - required: [nome]
                - required: [cpf_passaporte]
              properties:
                nome:
                  type: string
                  description: "Alias aceitos: Nome, name."
                cpf_passaporte:
                  type: string
                  description: "Alias aceitos: cpfPassaporte, cpf, passaporte, CPF/Passaporte."
                Nome:
                  type: string
                name:
                  type: string
                cpfPassaporte:
                  type: string
                cpf:
                  type: string
                passaporte:
                  type: string
                "CPF/Passaporte":
                  type: string
            example:
              nome: Maria Silva
              cpf_passaporte: "12345678909"
      responses:
        "200":
          description: Inscricao encontrada.
          content:
            application/json:
              example:
                Status: success
                status: success
                inscricao_encontrada: true
        "400":
          description: Nome e CPF/Passaporte ausentes.
          content:
            application/json:
              example:
                Error: "Nome ou CPF/Passaporte e obrigatorio."
                error: "Nome ou CPF/Passaporte e obrigatorio."
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          description: Nenhuma inscricao encontrada.
          content:
            application/json:
              example: { Error: Inscricao InterDOR nao encontrada., error: Inscricao InterDOR nao encontrada. }
        "500":
          $ref: "#/components/responses/InternalError"

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    cookieAuth:
      type: apiKey
      in: cookie
      name: token

  parameters:
    Id:
      name: id
      in: path
      required: true
      schema: { type: string, format: uuid }
    AuthId:
      name: auth_id
      in: path
      required: true
      schema: { type: string, format: uuid }
    IdUsuario:
      name: id_usuario
      in: path
      required: true
      schema: { type: string, format: uuid }
    IdMedicacoes:
      name: id_medicacoes
      in: path
      required: true
      schema: { type: string, format: uuid }
    IdEspecialista:
      name: id_especialista
      in: path
      required: true
      schema: { type: string, format: uuid }
    IdClinica:
      name: id_clinica
      in: path
      required: true
      schema: { type: string, format: uuid }

  responses:
    Unauthorized:
      description: Usuario nao autenticado.
      content:
        application/json:
          example: { Error: you are not authenticated }
    IdleTimeout:
      description: Sessao expirada por inatividade.
      content:
        application/json:
          example: { Error: token is not ok (idle timeout) }
    InternalError:
      description: Erro interno ou falha ao consultar/alterar Supabase.
      content:
        application/json:
          example: { Error: Falha ao consultar recurso., error: Falha ao consultar recurso. }
    CrudCreated:
      description: Recurso criado. A chave do objeto varia por rota conforme `x-crud-keys`.
      content:
        application/json:
          example:
            Status: created
            status: created
            consulta: {}
    CrudList:
      description: Lista de recursos do usuario autenticado. A chave da lista varia por rota conforme `x-crud-keys`.
      content:
        application/json:
          example:
            Status: success
            status: success
            total: 0
            consultas: []
    CrudSingle:
      description: Recurso encontrado. A chave do objeto varia por rota conforme `x-crud-keys`.
      content:
        application/json:
          example:
            Status: success
            status: success
            consulta: {}
    CrudUpdated:
      description: Recurso atualizado. A chave do objeto varia por rota conforme `x-crud-keys`.
      content:
        application/json:
          example:
            Status: updated
            status: updated
            consulta: {}
    CrudDeleted:
      description: Recurso removido. A chave do objeto varia por rota conforme `x-crud-keys`.
      content:
        application/json:
          example:
            Status: deleted
            status: deleted
            consulta: {}
    CertificacaoConselhoSuccess:
      description: Consulta concluida; `certificado` indica se o conselho foi encontrado.
      content:
        application/json:
          example:
            Status: success
            message: CRM encontrado na Consultar.IO. Especialista marcado como certificado.
            conselho: CRM
            certificado: true
            found: true
            consultar_io_status: 200
            consultar_io_response: {}
            consultar_io_request:
              path: /api/v1/crm/consultar
              query:
                uf: SP
                numero_registro: "12345"
            especialista: {}

  requestBodies:
    UpdatePassword:
      required: true
      content:
        application/json:
          schema:
            type: object
            required: [newPassword]
            properties:
              access_token:
                type: string
                description: Aceita JWT Supabase, code, token_hash ou URL quando enviado neste campo.
              accessToken: { type: string }
              token: { type: string }
              recovery_token: { type: string }
              supabase_access_token: { type: string }
              code: { type: string }
              auth_code: { type: string }
              supabase_code: { type: string }
              reset_url: { type: string }
              redirect_url: { type: string }
              deep_link: { type: string }
              url: { type: string }
              token_hash: { type: string }
              tokenHash: { type: string }
              newPassword:
                type: string
                minLength: 8
              new_password:
                type: string
                minLength: 8
              password:
                type: string
                minLength: 8
          example:
            access_token: eyJhbGciOi...
            newPassword: novaSenha123

    UsuarioCreate:
      required: false
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/UsuarioWritable"
    UsuarioUpdate:
      required: true
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/UsuarioWritable"

    CertificarConselho:
      required: true
      content:
        application/json:
          schema:
            type: object
            required: [codigo]
            properties:
              codigo:
                type: string
                description: Numero de registro; aliases aceitos `numero_registro`, `numeroRegistro`, `registro`.
              numero_registro: { type: string }
              numeroRegistro: { type: string }
              registro: { type: string }
              uf:
                type: string
                description: UF; aliases aceitos `estado`, `regiao`, `regiao` com acento no codigo.
              estado: { type: string }
              regiao: { type: string }
              cidade:
                type: string
                description: Obrigatorio para CRF; aliases aceitos `municipio`, `municipio` com acento no codigo.
              municipio: { type: string }
              categoria:
                type: string
                description: Usado no CRO; padrao `cd`.
          example:
            codigo: "12345"
            uf: SP
            cidade: SAO PAULO

    ConveniosReplace:
      required: true
      content:
        application/json:
          schema:
            oneOf:
              - $ref: "#/components/schemas/ConvenioWritable"
              - type: array
                items:
                  $ref: "#/components/schemas/ConvenioWritable"
              - type: object
                required: [id_clinica, convenios]
                properties:
                  id_clinica: { type: string, format: uuid }
                  convenios:
                    type: array
                    items:
                      $ref: "#/components/schemas/ConvenioWritableWithoutClinica"
          examples:
            unico:
              value:
                id_clinica: 00000000-0000-4000-8000-000000000000
                nome_convenio: Unimed
                descricao: Atendimento pelo convenio
            lista:
              value:
                - id_clinica: 00000000-0000-4000-8000-000000000000
                  nome_convenio: Unimed
                  descricao: Atendimento pelo convenio
            envelope:
              value:
                id_clinica: 00000000-0000-4000-8000-000000000000
                convenios:
                  - nome_convenio: Unimed
                    descricao: Atendimento pelo convenio
            apagarTodos:
              value:
                id_clinica: 00000000-0000-4000-8000-000000000000
                convenios: []

  schemas:
    Error:
      type: object
      properties:
        Error: { type: string }
        error: { type: string }
        message: { type: string }

    AuthSuccess:
      type: object
      properties:
        Status: { type: string, const: success }
        status: { type: string, const: success }
        token: { type: string }
        refresh_token: { type: string }
        refreshToken: { type: string }
        precisa_aceitar_termos: { type: boolean }
        nova_versao: { type: string }
        user:
          $ref: "#/components/schemas/PublicAuthUser"

    PublicAuthUser:
      type: object
      properties:
        id_usuario: { type: string, format: uuid }
        auth_id: { type: string, format: uuid }
        nome: { type: [string, "null"] }
        email: { type: [string, "null"], format: email }
        tipo: { type: string, enum: [paciente, especialista] }
        cpf: { type: [string, "null"] }
        notif_medicacoes: { type: [boolean, "null"] }
        notif_jornada: { type: [boolean, "null"] }
        notif_avaliacao: { type: [boolean, "null"] }
        notif_consultas: { type: [boolean, "null"] }
        termos_uso_aceito: { type: [boolean, "null"] }
        politica_privacidade_aceita: { type: [boolean, "null"] }
        versao_termo: { type: [string, "null"] }

    Usuario:
      type: object
      properties:
        id_usuario: { type: string, format: uuid }
        auth_id: { type: string, format: uuid }
        nome: { type: [string, "null"] }
        cpf: { type: [string, "null"] }
        created_at: { type: [string, "null"], format: date-time }
        email: { type: [string, "null"], format: email }
        tipo_usuario: { type: [string, "null"], enum: [paciente, especialista, null] }
        data_nascimento: { type: [string, "null"], format: date }
        telefone_pessoal: { type: [string, "null"] }
        sexo_biologico: { type: [integer, "null"] }
        area_de_atuacao: { type: [string, "null"] }
        notif_medicacoes: { type: [boolean, "null"] }
        notif_jornada: { type: [boolean, "null"] }
        notif_avaliacao: { type: [boolean, "null"] }
        notif_consultas: { type: [boolean, "null"] }
        termos_uso_aceito: { type: [boolean, "null"] }
        politica_privacidade_aceita: { type: [boolean, "null"] }
        versao_termo: { type: [string, "null"] }

    UsuarioWritable:
      type: object
      description: |
        Campos protegidos rejeitados: `id_usuario`, `uuid`, `auth_id`, `created_at`, `versao_termo`.
        Aliases aceitos: `tipo` para `tipo_usuario`, `sexo` para `sexo_biologico`,
        e `Area de Atuacao` legado no codigo para `area_de_atuacao`.
      properties:
        nome: { type: string }
        cpf: { type: string }
        email: { type: string, format: email }
        tipo_usuario: { type: string, enum: [paciente, especialista] }
        tipo: { type: string, enum: [paciente, especialista] }
        data_nascimento: { type: string, format: date }
        telefone_pessoal: { type: string }
        sexo_biologico: { type: integer }
        sexo: { type: integer }
        area_de_atuacao: { type: string }
        notif_medicacoes: { type: boolean }
        notif_jornada: { type: boolean }
        notif_avaliacao: { type: boolean }
        notif_consultas: { type: boolean }
        termos_uso_aceito: { type: boolean }
        politica_privacidade_aceita: { type: boolean }

    ConsultaWritable:
      type: object
      properties:
        medico: { type: string }
        data_hora: { type: string, format: date-time }
        notificacao: { type: string }
    Consulta:
      allOf:
        - $ref: "#/components/schemas/ConsultaWritable"
        - type: object
          properties:
            id_consulta: { type: string, format: uuid }
            id_usuario: { type: string, format: uuid }
            criado_em: { type: string, format: date-time }

    EnderecoWritable:
      type: object
      properties:
        rua: { type: string }
        cep: { type: string }
        complemento: { type: string }
        bairro: { type: string }
        cidade: { type: string }
        estado: { type: string }
        numero: { type: string }
    Endereco:
      allOf:
        - $ref: "#/components/schemas/EnderecoWritable"
        - type: object
          properties:
            id_enderecos: { type: string, format: uuid }
            id_usuario: { type: string, format: uuid }
            criado_em: { type: string, format: date-time }

    MedicacaoWritable:
      type: object
      description: "Aliases aceitos: `inicio` para `periodo_inicio`, `fim` para `periodo_fim`. Campos protegidos: `uuid`, `id_medicacoes`, `criado_em`, `created_at`."
      properties:
        nome: { type: string }
        frequencia: { type: string }
        continuo: { type: boolean }
        periodo_inicio: { type: string, format: date }
        inicio: { type: string, format: date }
        periodo_fim: { type: string, format: date }
        fim: { type: string, format: date }
        horarios: { type: string }
        horario_inicio: { type: string }
        notificacao_alerta: { type: string }
    Medicacao:
      allOf:
        - $ref: "#/components/schemas/MedicacaoWritable"
        - type: object
          properties:
            id_medicacoes: { type: string, format: uuid }
            id_usuario: { type: string, format: uuid }
            criado_em: { type: string, format: date-time }

    ControleMedicacaoWritable:
      type: object
      properties:
        id_medicacoes: { type: string, format: uuid }
        tomou: { type: boolean }
    ControleMedicacao:
      allOf:
        - $ref: "#/components/schemas/ControleMedicacaoWritable"
        - type: object
          properties:
            id_controle: { type: string, format: uuid }
            criado_em: { type: string, format: date-time }

    JornadaWritable:
      type: object
      description: |
        Aliases aceitos: `registro` para `descricao`, `nivel_de_dor` para `nivel_dor`, `nivel_sono` para `qualidade_sono`, `nivel_ansiedade` para `nivel_emocional`. Campos protegidos: `dia`, `dia_hora`, `uuid`, `criado em`.
      properties:
        nivel_dor: { type: integer }
        nivel_de_dor: { type: integer }
        qualidade_sono: { type: integer }
        nivel_sono: { type: integer }
        nivel_emocional: { type: integer }
        nivel_ansiedade: { type: integer }
        descricao: { type: string }
        registro: { type: string }
    Jornada:
      allOf:
        - $ref: "#/components/schemas/JornadaWritable"
        - type: object
          properties:
            id_registro: { type: string, format: uuid }
            id_usuario: { type: string, format: uuid }
            criado_em: { type: string, format: date-time }

    EvolucaoWritable:
      type: object
      properties:
        inicio: { type: string }
        localizacao: { type: string }
        duracao: { type: string }
        caracteristica: { type: string }
        fatores: { type: string }
        irradiacao: { type: string }
        padrao_temporal: { type: string }
        sintomas_associados: { type: string }
    Evolucao:
      allOf:
        - $ref: "#/components/schemas/EvolucaoWritable"
        - type: object
          properties:
            id_avaliacao: { type: string, format: uuid }
            id_usuario: { type: string, format: uuid }
            criado_em: { type: string, format: date-time }

    EspecialistaWritable:
      type: object
      description: "Campos protegidos: `id_usuario`, `usuario_id`, `verificado`, `ultima_tentativa_verificacao`, `especialista_sbed`, `id_especialista`, `criado_em`, `created_at`."
      properties:
        profissao: { type: string }
        conselho: { type: string }
        estado_conselho: { type: string }
        num_registro_conselho: { type: string }
        especialidade: { type: string }
        registro_rqe: { type: string }
        curriculo: { type: string }
        termo_aceito: { type: boolean }
    Especialista:
      allOf:
        - $ref: "#/components/schemas/EspecialistaWritable"
        - type: object
          properties:
            id_especialista: { type: string, format: uuid }
            id_usuario:
              type: string
              format: uuid
              description: "No banco esta coluna aparece como `id_usuario` com acento no codigo original."
            criado_em: { type: string, format: date-time }
            verificado: { type: [boolean, "null"] }
            ultima_tentativa_verificacao: { type: [string, "null"], format: date-time }
            especialista_sbed: { type: [boolean, "null"] }

    ClinicaWritable:
      type: object
      description: "Alias aceito: `numero` para campo de banco `numer`."
      properties:
        id_especialista: { type: string, format: uuid }
        nome: { type: string }
        whatsapp: { type: string }
        email: { type: string }
        tipo_atendimento: { type: string }
        site: { type: string }
        instagram: { type: string }
        facebook: { type: string }
        linkedin: { type: string }
        cep: { type: string }
        rua: { type: string }
        cidade: { type: string }
        estado: { type: string }
        complemento: { type: string }
        numer: { type: string }
        numero: { type: string }
        bairro: { type: string }
        tipo_consulta: { type: string }
    Clinica:
      allOf:
        - $ref: "#/components/schemas/ClinicaWritable"
        - type: object
          properties:
            id_clinica: { type: string, format: uuid }
            criado_em: { type: string, format: date-time }

    HorarioAtendimentoWritable:
      type: object
      properties:
        id_clinica: { type: string, format: uuid }
        dia: { type: string }
        comeco:
          type: string
          description: Formato `HH:mm` ou `HH:mm:ss`.
        fim:
          type: string
          description: Formato `HH:mm` ou `HH:mm:ss`.
    HorarioAtendimento:
      allOf:
        - $ref: "#/components/schemas/HorarioAtendimentoWritable"
        - type: object
          properties:
            id_atendimento: { type: string, format: uuid }
            criado_em: { type: string, format: date-time }

    ConvenioWritable:
      type: object
      properties:
        id_clinica: { type: string, format: uuid }
        nome_convenio: { type: string }
        descricao:
          type: string
          description: Alias sem acento para coluna `descricao` acentuada no banco.
    ConvenioWritableWithoutClinica:
      type: object
      properties:
        nome_convenio: { type: string }
        descricao: { type: string }
    Convenio:
      allOf:
        - $ref: "#/components/schemas/ConvenioWritable"
        - type: object
          properties:
            id_convenio: { type: string, format: uuid }
            criado_em: { type: string, format: date-time }

  pathItems:
    ConsultasCollection:
      post:
        tags: [Consultas]
        summary: Cria consulta.
        requestBody:
          required: true
          content:
            application/json:
              schema:
                required: [medico, data_hora]
                allOf:
                  - $ref: "#/components/schemas/ConsultaWritable"
        responses:
          "201": { $ref: "#/components/responses/CrudCreated" }
          "400": { description: medico e data_hora obrigatorios; data_hora deve ser data/hora valida. }
          "401": { $ref: "#/components/responses/Unauthorized" }
          "500": { $ref: "#/components/responses/InternalError" }
      get:
        tags: [Consultas]
        summary: Lista consultas do usuario autenticado.
        responses:
          "200": { $ref: "#/components/responses/CrudList" }
    ConsultasItem:
      parameters:
        - $ref: "#/components/parameters/Id"
      get:
        tags: [Consultas]
        summary: Busca consulta por id_consulta.
        responses:
          "200": { $ref: "#/components/responses/CrudSingle" }
          "400": { description: id_consulta invalido. }
          "403": { description: Consulta nao pertence ao usuario. }
          "404": { description: Consulta nao encontrada. }
      patch:
        tags: [Consultas]
        summary: Atualiza consulta.
        requestBody:
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ConsultaWritable" }
        responses:
          "200": { $ref: "#/components/responses/CrudUpdated" }
          "400": { description: Nenhum campo valido ou campo invalido. }
      delete:
        tags: [Consultas]
        summary: Remove consulta.
        responses:
          "200": { $ref: "#/components/responses/CrudDeleted" }
    ConsultasByUsuario:
      parameters:
        - $ref: "#/components/parameters/IdUsuario"
      get:
        tags: [Consultas]
        summary: Lista consultas por id_usuario, validando ownership.
        responses:
          "200": { $ref: "#/components/responses/CrudList" }
          "400": { description: id_usuario invalido. }
          "403": { description: id_usuario nao pertence ao usuario autenticado. }

    AgendaDoriaCollection:
      $ref: "#/components/pathItems/ConsultasCollection"
    AgendaDoriaItem:
      $ref: "#/components/pathItems/ConsultasItem"
    AgendaDoriaByUsuario:
      $ref: "#/components/pathItems/ConsultasByUsuario"

    EnderecosCollection:
      post:
        tags: [Enderecos]
        summary: Cria endereco.
        requestBody:
          content:
            application/json:
              schema: { $ref: "#/components/schemas/EnderecoWritable" }
        responses:
          "201": { $ref: "#/components/responses/CrudCreated" }
          "400": { description: Campo com tipo invalido ou campo protegido. }
      get:
        tags: [Enderecos]
        summary: Lista enderecos do usuario autenticado.
        responses:
          "200": { $ref: "#/components/responses/CrudList" }
    EnderecosItem:
      parameters:
        - $ref: "#/components/parameters/Id"
      get:
        tags: [Enderecos]
        summary: Busca endereco por id_enderecos.
        responses:
          "200": { $ref: "#/components/responses/CrudSingle" }
      patch:
        tags: [Enderecos]
        summary: Atualiza endereco.
        requestBody:
          content:
            application/json:
              schema: { $ref: "#/components/schemas/EnderecoWritable" }
        responses:
          "200": { $ref: "#/components/responses/CrudUpdated" }
      delete:
        tags: [Enderecos]
        summary: Remove endereco.
        responses:
          "200": { $ref: "#/components/responses/CrudDeleted" }
    EnderecosByUsuario:
      parameters:
        - $ref: "#/components/parameters/IdUsuario"
      get:
        tags: [Enderecos]
        summary: Lista enderecos por id_usuario, validando ownership.
        responses:
          "200": { $ref: "#/components/responses/CrudList" }

    MedicacoesCollection:
      post:
        tags: [Medicacoes]
        summary: Cria medicacao.
        requestBody:
          required: true
          content:
            application/json:
              schema:
                required: [nome]
                allOf:
                  - $ref: "#/components/schemas/MedicacaoWritable"
        responses:
          "201": { $ref: "#/components/responses/CrudCreated" }
          "400": { description: nome obrigatorio, datas invalidas, boolean invalido ou campo protegido. }
      get:
        tags: [Medicacoes]
        summary: Lista medicacoes do usuario autenticado.
        responses:
          "200": { $ref: "#/components/responses/CrudList" }
    MedicacoesItem:
      parameters:
        - $ref: "#/components/parameters/Id"
      get:
        tags: [Medicacoes]
        summary: Busca medicacao por id_medicacoes.
        responses:
          "200": { $ref: "#/components/responses/CrudSingle" }
      patch:
        tags: [Medicacoes]
        summary: Atualiza medicacao.
        requestBody:
          content:
            application/json:
              schema: { $ref: "#/components/schemas/MedicacaoWritable" }
        responses:
          "200": { $ref: "#/components/responses/CrudUpdated" }
      delete:
        tags: [Medicacoes]
        summary: Remove medicacao.
        responses:
          "200": { $ref: "#/components/responses/CrudDeleted" }
    MedicacoesByUsuario:
      parameters:
        - $ref: "#/components/parameters/IdUsuario"
      get:
        tags: [Medicacoes]
        summary: Lista medicacoes por id_usuario, validando ownership.
        responses:
          "200": { $ref: "#/components/responses/CrudList" }

    ControleMedicacoesCollection:
      post:
        tags: [Controle Medicacoes]
        summary: Cria registro de controle de medicacao.
        requestBody:
          required: true
          content:
            application/json:
              schema:
                required: [id_medicacoes]
                allOf:
                  - $ref: "#/components/schemas/ControleMedicacaoWritable"
        responses:
          "201": { $ref: "#/components/responses/CrudCreated" }
          "400": { description: id_medicacoes obrigatorio/invalido ou boolean invalido. }
          "403": { description: Medicacao pai nao pertence ao usuario. }
          "404": { description: Medicacao pai nao encontrada. }
      get:
        tags: [Controle Medicacoes]
        summary: Lista controles das medicacoes do usuario autenticado.
        responses:
          "200": { $ref: "#/components/responses/CrudList" }
    ControleMedicacoesItem:
      parameters:
        - $ref: "#/components/parameters/Id"
      get:
        tags: [Controle Medicacoes]
        summary: Busca controle por id_controle.
        responses:
          "200": { $ref: "#/components/responses/CrudSingle" }
      patch:
        tags: [Controle Medicacoes]
        summary: Atualiza controle.
        requestBody:
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ControleMedicacaoWritable" }
        responses:
          "200": { $ref: "#/components/responses/CrudUpdated" }
      delete:
        tags: [Controle Medicacoes]
        summary: Remove controle.
        responses:
          "200": { $ref: "#/components/responses/CrudDeleted" }
    ControleMedicacoesByMedicacao:
      parameters:
        - $ref: "#/components/parameters/IdMedicacoes"
      get:
        tags: [Controle Medicacoes]
        summary: Lista controles por id_medicacoes, validando ownership.
        responses:
          "200": { $ref: "#/components/responses/CrudList" }

    MinhaJornadaCollection:
      post:
        tags: [Minha Jornada]
        summary: Cria registro de jornada/dor.
        requestBody:
          content:
            application/json:
              schema: { $ref: "#/components/schemas/JornadaWritable" }
        responses:
          "201": { $ref: "#/components/responses/CrudCreated" }
          "400": { description: Campo invalido ou protegido. }
      get:
        tags: [Minha Jornada]
        summary: Lista registros de jornada do usuario autenticado.
        responses:
          "200": { $ref: "#/components/responses/CrudList" }
    MinhaJornadaItem:
      parameters:
        - $ref: "#/components/parameters/Id"
      get:
        tags: [Minha Jornada]
        summary: Busca registro de jornada por id_registro.
        responses:
          "200": { $ref: "#/components/responses/CrudSingle" }
      patch:
        tags: [Minha Jornada]
        summary: Atualiza registro de jornada.
        requestBody:
          content:
            application/json:
              schema: { $ref: "#/components/schemas/JornadaWritable" }
        responses:
          "200": { $ref: "#/components/responses/CrudUpdated" }
      delete:
        tags: [Minha Jornada]
        summary: Remove registro de jornada.
        responses:
          "200": { $ref: "#/components/responses/CrudDeleted" }
    MinhaJornadaByUsuario:
      parameters:
        - $ref: "#/components/parameters/IdUsuario"
      get:
        tags: [Minha Jornada]
        summary: Lista registros por id_usuario, validando ownership.
        responses:
          "200": { $ref: "#/components/responses/CrudList" }
    RegistroDorCollection:
      $ref: "#/components/pathItems/MinhaJornadaCollection"
    RegistroDorItem:
      $ref: "#/components/pathItems/MinhaJornadaItem"
    RegistroDorByUsuario:
      $ref: "#/components/pathItems/MinhaJornadaByUsuario"

    EvolucaoCollection:
      post:
        tags: [Evolucao]
        summary: Cria avaliacao de evolucao.
        requestBody:
          content:
            application/json:
              schema: { $ref: "#/components/schemas/EvolucaoWritable" }
        responses:
          "201": { $ref: "#/components/responses/CrudCreated" }
      get:
        tags: [Evolucao]
        summary: Lista evolucoes do usuario autenticado.
        responses:
          "200": { $ref: "#/components/responses/CrudList" }
    EvolucaoItem:
      parameters:
        - $ref: "#/components/parameters/Id"
      get:
        tags: [Evolucao]
        summary: Busca evolucao por id_avaliacao.
        responses:
          "200": { $ref: "#/components/responses/CrudSingle" }
      patch:
        tags: [Evolucao]
        summary: Atualiza evolucao.
        requestBody:
          content:
            application/json:
              schema: { $ref: "#/components/schemas/EvolucaoWritable" }
        responses:
          "200": { $ref: "#/components/responses/CrudUpdated" }
      delete:
        tags: [Evolucao]
        summary: Remove evolucao.
        responses:
          "200": { $ref: "#/components/responses/CrudDeleted" }
    EvolucaoByUsuario:
      parameters:
        - $ref: "#/components/parameters/IdUsuario"
      get:
        tags: [Evolucao]
        summary: Lista evolucoes por id_usuario, validando ownership.
        responses:
          "200": { $ref: "#/components/responses/CrudList" }

    EspecialistasCollection:
      post:
        tags: [Especialistas]
        summary: Cria especialista vinculado ao usuario autenticado.
        requestBody:
          content:
            application/json:
              schema: { $ref: "#/components/schemas/EspecialistaWritable" }
        responses:
          "201": { $ref: "#/components/responses/CrudCreated" }
          "400": { description: Campo invalido ou protegido. }
      get:
        tags: [Especialistas]
        summary: Lista especialistas do usuario autenticado.
        responses:
          "200": { $ref: "#/components/responses/CrudList" }
    EspecialistasItem:
      parameters:
        - $ref: "#/components/parameters/Id"
      get:
        tags: [Especialistas]
        summary: Busca especialista por id_especialista.
        responses:
          "200": { $ref: "#/components/responses/CrudSingle" }
      patch:
        tags: [Especialistas]
        summary: Atualiza especialista.
        requestBody:
          content:
            application/json:
              schema: { $ref: "#/components/schemas/EspecialistaWritable" }
        responses:
          "200": { $ref: "#/components/responses/CrudUpdated" }
      delete:
        tags: [Especialistas]
        summary: Remove especialista.
        responses:
          "200": { $ref: "#/components/responses/CrudDeleted" }
    EspecialistasByUsuario:
      parameters:
        - $ref: "#/components/parameters/IdUsuario"
      get:
        tags: [Especialistas]
        summary: Lista especialistas por id_usuario, validando ownership.
        responses:
          "200": { $ref: "#/components/responses/CrudList" }
    EspecialistaSbedCollection:
      $ref: "#/components/pathItems/EspecialistasCollection"
    EspecialistaSbedItem:
      $ref: "#/components/pathItems/EspecialistasItem"
    EspecialistaSbedByUsuario:
      $ref: "#/components/pathItems/EspecialistasByUsuario"

    ClinicasCollection:
      post:
        tags: [Clinicas]
        summary: Cria clinica de um especialista do usuario autenticado.
        requestBody:
          required: true
          content:
            application/json:
              schema:
                required: [id_especialista]
                allOf:
                  - $ref: "#/components/schemas/ClinicaWritable"
        responses:
          "201": { $ref: "#/components/responses/CrudCreated" }
          "400": { description: id_especialista obrigatorio/invalido ou campo invalido. }
          "403": { description: Especialista pai nao pertence ao usuario. }
          "404": { description: Especialista pai nao encontrado. }
      get:
        tags: [Clinicas]
        summary: Lista clinicas dos especialistas do usuario autenticado.
        responses:
          "200": { $ref: "#/components/responses/CrudList" }
    ClinicasItem:
      parameters:
        - $ref: "#/components/parameters/Id"
      get:
        tags: [Clinicas]
        summary: Busca clinica por id_clinica.
        responses:
          "200": { $ref: "#/components/responses/CrudSingle" }
      patch:
        tags: [Clinicas]
        summary: Atualiza clinica.
        requestBody:
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ClinicaWritable" }
        responses:
          "200": { $ref: "#/components/responses/CrudUpdated" }
      delete:
        tags: [Clinicas]
        summary: Remove clinica.
        responses:
          "200": { $ref: "#/components/responses/CrudDeleted" }
    ClinicasByEspecialista:
      parameters:
        - $ref: "#/components/parameters/IdEspecialista"
      get:
        tags: [Clinicas]
        summary: Lista clinicas por id_especialista, validando ownership.
        responses:
          "200": { $ref: "#/components/responses/CrudList" }

    HorarioAtendimentoCollection:
      post:
        tags: [Horario Atendimento]
        summary: Cria horario de atendimento de uma clinica do usuario autenticado.
        requestBody:
          required: true
          content:
            application/json:
              schema:
                required: [id_clinica]
                allOf:
                  - $ref: "#/components/schemas/HorarioAtendimentoWritable"
        responses:
          "201": { $ref: "#/components/responses/CrudCreated" }
          "400": { description: id_clinica obrigatorio/invalido, hora invalida ou campo invalido. }
          "403": { description: Clinica pai nao pertence ao usuario. }
          "404": { description: Clinica pai nao encontrada. }
      get:
        tags: [Horario Atendimento]
        summary: Lista horarios das clinicas do usuario autenticado.
        responses:
          "200": { $ref: "#/components/responses/CrudList" }
    HorarioAtendimentoItem:
      parameters:
        - $ref: "#/components/parameters/Id"
      get:
        tags: [Horario Atendimento]
        summary: Busca horario por id_atendimento.
        responses:
          "200": { $ref: "#/components/responses/CrudSingle" }
      patch:
        tags: [Horario Atendimento]
        summary: Atualiza horario.
        requestBody:
          content:
            application/json:
              schema: { $ref: "#/components/schemas/HorarioAtendimentoWritable" }
        responses:
          "200": { $ref: "#/components/responses/CrudUpdated" }
      delete:
        tags: [Horario Atendimento]
        summary: Remove horario.
        responses:
          "200": { $ref: "#/components/responses/CrudDeleted" }
    HorarioAtendimentoByClinica:
      parameters:
        - $ref: "#/components/parameters/IdClinica"
      get:
        tags: [Horario Atendimento]
        summary: Lista horarios por id_clinica, validando ownership.
        responses:
          "200": { $ref: "#/components/responses/CrudList" }

    CrudCommonResponses:
      description: |
        Rotas CRUD tambem podem retornar:
        - 401: `{ Error: "you are not authenticated" }`
        - 440: `{ Error: "token is not ok (idle timeout)" }`
        - 400: parametro UUID invalido, campo obrigatorio ausente, tipo invalido, campo protegido, ou update sem campos validos
        - 403: usuario nao tem permissao para acessar o recurso
        - 404: recurso ou registro pai nao encontrado
        - 500: falha em consulta/insert/update/delete no Supabase

  # Respostas genericas usadas pelos CRUDs gerados por createCrudResourceRoutes.
  # A chave concreta do recurso muda conforme a rota: consulta, endereco, medicacao,
  # controle_medicacao, registro, evolucao, especialista, clinica, horario_atendimento.
  x-crud-response-shapes:
    created:
      Status: created
      status: created
      "<singleKey>": {}
    list:
      Status: success
      status: success
      total: 0
      "<listKey>": []
    single:
      Status: success
      status: success
      "<singleKey>": {}
    updated:
      Status: updated
      status: updated
      "<singleKey>": {}
    deleted:
      Status: deleted
      status: deleted
      "<singleKey>": {}

  # Extensao auxiliar para documentar os nomes reais de singleKey/listKey por recurso.
  x-crud-keys:
    consultas: { singleKey: consulta, listKey: consultas }
    agenda-doria: { singleKey: consulta, listKey: consultas }
    enderecos: { singleKey: endereco, listKey: enderecos }
    medicacoes: { singleKey: medicacao, listKey: medicacoes }
    controle-medicacoes: { singleKey: controle_medicacao, listKey: controle_medicacoes }
    minha-jornada: { singleKey: registro, listKey: registros }
    registro-dor: { singleKey: registro, listKey: registros }
    evolucao: { singleKey: evolucao, listKey: evolucoes }
    especialistas: { singleKey: especialista, listKey: especialistas }
    especialista-sbed: { singleKey: especialista, listKey: especialistas }
    clinicas: { singleKey: clinica, listKey: clinicas }
    horario-atendimento: { singleKey: horario_atendimento, listKey: horarios_atendimento }

  # Estes aliases de resposta sao definidos aqui para facilitar leitura em ferramentas
  # que exibem componentes/responses.
  x-note: As respostas CrudCreated/CrudList/CrudSingle/CrudUpdated/CrudDeleted estao descritas em `x-crud-response-shapes`.
