openapi: 3.0.3
info:
  title: Fale com a Doria API
  version: 3.1.0
  description: 'Especificação OpenAPI gerada a partir do backend Fastify/TypeScript enviado. Endpoints autenticados aceitam
    JWT via Authorization: Bearer <token> ou cookie httpOnly `token`.'
servers:
- url: https://api.falecomadoria.com.br
  description: Produção
- url: http://localhost:3433
  description: Desenvolvimento local
tags:
- name: Health
- name: Autenticação
- name: Chat
- name: Usuário
- name: Consultas
- name: Minha Jornada
- name: Especialistas
- name: Clínicas
- name: Convênios
- name: Endereços
- name: Horário Atendimento
- name: Medicações
- name: Controle Medicações
- name: Evolução
paths:
  /:
    get:
      summary: Verifica saúde da API e estado da sessão via cookie.
      tags:
      - Health
      security: []
      operationId: get_root_health
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
  /aceitar_termos:
    post:
      summary: Registra aceite dos termos de uso e política de privacidade.
      tags:
      - Usuário
      security:
      - bearerAuth: []
      - cookieAuth: []
      operationId: post_aceitar_termos
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AceitarTermosRequest'
      responses:
        '200':
          description: Termos aceitos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AceitarTermosResponse'
        '400':
          description: Requisição inválida
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Não autenticado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Conflito
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '440':
          description: Sessão expirada por inatividade
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Erro interno
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /agenda-doria:
    post:
      summary: Cria um registro em /agenda-doria.
      tags:
      - Consultas
      security:
      - bearerAuth: []
      - cookieAuth: []
      operationId: post_agenda_doria
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConsultaCreate'
      responses:
        '201':
          description: Criado
          content:
            application/json:
              schema:
                type: object
                properties:
                  Status:
                    type: string
                  status:
                    type: string
                  consulta:
                    $ref: '#/components/schemas/Consulta'
                additionalProperties: true
        '400':
          description: Requisição inválida
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Não autenticado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Sem permissão
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Não encontrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '440':
          description: Sessão expirada por inatividade
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Erro interno
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    get:
      summary: Lista registros de /agenda-doria pertencentes ao usuário autenticado.
      tags:
      - Consultas
      security:
      - bearerAuth: []
      - cookieAuth: []
      operationId: get_agenda_doria
      responses:
        '200':
          description: Lista de registros
          content:
            application/json:
              schema:
                type: object
                properties:
                  Status:
                    type: string
                  status:
                    type: string
                  total:
                    type: integer
                  consultas:
                    type: array
                    items:
                      $ref: '#/components/schemas/Consulta'
                additionalProperties: true
        '401':
          description: Não autenticado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Sem permissão
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '440':
          description: Sessão expirada por inatividade
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Erro interno
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /certificar_especialista:
    post:
      summary: Certifica especialista via integração Consultar.io.
      tags:
      - Especialistas
      security:
      - bearerAuth: []
      - cookieAuth: []
      operationId: post_certificar_especialista
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CertificarEspecialistaRequest'
      responses:
        '200':
          description: Especialista certificado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CertificarEspecialistaResponse'
        '400':
          description: Requisição inválida
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Não autenticado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Não encontrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Conflito
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Muitas requisições
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '440':
          description: Sessão expirada por inatividade
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Erro interno
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /certificar_especialista_sbed:
    post:
      summary: Certifica especialista SBED usando CPF do usuário autenticado.
      tags:
      - Especialistas
      security:
      - bearerAuth: []
      - cookieAuth: []
      operationId: post_certificar_especialista_sbed
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CertificarEspecialistaSbedRequest'
      responses:
        '200':
          description: Especialista SBED certificado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CertificarEspecialistaSbedResponse'
        '400':
          description: Requisição inválida
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Não autenticado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Sem permissão
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Não encontrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Conflito
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '440':
          description: Sessão expirada por inatividade
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Erro interno
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /clinicas:
    post:
      summary: Cria um registro em /clinicas.
      tags:
      - Clínicas
      security:
      - bearerAuth: []
      - cookieAuth: []
      operationId: post_clinicas
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClinicaCreate'
      responses:
        '201':
          description: Criado
          content:
            application/json:
              schema:
                type: object
                properties:
                  Status:
                    type: string
                  status:
                    type: string
                  clinica:
                    $ref: '#/components/schemas/Clinica'
                additionalProperties: true
        '400':
          description: Requisição inválida
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Não autenticado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Sem permissão
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Não encontrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '440':
          description: Sessão expirada por inatividade
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Erro interno
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    get:
      summary: Lista registros de /clinicas pertencentes ao usuário autenticado.
      tags:
      - Clínicas
      security:
      - bearerAuth: []
      - cookieAuth: []
      operationId: get_clinicas
      responses:
        '200':
          description: Lista de registros
          content:
            application/json:
              schema:
                type: object
                properties:
                  Status:
                    type: string
                  status:
                    type: string
                  total:
                    type: integer
                  clinicas:
                    type: array
                    items:
                      $ref: '#/components/schemas/Clinica'
                additionalProperties: true
        '401':
          description: Não autenticado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Sem permissão
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '440':
          description: Sessão expirada por inatividade
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Erro interno
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /consent:
    post:
      summary: Cria sessão anônima após aceite de consentimento.
      tags:
      - Chat
      security: []
      operationId: post_consent
      responses:
        '200':
          description: Consentimento aceito
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsentResponse'
  /consultas:
    post:
      summary: Cria um registro em /consultas.
      tags:
      - Consultas
      security:
      - bearerAuth: []
      - cookieAuth: []
      operationId: post_consultas
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConsultaCreate'
      responses:
        '201':
          description: Criado
          content:
            application/json:
              schema:
                type: object
                properties:
                  Status:
                    type: string
                  status:
                    type: string
                  consulta:
                    $ref: '#/components/schemas/Consulta'
                additionalProperties: true
        '400':
          description: Requisição inválida
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Não autenticado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Sem permissão
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Não encontrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '440':
          description: Sessão expirada por inatividade
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Erro interno
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    get:
      summary: Lista registros de /consultas pertencentes ao usuário autenticado.
      tags:
      - Consultas
      security:
      - bearerAuth: []
      - cookieAuth: []
      operationId: get_consultas
      responses:
        '200':
          description: Lista de registros
          content:
            application/json:
              schema:
                type: object
                properties:
                  Status:
                    type: string
                  status:
                    type: string
                  total:
                    type: integer
                  consultas:
                    type: array
                    items:
                      $ref: '#/components/schemas/Consulta'
                additionalProperties: true
        '401':
          description: Não autenticado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Sem permissão
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '440':
          description: Sessão expirada por inatividade
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Erro interno
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /controle-medicacoes:
    post:
      summary: Cria um registro em /controle-medicacoes.
      tags:
      - Controle Medicações
      security:
      - bearerAuth: []
      - cookieAuth: []
      operationId: post_controle_medicacoes
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ControleMedicacaoCreate'
      responses:
        '201':
          description: Criado
          content:
            application/json:
              schema:
                type: object
                properties:
                  Status:
                    type: string
                  status:
                    type: string
                  controle_medicacao:
                    $ref: '#/components/schemas/ControleMedicacao'
                additionalProperties: true
        '400':
          description: Requisição inválida
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Não autenticado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Sem permissão
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Não encontrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '440':
          description: Sessão expirada por inatividade
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Erro interno
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    get:
      summary: Lista registros de /controle-medicacoes pertencentes ao usuário autenticado.
      tags:
      - Controle Medicações
      security:
      - bearerAuth: []
      - cookieAuth: []
      operationId: get_controle_medicacoes
      responses:
        '200':
          description: Lista de registros
          content:
            application/json:
              schema:
                type: object
                properties:
                  Status:
                    type: string
                  status:
                    type: string
                  total:
                    type: integer
                  controle_medicacoes:
                    type: array
                    items:
                      $ref: '#/components/schemas/ControleMedicacao'
                additionalProperties: true
        '401':
          description: Não autenticado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Sem permissão
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '440':
          description: Sessão expirada por inatividade
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Erro interno
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /convenios:
    post:
      summary: Cria/substitui todos os convênios de uma clínica.
      tags:
      - Convênios
      security:
      - bearerAuth: []
      - cookieAuth: []
      operationId: post_convenios
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConveniosReplaceRequest'
      responses:
        '201':
          description: Convênios criados/substituídos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConveniosListResponse'
        '400':
          description: Requisição inválida
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Não autenticado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Sem permissão
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Não encontrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '440':
          description: Sessão expirada por inatividade
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Erro interno
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    get:
      summary: Lista todos os convênios de todas as clínicas do especialista logado.
      tags:
      - Convênios
      security:
      - bearerAuth: []
      - cookieAuth: []
      operationId: get_convenios
      responses:
        '200':
          description: Lista de convênios
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConveniosListResponse'
        '401':
          description: Não autenticado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '440':
          description: Sessão expirada por inatividade
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Erro interno
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /enderecos:
    post:
      summary: Cria um registro em /enderecos.
      tags:
      - Endereços
      security:
      - bearerAuth: []
      - cookieAuth: []
      operationId: post_enderecos
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnderecoCreate'
      responses:
        '201':
          description: Criado
          content:
            application/json:
              schema:
                type: object
                properties:
                  Status:
                    type: string
                  status:
                    type: string
                  endereco:
                    $ref: '#/components/schemas/Endereco'
                additionalProperties: true
        '400':
          description: Requisição inválida
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Não autenticado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Sem permissão
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Não encontrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '440':
          description: Sessão expirada por inatividade
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Erro interno
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    get:
      summary: Lista registros de /enderecos pertencentes ao usuário autenticado.
      tags:
      - Endereços
      security:
      - bearerAuth: []
      - cookieAuth: []
      operationId: get_enderecos
      responses:
        '200':
          description: Lista de registros
          content:
            application/json:
              schema:
                type: object
                properties:
                  Status:
                    type: string
                  status:
                    type: string
                  total:
                    type: integer
                  enderecos:
                    type: array
                    items:
                      $ref: '#/components/schemas/Endereco'
                additionalProperties: true
        '401':
          description: Não autenticado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Sem permissão
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '440':
          description: Sessão expirada por inatividade
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Erro interno
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /especialista-sbed:
    post:
      summary: Cria um registro em /especialista-sbed.
      tags:
      - Especialistas
      security:
      - bearerAuth: []
      - cookieAuth: []
      operationId: post_especialista_sbed
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EspecialistaCreate'
      responses:
        '201':
          description: Criado
          content:
            application/json:
              schema:
                type: object
                properties:
                  Status:
                    type: string
                  status:
                    type: string
                  especialista:
                    $ref: '#/components/schemas/Especialista'
                additionalProperties: true
        '400':
          description: Requisição inválida
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Não autenticado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Sem permissão
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Não encontrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '440':
          description: Sessão expirada por inatividade
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Erro interno
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    get:
      summary: Lista registros de /especialista-sbed pertencentes ao usuário autenticado.
      tags:
      - Especialistas
      security:
      - bearerAuth: []
      - cookieAuth: []
      operationId: get_especialista_sbed
      responses:
        '200':
          description: Lista de registros
          content:
            application/json:
              schema:
                type: object
                properties:
                  Status:
                    type: string
                  status:
                    type: string
                  total:
                    type: integer
                  especialistas:
                    type: array
                    items:
                      $ref: '#/components/schemas/Especialista'
                additionalProperties: true
        '401':
          description: Não autenticado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Sem permissão
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '440':
          description: Sessão expirada por inatividade
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Erro interno
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /especialistas:
    post:
      summary: Cria um registro em /especialistas.
      tags:
      - Especialistas
      security:
      - bearerAuth: []
      - cookieAuth: []
      operationId: post_especialistas
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EspecialistaCreate'
      responses:
        '201':
          description: Criado
          content:
            application/json:
              schema:
                type: object
                properties:
                  Status:
                    type: string
                  status:
                    type: string
                  especialista:
                    $ref: '#/components/schemas/Especialista'
                additionalProperties: true
        '400':
          description: Requisição inválida
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Não autenticado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Sem permissão
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Não encontrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '440':
          description: Sessão expirada por inatividade
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Erro interno
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    get:
      summary: Lista registros de /especialistas pertencentes ao usuário autenticado.
      tags:
      - Especialistas
      security:
      - bearerAuth: []
      - cookieAuth: []
      operationId: get_especialistas
      responses:
        '200':
          description: Lista de registros
          content:
            application/json:
              schema:
                type: object
                properties:
                  Status:
                    type: string
                  status:
                    type: string
                  total:
                    type: integer
                  especialistas:
                    type: array
                    items:
                      $ref: '#/components/schemas/Especialista'
                additionalProperties: true
        '401':
          description: Não autenticado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Sem permissão
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '440':
          description: Sessão expirada por inatividade
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Erro interno
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /evolucao:
    post:
      summary: Cria um registro em /evolucao.
      tags:
      - Evolução
      security:
      - bearerAuth: []
      - cookieAuth: []
      operationId: post_evolucao
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EvolucaoCreate'
      responses:
        '201':
          description: Criado
          content:
            application/json:
              schema:
                type: object
                properties:
                  Status:
                    type: string
                  status:
                    type: string
                  evolucao:
                    $ref: '#/components/schemas/Evolucao'
                additionalProperties: true
        '400':
          description: Requisição inválida
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Não autenticado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Sem permissão
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Não encontrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '440':
          description: Sessão expirada por inatividade
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Erro interno
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    get:
      summary: Lista registros de /evolucao pertencentes ao usuário autenticado.
      tags:
      - Evolução
      security:
      - bearerAuth: []
      - cookieAuth: []
      operationId: get_evolucao
      responses:
        '200':
          description: Lista de registros
          content:
            application/json:
              schema:
                type: object
                properties:
                  Status:
                    type: string
                  status:
                    type: string
                  total:
                    type: integer
                  evolucoes:
                    type: array
                    items:
                      $ref: '#/components/schemas/Evolucao'
                additionalProperties: true
        '401':
          description: Não autenticado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Sem permissão
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '440':
          description: Sessão expirada por inatividade
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Erro interno
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /horario-atendimento:
    post:
      summary: Cria um registro em /horario-atendimento.
      tags:
      - Horário Atendimento
      security:
      - bearerAuth: []
      - cookieAuth: []
      operationId: post_horario_atendimento
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HorarioAtendimentoCreate'
      responses:
        '201':
          description: Criado
          content:
            application/json:
              schema:
                type: object
                properties:
                  Status:
                    type: string
                  status:
                    type: string
                  horario_atendimento:
                    $ref: '#/components/schemas/HorarioAtendimento'
                additionalProperties: true
        '400':
          description: Requisição inválida
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Não autenticado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Sem permissão
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Não encontrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '440':
          description: Sessão expirada por inatividade
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Erro interno
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    get:
      summary: Lista registros de /horario-atendimento pertencentes ao usuário autenticado.
      tags:
      - Horário Atendimento
      security:
      - bearerAuth: []
      - cookieAuth: []
      operationId: get_horario_atendimento
      responses:
        '200':
          description: Lista de registros
          content:
            application/json:
              schema:
                type: object
                properties:
                  Status:
                    type: string
                  status:
                    type: string
                  total:
                    type: integer
                  horarios_atendimento:
                    type: array
                    items:
                      $ref: '#/components/schemas/HorarioAtendimento'
                additionalProperties: true
        '401':
          description: Não autenticado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Sem permissão
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '440':
          description: Sessão expirada por inatividade
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Erro interno
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /login:
    post:
      summary: Login por e-mail e senha.
      tags:
      - Autenticação
      security: []
      operationId: post_login
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: Usuário autenticado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticatedUserResponse'
        '400':
          description: Requisição inválida
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Não autenticado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Não encontrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Erro interno
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /logout:
    post:
      summary: Encerra sessão limpando o cookie de autenticação.
      tags:
      - Autenticação
      security: []
      operationId: post_logout
      responses:
        '200':
          description: Logout realizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LogoutResponse'
  /medicacoes:
    post:
      summary: Cria um registro em /medicacoes.
      tags:
      - Medicações
      security:
      - bearerAuth: []
      - cookieAuth: []
      operationId: post_medicacoes
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MedicacaoCreate'
      responses:
        '201':
          description: Criado
          content:
            application/json:
              schema:
                type: object
                properties:
                  Status:
                    type: string
                  status:
                    type: string
                  medicacao:
                    $ref: '#/components/schemas/Medicacao'
                additionalProperties: true
        '400':
          description: Requisição inválida
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Não autenticado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Sem permissão
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Não encontrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '440':
          description: Sessão expirada por inatividade
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Erro interno
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    get:
      summary: Lista registros de /medicacoes pertencentes ao usuário autenticado.
      tags:
      - Medicações
      security:
      - bearerAuth: []
      - cookieAuth: []
      operationId: get_medicacoes
      responses:
        '200':
          description: Lista de registros
          content:
            application/json:
              schema:
                type: object
                properties:
                  Status:
                    type: string
                  status:
                    type: string
                  total:
                    type: integer
                  medicacoes:
                    type: array
                    items:
                      $ref: '#/components/schemas/Medicacao'
                additionalProperties: true
        '401':
          description: Não autenticado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Sem permissão
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '440':
          description: Sessão expirada por inatividade
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Erro interno
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /minha-jornada:
    post:
      summary: Cria um registro em /minha-jornada.
      tags:
      - Minha Jornada
      security:
      - bearerAuth: []
      - cookieAuth: []
      operationId: post_minha_jornada
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegistroJornadaCreate'
      responses:
        '201':
          description: Criado
          content:
            application/json:
              schema:
                type: object
                properties:
                  Status:
                    type: string
                  status:
                    type: string
                  registro:
                    $ref: '#/components/schemas/RegistroJornada'
                additionalProperties: true
        '400':
          description: Requisição inválida
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Não autenticado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Sem permissão
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Não encontrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '440':
          description: Sessão expirada por inatividade
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Erro interno
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    get:
      summary: Lista registros de /minha-jornada pertencentes ao usuário autenticado.
      tags:
      - Minha Jornada
      security:
      - bearerAuth: []
      - cookieAuth: []
      operationId: get_minha_jornada
      responses:
        '200':
          description: Lista de registros
          content:
            application/json:
              schema:
                type: object
                properties:
                  Status:
                    type: string
                  status:
                    type: string
                  total:
                    type: integer
                  registros:
                    type: array
                    items:
                      $ref: '#/components/schemas/RegistroJornada'
                additionalProperties: true
        '401':
          description: Não autenticado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Sem permissão
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '440':
          description: Sessão expirada por inatividade
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Erro interno
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /registro-dor:
    post:
      summary: Cria um registro em /registro-dor.
      tags:
      - Minha Jornada
      security:
      - bearerAuth: []
      - cookieAuth: []
      operationId: post_registro_dor
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegistroJornadaCreate'
      responses:
        '201':
          description: Criado
          content:
            application/json:
              schema:
                type: object
                properties:
                  Status:
                    type: string
                  status:
                    type: string
                  registro:
                    $ref: '#/components/schemas/RegistroJornada'
                additionalProperties: true
        '400':
          description: Requisição inválida
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Não autenticado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Sem permissão
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Não encontrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '440':
          description: Sessão expirada por inatividade
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Erro interno
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    get:
      summary: Lista registros de /registro-dor pertencentes ao usuário autenticado.
      tags:
      - Minha Jornada
      security:
      - bearerAuth: []
      - cookieAuth: []
      operationId: get_registro_dor
      responses:
        '200':
          description: Lista de registros
          content:
            application/json:
              schema:
                type: object
                properties:
                  Status:
                    type: string
                  status:
                    type: string
                  total:
                    type: integer
                  registros:
                    type: array
                    items:
                      $ref: '#/components/schemas/RegistroJornada'
                additionalProperties: true
        '401':
          description: Não autenticado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Sem permissão
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '440':
          description: Sessão expirada por inatividade
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Erro interno
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /send-message-n8n:
    post:
      summary: Envia mensagem para o agente n8n do público adequado.
      tags:
      - Chat
      security:
      - bearerAuth: []
      - cookieAuth: []
      operationId: post_send_message_n8n
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChatMessageRequest'
      responses:
        '200':
          description: Resposta do n8n
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/N8nResponse'
        '400':
          description: Requisição inválida
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Não autenticado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Não encontrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '440':
          description: Sessão expirada por inatividade
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '502':
          description: Falha em serviço externo
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /usuario:
    post:
      summary: Cria ou atualiza o perfil do usuário autenticado.
      tags:
      - Usuário
      security:
      - bearerAuth: []
      - cookieAuth: []
      operationId: post_usuario
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UsuarioWrite'
      responses:
        '201':
          description: Usuário criado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsuarioResponse'
        '400':
          description: Requisição inválida
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Não autenticado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Não encontrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '440':
          description: Sessão expirada por inatividade
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Erro interno
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    get:
      summary: Obtém o perfil do usuário autenticado.
      tags:
      - Usuário
      security:
      - bearerAuth: []
      - cookieAuth: []
      operationId: get_usuario
      responses:
        '200':
          description: Usuário encontrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsuarioResponse'
        '401':
          description: Não autenticado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Não encontrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '440':
          description: Sessão expirada por inatividade
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Erro interno
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      summary: Atualiza o perfil do usuário autenticado.
      tags:
      - Usuário
      security:
      - bearerAuth: []
      - cookieAuth: []
      operationId: patch_usuario
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UsuarioWrite'
      responses:
        '200':
          description: Usuário atualizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsuarioResponse'
        '400':
          description: Requisição inválida
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Não autenticado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Não encontrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '440':
          description: Sessão expirada por inatividade
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Erro interno
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      summary: Remove o usuário autenticado e dados dependentes.
      tags:
      - Usuário
      security:
      - bearerAuth: []
      - cookieAuth: []
      operationId: delete_usuario
      responses:
        '200':
          description: Usuário removido
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsuarioResponse'
        '401':
          description: Não autenticado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Não encontrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '440':
          description: Sessão expirada por inatividade
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Erro interno
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /agenda-doria/{id}:
    get:
      summary: Busca um registro de /agenda-doria por ID.
      tags:
      - Consultas
      security:
      - bearerAuth: []
      - cookieAuth: []
      operationId: get_agenda_doria_id
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: id_consulta do registro.
      responses:
        '200':
          description: Registro encontrado
          content:
            application/json:
              schema:
                type: object
                properties:
                  Status:
                    type: string
                  status:
                    type: string
                  consulta:
                    $ref: '#/components/schemas/Consulta'
                additionalProperties: true
        '400':
          description: Requisição inválida
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Não autenticado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Sem permissão
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Não encontrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '440':
          description: Sessão expirada por inatividade
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Erro interno
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      summary: Atualiza um registro de /agenda-doria por ID.
      tags:
      - Consultas
      security:
      - bearerAuth: []
      - cookieAuth: []
      operationId: patch_agenda_doria_id
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: id_consulta do registro.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConsultaUpdate'
      responses:
        '200':
          description: Atualizado
          content:
            application/json:
              schema:
                type: object
                properties:
                  Status:
                    type: string
                  status:
                    type: string
                  consulta:
                    $ref: '#/components/schemas/Consulta'
                additionalProperties: true
        '400':
          description: Requisição inválida
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Não autenticado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Sem permissão
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Não encontrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '440':
          description: Sessão expirada por inatividade
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Erro interno
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      summary: Remove um registro de /agenda-doria por ID.
      tags:
      - Consultas
      security:
      - bearerAuth: []
      - cookieAuth: []
      operationId: delete_agenda_doria_id
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: id_consulta do registro.
      responses:
        '200':
          description: Removido
          content:
            application/json:
              schema:
                type: object
                properties:
                  Status:
                    type: string
                  status:
                    type: string
                  consulta:
                    $ref: '#/components/schemas/Consulta'
                additionalProperties: true
        '400':
          description: Requisição inválida
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Não autenticado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Sem permissão
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Não encontrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '440':
          description: Sessão expirada por inatividade
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Erro interno
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /auth/forgot-password:
    post:
      summary: Solicita recuperação de senha.
      tags:
      - Autenticação
      security: []
      operationId: post_auth_forgot_password
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ForgotPasswordRequest'
      responses:
        '200':
          description: Solicitação enviada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusResponse'
        '400':
          description: Requisição inválida
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Erro interno
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /auth/google:
    post:
      summary: Login ou cadastro automático com Google ID token.
      tags:
      - Autenticação
      security: []
      operationId: post_auth_google
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleAuthRequest'
      responses:
        '200':
          description: Usuário autenticado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticatedUserResponse'
        '400':
          description: Requisição inválida
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Não autenticado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Não encontrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Erro interno
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /auth/me:
    get:
      summary: Retorna o payload da sessão ativa.
      tags:
      - Autenticação
      security:
      - bearerAuth: []
      - cookieAuth: []
      operationId: get_auth_me
      responses:
        '200':
          description: Sessão atual
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeResponse'
        '401':
          description: Não autenticado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '440':
          description: Sessão expirada por inatividade
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /auth/onboard:
    post:
      summary: Alias de onboarding pós-OAuth usando access_token do Supabase.
      tags:
      - Autenticação
      security: []
      operationId: post_auth_onboard
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccessTokenRequest'
      responses:
        '200':
          description: Sessão criada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticatedUserResponse'
        '400':
          description: Requisição inválida
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Não autenticado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Não encontrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Erro interno
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /auth/reset-password:
    post:
      summary: Atualiza a senha a partir de access_token de recovery do Supabase.
      tags:
      - Autenticação
      security: []
      operationId: post_auth_reset_password
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePasswordRequest'
      responses:
        '200':
          description: Senha atualizada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdatePasswordResponse'
        '400':
          description: Requisição inválida
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Não autenticado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Erro interno
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /auth/session:
    post:
      summary: Cria sessão local usando access_token do Supabase.
      tags:
      - Autenticação
      security: []
      operationId: post_auth_session
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccessTokenRequest'
      responses:
        '200':
          description: Sessão criada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticatedUserResponse'
        '400':
          description: Requisição inválida
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Não autenticado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Não encontrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Erro interno
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /auth/signup:
    post:
      summary: Cadastro por e-mail e senha.
      tags:
      - Autenticação
      security: []
      operationId: post_auth_signup
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignupRequest'
      responses:
        '200':
          description: Cadastro criado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignupResponse'
        '400':
          description: Requisição inválida
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Erro interno
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /auth/update-password:
    post:
      summary: Atualiza a senha a partir de access_token de recovery do Supabase.
      tags:
      - Autenticação
      security: []
      operationId: post_auth_update_password
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePasswordRequest'
      responses:
        '200':
          description: Senha atualizada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdatePasswordResponse'
        '400':
          description: Requisição inválida
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Não autenticado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Erro interno
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /clinicas/{id}:
    get:
      summary: Busca um registro de /clinicas por ID.
      tags:
      - Clínicas
      security:
      - bearerAuth: []
      - cookieAuth: []
      operationId: get_clinicas_id
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: id_clinica do registro.
      responses:
        '200':
          description: Registro encontrado
          content:
            application/json:
              schema:
                type: object
                properties:
                  Status:
                    type: string
                  status:
                    type: string
                  clinica:
                    $ref: '#/components/schemas/Clinica'
                additionalProperties: true
        '400':
          description: Requisição inválida
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Não autenticado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Sem permissão
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Não encontrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '440':
          description: Sessão expirada por inatividade
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Erro interno
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      summary: Atualiza um registro de /clinicas por ID.
      tags:
      - Clínicas
      security:
      - bearerAuth: []
      - cookieAuth: []
      operationId: patch_clinicas_id
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: id_clinica do registro.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClinicaUpdate'
      responses:
        '200':
          description: Atualizado
          content:
            application/json:
              schema:
                type: object
                properties:
                  Status:
                    type: string
                  status:
                    type: string
                  clinica:
                    $ref: '#/components/schemas/Clinica'
                additionalProperties: true
        '400':
          description: Requisição inválida
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Não autenticado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Sem permissão
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Não encontrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '440':
          description: Sessão expirada por inatividade
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Erro interno
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      summary: Remove um registro de /clinicas por ID.
      tags:
      - Clínicas
      security:
      - bearerAuth: []
      - cookieAuth: []
      operationId: delete_clinicas_id
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: id_clinica do registro.
      responses:
        '200':
          description: Removido
          content:
            application/json:
              schema:
                type: object
                properties:
                  Status:
                    type: string
                  status:
                    type: string
                  clinica:
                    $ref: '#/components/schemas/Clinica'
                additionalProperties: true
        '400':
          description: Requisição inválida
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Não autenticado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Sem permissão
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Não encontrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '440':
          description: Sessão expirada por inatividade
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Erro interno
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /consultas/{id}:
    get:
      summary: Busca um registro de /consultas por ID.
      tags:
      - Consultas
      security:
      - bearerAuth: []
      - cookieAuth: []
      operationId: get_consultas_id
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: id_consulta do registro.
      responses:
        '200':
          description: Registro encontrado
          content:
            application/json:
              schema:
                type: object
                properties:
                  Status:
                    type: string
                  status:
                    type: string
                  consulta:
                    $ref: '#/components/schemas/Consulta'
                additionalProperties: true
        '400':
          description: Requisição inválida
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Não autenticado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Sem permissão
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Não encontrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '440':
          description: Sessão expirada por inatividade
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Erro interno
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      summary: Atualiza um registro de /consultas por ID.
      tags:
      - Consultas
      security:
      - bearerAuth: []
      - cookieAuth: []
      operationId: patch_consultas_id
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: id_consulta do registro.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConsultaUpdate'
      responses:
        '200':
          description: Atualizado
          content:
            application/json:
              schema:
                type: object
                properties:
                  Status:
                    type: string
                  status:
                    type: string
                  consulta:
                    $ref: '#/components/schemas/Consulta'
                additionalProperties: true
        '400':
          description: Requisição inválida
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Não autenticado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Sem permissão
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Não encontrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '440':
          description: Sessão expirada por inatividade
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Erro interno
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      summary: Remove um registro de /consultas por ID.
      tags:
      - Consultas
      security:
      - bearerAuth: []
      - cookieAuth: []
      operationId: delete_consultas_id
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: id_consulta do registro.
      responses:
        '200':
          description: Removido
          content:
            application/json:
              schema:
                type: object
                properties:
                  Status:
                    type: string
                  status:
                    type: string
                  consulta:
                    $ref: '#/components/schemas/Consulta'
                additionalProperties: true
        '400':
          description: Requisição inválida
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Não autenticado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Sem permissão
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Não encontrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '440':
          description: Sessão expirada por inatividade
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Erro interno
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /controle-medicacoes/{id}:
    get:
      summary: Busca um registro de /controle-medicacoes por ID.
      tags:
      - Controle Medicações
      security:
      - bearerAuth: []
      - cookieAuth: []
      operationId: get_controle_medicacoes_id
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: id_controle do registro.
      responses:
        '200':
          description: Registro encontrado
          content:
            application/json:
              schema:
                type: object
                properties:
                  Status:
                    type: string
                  status:
                    type: string
                  controle_medicacao:
                    $ref: '#/components/schemas/ControleMedicacao'
                additionalProperties: true
        '400':
          description: Requisição inválida
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Não autenticado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Sem permissão
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Não encontrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '440':
          description: Sessão expirada por inatividade
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Erro interno
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      summary: Atualiza um registro de /controle-medicacoes por ID.
      tags:
      - Controle Medicações
      security:
      - bearerAuth: []
      - cookieAuth: []
      operationId: patch_controle_medicacoes_id
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: id_controle do registro.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ControleMedicacaoUpdate'
      responses:
        '200':
          description: Atualizado
          content:
            application/json:
              schema:
                type: object
                properties:
                  Status:
                    type: string
                  status:
                    type: string
                  controle_medicacao:
                    $ref: '#/components/schemas/ControleMedicacao'
                additionalProperties: true
        '400':
          description: Requisição inválida
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Não autenticado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Sem permissão
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Não encontrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '440':
          description: Sessão expirada por inatividade
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Erro interno
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      summary: Remove um registro de /controle-medicacoes por ID.
      tags:
      - Controle Medicações
      security:
      - bearerAuth: []
      - cookieAuth: []
      operationId: delete_controle_medicacoes_id
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: id_controle do registro.
      responses:
        '200':
          description: Removido
          content:
            application/json:
              schema:
                type: object
                properties:
                  Status:
                    type: string
                  status:
                    type: string
                  controle_medicacao:
                    $ref: '#/components/schemas/ControleMedicacao'
                additionalProperties: true
        '400':
          description: Requisição inválida
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Não autenticado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Sem permissão
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Não encontrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '440':
          description: Sessão expirada por inatividade
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Erro interno
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /convenios/{id}:
    get:
      summary: Busca um convênio pelo id_convenio.
      tags:
      - Convênios
      security:
      - bearerAuth: []
      - cookieAuth: []
      operationId: get_convenios_id
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: id.
      responses:
        '200':
          description: Convênio encontrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConvenioResponse'
        '400':
          description: Requisição inválida
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Não autenticado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Sem permissão
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Não encontrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '440':
          description: Sessão expirada por inatividade
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Erro interno
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      summary: Atualiza convênios substituindo a lista inteira da clínica.
      tags:
      - Convênios
      security:
      - bearerAuth: []
      - cookieAuth: []
      operationId: patch_convenios_id
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: id.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConveniosReplaceRequest'
      responses:
        '200':
          description: Convênios atualizados
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConveniosListResponse'
        '400':
          description: Requisição inválida
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Não autenticado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Sem permissão
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Não encontrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '440':
          description: Sessão expirada por inatividade
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Erro interno
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      summary: Remove um convênio específico.
      tags:
      - Convênios
      security:
      - bearerAuth: []
      - cookieAuth: []
      operationId: delete_convenios_id
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: id.
      responses:
        '200':
          description: Convênio removido
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConvenioResponse'
        '400':
          description: Requisição inválida
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Não autenticado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Sem permissão
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Não encontrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '440':
          description: Sessão expirada por inatividade
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Erro interno
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /enderecos/{id}:
    get:
      summary: Busca um registro de /enderecos por ID.
      tags:
      - Endereços
      security:
      - bearerAuth: []
      - cookieAuth: []
      operationId: get_enderecos_id
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: id_enderecos do registro.
      responses:
        '200':
          description: Registro encontrado
          content:
            application/json:
              schema:
                type: object
                properties:
                  Status:
                    type: string
                  status:
                    type: string
                  endereco:
                    $ref: '#/components/schemas/Endereco'
                additionalProperties: true
        '400':
          description: Requisição inválida
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Não autenticado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Sem permissão
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Não encontrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '440':
          description: Sessão expirada por inatividade
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
[...]
