
openapi: 3.0.3

info:
  title: Fale com a Dória - Backend API
  version: "1.0.0"
  description: |
    Documentação técnica da API backend do projeto Fale com a Dória.

    Esta especificação foi gerada a partir da análise estática do código-fonte do backend.
    O objetivo é orientar o time de frontend sobre endpoints, métodos HTTP, payloads,
    respostas de sucesso, respostas de erro e regras de autenticação.

    Convenções gerais:
      - A API usa Fastify.
      - A maioria das rotas protegidas aceita autenticação via cookie HTTP-only "token"
        ou via header "Authorization: Bearer <token>".
      - O token local é um JWT próprio do backend, emitido em /login, /auth/session,
        /auth/onboard e /consent.
      - Sessões anônimas são criadas por /consent e servem principalmente para o chat.
      - Para rotas protegidas de dados do usuário, o backend resolve o usuário autenticado
        usando o campo "sub" do JWT, que representa o auth_id do Supabase.
      - Erros usam, em geral, o formato:
          { "Error": "mensagem" }
      - Respostas de sucesso usam, em geral, o campo "Status".

    Observações importantes para frontend:
      - Rotas PATCH existem e são usadas para atualização.
      - No código atual, o CORS registra métodos POST, GET, OPTIONS, PUT e DELETE,
        mas não registra PATCH. Em navegador, isso pode bloquear PATCH no preflight
        até o backend incluir PATCH na configuração de CORS.
      - O timeout de inatividade retorna HTTP 440 com:
          { "Error": "token is not ok (idle timeout)" }
      - A renovação do campo "last" da sessão ocorre explicitamente no chat
        /send-message-n8n. As demais rotas protegidas validam a sessão, mas não renovam
        o cookie no código atual.

servers:
  - url: https://api.falecomadoria.com.br
    description: Produção provável
  - url: http://localhost:3433
    description: Desenvolvimento local padrão

tags:
  - name: Health
    description: Verificação básica da API e da sessão.
  - name: Auth
    description: Autenticação, cadastro, sessão local e senha.
  - name: Chat
    description: Consentimento anônimo e envio de mensagens ao n8n.
  - name: Usuario
    description: Perfil do usuário autenticado.
  - name: Consultas
    description: Agenda/consultas do paciente.
  - name: Minha Jornada
    description: Registros de jornada, dor, sono e emocional.
  - name: Enderecos
    description: Endereços do usuário.
  - name: Medicacoes
    description: Medicações do usuário.
  - name: Controle Medicacoes
    description: Controle de tomada de medicações.
  - name: Evolucao
    description: Avaliação/evolução de dor.
  - name: Especialistas
    description: Cadastro e certificação de especialistas.
  - name: Clinicas
    description: Clínicas vinculadas a especialistas.
  - name: Convenios
    description: Convênios vinculados a clínicas.
  - name: Horario Atendimento
    description: Horários de atendimento vinculados a clínicas.

paths:
  /:
    get:
      tags:
        - Health
      summary: Health check e status de sessão
      description: |
        Verifica se a API está respondendo e, quando houver cookie "token",
        informa se a sessão local ainda é válida.

        Esta rota não exige autenticação.
      operationId: getHealth
      responses:
        "200":
          description: API respondendo.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthResponse"
              examples:
                semSessao:
                  value:
                    Status: Success
                    hasSession: false
                comSessao:
                  value:
                    Status: Success
                    hasSession: true

  /auth/signup:
    post:
      tags:
        - Auth
      summary: Cadastrar usuário com e-mail e senha
      description: |
        Cria um usuário no Supabase Auth e cria/garante o perfil correspondente
        na tabela doria.usuario.

        O backend exige email e password. A senha deve ter pelo menos 8 caracteres.
        O campo tipo, quando omitido, tende a ser tratado como "paciente" no serviço.
      operationId: postAuthSignup
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AuthSignupRequest"
            examples:
              paciente:
                value:
                  email: paciente@example.com
                  password: senhaSegura123
                  nome: Maria Paciente
                  tipo: paciente
                  cpf: "12345678901"
              especialista:
                value:
                  email: especialista@example.com
                  password: senhaSegura123
                  nome: Dr. João Especialista
                  tipo: especialista
                  cpf: "12345678901"
      responses:
        "200":
          description: Cadastro criado.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthSignupSuccess"
              example:
                Status: created
                auth_id: 11111111-1111-4111-8111-111111111111
                email: paciente@example.com
                needs_email_confirm: true
        "400":
          description: Dados inválidos ou erro retornado pelo Supabase Auth.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                camposObrigatorios:
                  value:
                    Error: E-mail e senha são obrigatórios.
                senhaCurta:
                  value:
                    Error: A senha deve ter pelo menos 8 caracteres.
                emailInvalido:
                  value:
                    Error: E-mail inválido.
        "409":
          description: Usuário/e-mail já existente, quando identificado pelo backend.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Falha ao criar ou consultar perfil usuario no banco.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /login:
    post:
      tags:
        - Auth
      summary: Login por e-mail e senha
      description: |
        Autentica no Supabase Auth e cria uma sessão local do backend.

        Em caso de sucesso:
          - grava cookie HTTP-only "token";
          - retorna o token também no corpo da resposta, útil para mobile;
          - retorna dados básicos do usuário.

        O e-mail precisa estar confirmado no Supabase.
      operationId: postLogin
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LoginRequest"
            example:
              email: paciente@example.com
              password: senhaSegura123
      responses:
        "200":
          description: Login realizado e sessão local criada.
          headers:
            Set-Cookie:
              description: Cookie HTTP-only "token" contendo JWT local.
              schema:
                type: string
                example: token=eyJhbGciOiJIUzI1NiIs...; HttpOnly; Path=/
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LoginSuccess"
              example:
                Status: success
                token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
                user:
                  nome: Maria Paciente
                  email: paciente@example.com
                  tipo: paciente
        "401":
          description: Credenciais inválidas ou erro de autenticação.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                Error: Credenciais inválidas.
        "403":
          description: E-mail ainda não confirmado.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                Error: E-mail ainda não confirmado. Verifique sua caixa de entrada e spam.
        "500":
          description: Falha ao consultar ou criar perfil usuario.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /auth/google:
    post:
      tags:
        - Auth
      summary: Login ou cadastro com Google
      description: |
        Valida um id_token do Google via Supabase Auth e cria uma sessão local do backend.

        Este endpoint serve para:
          - login de usuário Google já cadastrado;
          - cadastro automático no primeiro acesso com Google.

        Campos aceitos:
          - id_token: token Google obrigatório, salvo se o alias token for usado.
          - token: alias de id_token.
          - nonce: opcional, repassado à validação Supabase.
          - tipo: opcional; quando omitido, tende a ser tratado como "paciente".
          - nome: opcional; usado como fallback se o Google não retornar nome.
          - cpf: opcional; útil principalmente no cadastro de especialista.
      operationId: postAuthGoogle
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GoogleAuthRequest"
            examples:
              login:
                value:
                  id_token: GOOGLE_ID_TOKEN
              cadastroPaciente:
                value:
                  id_token: GOOGLE_ID_TOKEN
                  tipo: paciente
              cadastroEspecialista:
                value:
                  id_token: GOOGLE_ID_TOKEN
                  tipo: especialista
                  nome: Dr. João Especialista
                  cpf: "12345678901"
              usandoAliasToken:
                value:
                  token: GOOGLE_ID_TOKEN
      responses:
        "200":
          description: Login/cadastro Google realizado e sessão local criada.
          headers:
            Set-Cookie:
              description: Cookie HTTP-only "token" contendo JWT local.
              schema:
                type: string
                example: token=eyJhbGciOiJIUzI1NiIs...; HttpOnly; Path=/
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleAuthSuccess"
              examples:
                login:
                  value:
                    Status: success
                    status: success
                    token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
                    provider: google
                    created: false
                    mode: login
                    user:
                      id_usuario: 22222222-2222-4222-8222-222222222222
                      auth_id: 11111111-1111-4111-8111-111111111111
                      nome: Maria Paciente
                      email: paciente@example.com
                      tipo: paciente
                      cpf: "12345678901"
                      notif_medicacoes: true
                      notif_jornada: true
                      notif_avaliacao: false
                      notif_consultas: true
                signup:
                  value:
                    Status: success
                    status: success
                    token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
                    provider: google
                    created: true
                    mode: signup
                    user:
                      id_usuario: 22222222-2222-4222-8222-222222222222
                      auth_id: 11111111-1111-4111-8111-111111111111
                      nome: Maria Paciente
                      email: paciente@example.com
                      tipo: paciente
                      cpf: null
                      notif_medicacoes: null
                      notif_jornada: null
                      notif_avaliacao: null
                      notif_consultas: null
        "400":
          description: Token Google ausente ou conta Google sem e-mail.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                idTokenObrigatorio:
                  value:
                    Error: id_token do Google é obrigatório.
                    error: id_token do Google é obrigatório.
                emailAusente:
                  value:
                    Error: A conta Google não retornou e-mail.
                    error: A conta Google não retornou e-mail.
        "401":
          description: Token Google inválido ou rejeitado pelo Supabase Auth.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                tokenInvalido:
                  value:
                    Error: Token Google inválido ou sem usuário no Supabase.
                    error: Token Google inválido ou sem usuário no Supabase.
        "500":
          description: Falha ao criar ou recuperar perfil usuario a partir do Google.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                Error: Falha ao criar ou recuperar perfil usuario a partir do Google.
                error: Falha ao criar ou recuperar perfil usuario a partir do Google.
  /auth/session:
    post:
      tags:
        - Auth
      summary: Criar sessão local usando access_token do Supabase
      description: |
        Recebe um access_token válido do Supabase, consulta o usuário e cria
        uma sessão local do backend.

        Esta rota exige que já exista perfil correspondente na tabela doria.usuario.
        Se não existir, retorna 404.
      operationId: postAuthSession
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AccessTokenRequest"
            example:
              access_token: supabase-access-token
      responses:
        "200":
          description: Sessão local criada.
          headers:
            Set-Cookie:
              description: Cookie HTTP-only "token" contendo JWT local.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthSessionSuccess"
              example:
                Status: success
                user:
                  id_usuario: 22222222-2222-4222-8222-222222222222
                  auth_id: 11111111-1111-4111-8111-111111111111
                  email: paciente@example.com
                  nome: Maria Paciente
                  tipo: paciente
                  cpf: "12345678901"
                  notif_medicacoes: true
                  notif_jornada: true
                  notif_avaliacao: false
                  notif_consultas: true
        "400":
          description: access_token não enviado.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                Error: access_token é obrigatório.
        "401":
          description: Token Supabase inválido.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                Error: Sessão inválida.
        "404":
          description: Perfil não encontrado na tabela usuario.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                Error: Perfil não encontrado no banco de dados.

  /auth/onboard:
    post:
      tags:
        - Auth
      summary: Alias de /auth/session para onboarding pós-OAuth
      description: |
        Funciona como alias semântico de /auth/session.

        Importante: no código atual, esta rota não cria perfil novo.
        Ela exige que já exista perfil na tabela doria.usuario.
      operationId: postAuthOnboard
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AccessTokenRequest"
            example:
              access_token: supabase-access-token
      responses:
        "200":
          description: Sessão local criada.
          headers:
            Set-Cookie:
              description: Cookie HTTP-only "token" contendo JWT local.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthSessionSuccess"
        "400":
          description: access_token não enviado.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                Error: access_token é obrigatório.
        "401":
          description: Token Supabase inválido.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                Error: Sessão inválida.
        "404":
          description: Perfil não encontrado na tabela usuario.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                Error: Perfil não encontrado no banco de dados.

  /auth/forgot-password:
    post:
      tags:
        - Auth
      summary: Solicitar recuperação de senha
      description: |
        Dispara fluxo de recuperação de senha via Supabase Auth.

        O e-mail de recuperação usa a URL configurada no backend por
        PASSWORD_RESET_REDIRECT_URL.
      operationId: postAuthForgotPassword
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ForgotPasswordRequest"
            example:
              email: paciente@example.com
      responses:
        "200":
          description: Solicitação aceita.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StatusOkResponse"
              example:
                Status: ok
        "400":
          description: E-mail ausente ou falha ao solicitar recuperação.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                emailObrigatorio:
                  value:
                    Error: E-mail é obrigatório.
                falha:
                  value:
                    Error: Falha ao solicitar recuperação de senha.

  /auth/update-password:
    post:
      tags:
        - Auth
      summary: Atualizar senha usando access_token do Supabase
      description: |
        Atualiza a senha do usuário identificado pelo access_token Supabase.

        Esta rota não usa o JWT local como autenticação principal.
        Ela valida o access_token enviado no body.
      operationId: postAuthUpdatePassword
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdatePasswordRequest"
            example:
              access_token: supabase-access-token
              newPassword: novaSenhaSegura123
      responses:
        "200":
          description: Senha atualizada.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdatePasswordSuccess"
              example:
                Status: ok
                updated: true
        "400":
          description: Campos ausentes ou falha ao atualizar senha.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                camposObrigatorios:
                  value:
                    Error: access_token e newPassword são obrigatórios.
        "401":
          description: access_token inválido.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                Error: Token inválido.

  /auth/me:
    get:
      tags:
        - Auth
      summary: Verificar sessão local autenticada
      description: |
        Retorna o payload do JWT local quando a sessão está ativa.

        Aceita autenticação via cookie "token" ou Authorization Bearer.
      operationId: getAuthMe
      security:
        - CookieAuth: []
        - BearerAuth: []
      responses:
        "200":
          description: Sessão ativa.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthMeSuccess"
              example:
                Status: ok
                user:
                  sub: 11111111-1111-4111-8111-111111111111
                  last: 1710000000000
                  anon: false
                  nome: Maria Paciente
                  email: paciente@example.com
                  tipo: paciente
                  cpf: "12345678901"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "440":
          $ref: "#/components/responses/IdleTimeout"

  /logout:
    post:
      tags:
        - Auth
      summary: Encerrar sessão local
      description: |
        Limpa o cookie local "token".

        Não revoga sessão Supabase e não apaga usuário.
      operationId: postLogout
      responses:
        "200":
          description: Logout local realizado.
          headers:
            Set-Cookie:
              description: Cookie "token" limpo.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LogoutSuccess"
              example:
                Status: Logged out

  /consent:
    post:
      tags:
        - Chat
      summary: Criar sessão anônima para chat
      description: |
        Cria uma sessão anônima local com UUID aleatório e salva no cookie "token".

        Esta sessão permite usar /send-message-n8n sem usuário cadastrado.
        Para anônimos, o backend envia id_usuario null ao n8n e usa o webhook de paciente.
      operationId: postConsent
      responses:
        "200":
          description: Consentimento aceito e sessão anônima criada.
          headers:
            Set-Cookie:
              description: Cookie HTTP-only "token" com JWT anônimo.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConsentSuccess"
              example:
                Status: Consent accepted
                created: true

  /send-message-n8n:
    post:
      tags:
        - Chat
      summary: Enviar mensagem para agente n8n
      description: |
        Envia uma mensagem para o webhook n8n.

        Regras de roteamento:
          - Sessão anônima:
              identifier = UUID anônimo do JWT
              id_usuario = null
              tipo_usuario = null
              webhook = paciente
          - Sessão logada:
              identifier = auth_id do Supabase
              id_usuario = id interno da tabela doria.usuario
              tipo_usuario = lido da tabela doria.usuario
              se tipo_usuario contém "especialista", usa webhook especialista
              caso contrário, usa webhook paciente

        O corpo da resposta de sucesso é exatamente response.data retornado pelo n8n,
        sem schema fixo garantido pelo backend.
      operationId: postSendMessageN8n
      security:
        - CookieAuth: []
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SendMessageN8nRequest"
            example:
              message: Olá, estou com dor lombar há dois dias.
      responses:
        "200":
          description: Resposta retornada pelo n8n.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/N8nDynamicResponse"
              examples:
                generico:
                  value:
                    response: Mensagem processada pelo agente.
        "400":
          description: Campo message ausente.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                Error: Message is required
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          description: Usuário logado não encontrado na tabela usuario.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                Error: Usuário não encontrado na tabela usuario.
        "440":
          $ref: "#/components/responses/IdleTimeout"
        "500":
          description: Falha ao consultar roteamento do usuário.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "502":
          description: Falha no webhook n8n.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                Error: n8n webhook failed

  /usuario:
    post:
      tags:
        - Usuario
      summary: Criar/atualizar perfil do usuário autenticado
      description: |
        Faz upsert do perfil na tabela doria.usuario para o usuário autenticado.

        No código atual, antes do upsert a rota resolve id_usuario por auth_id.
        Portanto, o perfil precisa já existir para essa rota funcionar.

        Campos proibidos no body:
          - id_usuario
          - uuid
          - auth_id
          - created_at

        Aliases aceitos:
          - tipo -> tipo_usuario
          - sexo -> sexo_biologico
          - "Área de Atuação" -> area_de_atuacao
      operationId: postUsuario
      security:
        - CookieAuth: []
        - BearerAuth: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UsuarioUpsertRequest"
            example:
              nome: Maria Paciente
              cpf: "12345678901"
              email: paciente@example.com
              tipo_usuario: paciente
              data_nascimento: "1990-05-20"
              telefone_pessoal: "11999999999"
              sexo_biologico: 1
              area_de_atuacao: Dor crônica
              notif_medicacoes: true
              notif_jornada: true
              notif_avaliacao: false
              notif_consultas: true
      responses:
        "201":
          description: Perfil criado/atualizado.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UsuarioMutationSuccessCreated"
        "400":
          description: Validação falhou ou campo protegido foi enviado.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                cpfInvalido:
                  value:
                    Error: O campo cpf deve conter 11 dígitos numéricos.
                campoProtegido:
                  value:
                    Error: O campo auth_id não pode ser definido/alterado por esta rota.
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          description: Usuário não encontrado na tabela usuario ao resolver sessão.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                Error: Usuário não encontrado na tabela usuario.
        "440":
          $ref: "#/components/responses/IdleTimeout"
        "500":
          description: Falha no upsert de usuario.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

    get:
      tags:
        - Usuario
      summary: Obter perfil do usuário autenticado
      description: |
        Retorna o perfil completo do usuário autenticado.
      operationId: getUsuario
      security:
        - CookieAuth: []
        - BearerAuth: []
      responses:
        "200":
          description: Perfil encontrado.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UsuarioSingleSuccess"
              example:
                Status: success
                usuario:
                  id_usuario: 22222222-2222-4222-8222-222222222222
                  auth_id: 11111111-1111-4111-8111-111111111111
                  nome: Maria Paciente
                  cpf: "12345678901"
                  created_at: "2024-01-01T12:00:00.000Z"
                  email: paciente@example.com
                  tipo_usuario: paciente
                  data_nascimento: "1990-05-20"
                  telefone_pessoal: "11999999999"
                  sexo_biologico: 1
                  area_de_atuacao: Dor crônica
                  notif_medicacoes: true
                  notif_jornada: true
                  notif_avaliacao: false
                  notif_consultas: true
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          description: Usuário não encontrado.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "440":
          $ref: "#/components/responses/IdleTimeout"
        "500":
          description: Falha ao consultar usuario.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

    patch:
      tags:
        - Usuario
      summary: Atualizar perfil do usuário autenticado
      description: |
        Atualiza dados do perfil do usuário autenticado via upsert.

        Exige pelo menos um campo válido de atualização.

        Campos proibidos no body:
          - id_usuario
          - uuid
          - auth_id
          - created_at
      operationId: patchUsuario
      security:
        - CookieAuth: []
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UsuarioUpsertRequest"
            example:
              telefone_pessoal: "11988888888"
              notif_consultas: false
      responses:
        "200":
          description: Perfil atualizado.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UsuarioMutationSuccessUpdated"
        "400":
          description: Validação falhou, campo protegido foi enviado ou nenhum campo válido enviado.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                nenhumCampo:
                  value:
                    Error: Nenhum campo válido foi enviado para atualização.
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          description: Usuário não encontrado na tabela usuario ao resolver sessão.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "440":
          $ref: "#/components/responses/IdleTimeout"
        "500":
          description: Falha no upsert de usuario.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

    delete:
      tags:
        - Usuario
      summary: Deletar perfil e dados relacionados do usuário autenticado
      description: |
        Remove o usuário autenticado da tabela doria.usuario e tenta remover dados
        relacionados em tabelas do schema doria.

        Tabelas impactadas pelo código atual:
          - controle_medicacoes, via medicacoes
          - convenios, via clinicas de especialistas
          - horario_atendimento, via clinicas de especialistas
          - clinica, via especialistas
          - consultas
          - enderecos
          - medicacoes
          - minha_jornada
          - evolucao
          - avaliacao_detalhada
          - especialistas
          - usuario

        Importante:
          - A operação não é transacional no código atual.
          - A conta no Supabase Auth não é removida por esta rota.
      operationId: deleteUsuario
      security:
        - CookieAuth: []
        - BearerAuth: []
      responses:
        "200":
          description: Usuário removido.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UsuarioMutationSuccessDeleted"
              example:
                Status: deleted
                usuario:
                  id_usuario: 22222222-2222-4222-8222-222222222222
                  auth_id: 11111111-1111-4111-8111-111111111111
                  nome: Maria Paciente
                  cpf: "12345678901"
                  created_at: "2024-01-01T12:00:00.000Z"
                  email: paciente@example.com
                  tipo_usuario: paciente
                  data_nascimento: "1990-05-20"
                  telefone_pessoal: "11999999999"
                  sexo_biologico: 1
                  area_de_atuacao: Dor crônica
                  notif_medicacoes: true
                  notif_jornada: true
                  notif_avaliacao: false
                  notif_consultas: true
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          description: Usuário não encontrado.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "440":
          $ref: "#/components/responses/IdleTimeout"
        "500":
          description: Falha ao consultar ou deletar dados relacionados.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /usuario/por-auth_id/{auth_id}:
    get:
      tags:
        - Usuario
      summary: Buscar usuário por auth_id
      description: |
        Busca o usuário pelo auth_id informado.

        Regra de permissão:
          - O auth_id do path precisa ser igual ao "sub" do JWT local.
          - Caso contrário, retorna 403.

        Retorna uma lista "usuarios" com um item e total igual a 1.
      operationId: getUsuarioPorAuthId
      security:
        - CookieAuth: []
        - BearerAuth: []
      parameters:
        - name: auth_id
          in: path
          required: true
          description: UUID do usuário no Supabase Auth. Precisa ser igual ao sub do JWT.
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Usuário encontrado.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UsuarioListSuccess"
              example:
                Status: success
                total: 1
                usuarios:
                  - id_usuario: 22222222-2222-4222-8222-222222222222
                    auth_id: 11111111-1111-4111-8111-111111111111
                    nome: Maria Paciente
                    cpf: "12345678901"
                    created_at: "2024-01-01T12:00:00.000Z"
                    email: paciente@example.com
                    tipo_usuario: paciente
                    data_nascimento: "1990-05-20"
                    telefone_pessoal: "11999999999"
                    sexo_biologico: 1
                    area_de_atuacao: Dor crônica
                    notif_medicacoes: true
                    notif_jornada: true
                    notif_avaliacao: false
                    notif_consultas: true
        "400":
          description: auth_id inválido.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                Error: O parâmetro auth_id deve ser um UUID válido.
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: Tentativa de acessar usuário diferente do autenticado.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                Error: Você não tem permissão para acessar este usuário.
        "404":
          description: Usuário não encontrado.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "440":
          $ref: "#/components/responses/IdleTimeout"
        "500":
          description: Falha ao consultar usuario.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
                
  /consultas:
    post:
      tags:
        - Consultas
      summary: Criar consulta
      description: |
        Cria uma consulta vinculada ao usuário autenticado.

        O backend ignora qualquer id_usuario enviado no body e sempre usa o id_usuario
        resolvido pela sessão autenticada.

        Campos obrigatórios:
          - medico
          - data_hora
      operationId: postConsultas
      security:
        - CookieAuth: []
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ConsultaCreateRequest"
            example:
              medico: Dr. João Silva
              data_hora: "2024-08-20T14:30:00.000Z"
              notificacao: true
      responses:
        "201":
          description: Consulta criada.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConsultaSingleCreatedSuccess"
              example:
                Status: created
                consulta:
                  id_consultas: 33333333-3333-4333-8333-333333333333
                  id_usuario: 22222222-2222-4222-8222-222222222222
                  medico: Dr. João Silva
                  data_hora: "2024-08-20T14:30:00.000Z"
                  notificacao: true
                  created_at: "2024-08-01T10:00:00.000Z"
        "400":
          description: Campo obrigatório ausente ou tipo inválido.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                obrigatorio:
                  value:
                    Error: O campo medico é obrigatório.
                tipoInvalido:
                  value:
                    Error: O campo notificacao deve ser boolean.
        "401":
          $ref: "#/components/responses/Unauthorized"
        "440":
          $ref: "#/components/responses/IdleTimeout"
        "500":
          description: Falha ao criar consulta.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

    get:
      tags:
        - Consultas
      summary: Listar consultas do usuário autenticado
      description: |
        Lista consultas pertencentes ao usuário autenticado.

        A listagem é filtrada automaticamente por ownership.
      operationId: getConsultas
      security:
        - CookieAuth: []
        - BearerAuth: []
      responses:
        "200":
          description: Lista de consultas.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConsultaListSuccess"
              example:
                Status: success
                total: 1
                consultas:
                  - id_consultas: 33333333-3333-4333-8333-333333333333
                    id_usuario: 22222222-2222-4222-8222-222222222222
                    medico: Dr. João Silva
                    data_hora: "2024-08-20T14:30:00.000Z"
                    notificacao: true
                    created_at: "2024-08-01T10:00:00.000Z"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "440":
          $ref: "#/components/responses/IdleTimeout"
        "500":
          description: Falha ao listar consultas.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /consultas/{id}:
    get:
      tags:
        - Consultas
      summary: Obter consulta por ID
      description: |
        Busca uma consulta específica, desde que pertença ao usuário autenticado.
      operationId: getConsultaById
      security:
        - CookieAuth: []
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/IdPath"
      responses:
        "200":
          description: Consulta encontrada.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConsultaSingleSuccess"
        "400":
          $ref: "#/components/responses/InvalidUuid"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/ResourceNotFound"
        "440":
          $ref: "#/components/responses/IdleTimeout"
        "500":
          description: Falha ao consultar consulta.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

    patch:
      tags:
        - Consultas
      summary: Atualizar consulta por ID
      description: |
        Atualiza uma consulta específica do usuário autenticado.

        Campos protegidos não podem ser alterados:
          - id_consultas
          - id_usuario
          - created_at
      operationId: patchConsultaById
      security:
        - CookieAuth: []
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/IdPath"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ConsultaUpdateRequest"
            example:
              data_hora: "2024-08-21T15:00:00.000Z"
              notificacao: false
      responses:
        "200":
          description: Consulta atualizada.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConsultaSingleUpdatedSuccess"
        "400":
          description: UUID inválido, campo protegido ou tipo inválido.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/ResourceNotFound"
        "440":
          $ref: "#/components/responses/IdleTimeout"
        "500":
          description: Falha ao atualizar consulta.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

    delete:
      tags:
        - Consultas
      summary: Deletar consulta por ID
      description: |
        Remove uma consulta específica, desde que pertença ao usuário autenticado.
      operationId: deleteConsultaById
      security:
        - CookieAuth: []
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/IdPath"
      responses:
        "200":
          description: Consulta deletada.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConsultaSingleDeletedSuccess"
        "400":
          $ref: "#/components/responses/InvalidUuid"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/ResourceNotFound"
        "440":
          $ref: "#/components/responses/IdleTimeout"
        "500":
          description: Falha ao deletar consulta.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /consultas/por-id_usuario/{valor}:
    get:
      tags:
        - Consultas
      summary: Listar consultas por id_usuario
      description: |
        Lista consultas pelo campo id_usuario.

        Regra de permissão:
          - O valor informado precisa corresponder ao id_usuario do usuário autenticado.
          - Caso contrário, a API retorna erro de permissão.
      operationId: getConsultasPorIdUsuario
      security:
        - CookieAuth: []
        - BearerAuth: []
      parameters:
        - name: valor
          in: path
          required: true
          description: id_usuario do usuário autenticado.
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Lista de consultas do usuário informado.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConsultaListSuccess"
        "400":
          $ref: "#/components/responses/InvalidUuid"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/ForbiddenOwner"
        "440":
          $ref: "#/components/responses/IdleTimeout"
        "500":
          description: Falha ao listar consultas.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /agenda-doria:
    post:
      tags:
        - Consultas
      summary: Criar consulta pelo alias agenda-doria
      description: Alias de POST /consultas.
      operationId: postAgendaDoria
      security:
        - CookieAuth: []
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ConsultaCreateRequest"
      responses:
        "201":
          description: Consulta criada.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConsultaSingleCreatedSuccess"
        "400":
          description: Campo obrigatório ausente ou tipo inválido.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "440":
          $ref: "#/components/responses/IdleTimeout"
        "500":
          description: Falha ao criar consulta.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

    get:
      tags:
        - Consultas
      summary: Listar consultas pelo alias agenda-doria
      description: Alias de GET /consultas.
      operationId: getAgendaDoria
      security:
        - CookieAuth: []
        - BearerAuth: []
      responses:
        "200":
          description: Lista de consultas.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConsultaListSuccess"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "440":
          $ref: "#/components/responses/IdleTimeout"
        "500":
          description: Falha ao listar consultas.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /agenda-doria/{id}:
    get:
      tags:
        - Consultas
      summary: Obter consulta pelo alias agenda-doria
      description: Alias de GET /consultas/{id}.
      operationId: getAgendaDoriaById
      security:
        - CookieAuth: []
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/IdPath"
      responses:
        "200":
          description: Consulta encontrada.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConsultaSingleSuccess"
        "400":
          $ref: "#/components/responses/InvalidUuid"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/ResourceNotFound"
        "440":
          $ref: "#/components/responses/IdleTimeout"
        "500":
          description: Falha ao consultar consulta.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

    patch:
      tags:
        - Consultas
      summary: Atualizar consulta pelo alias agenda-doria
      description: Alias de PATCH /consultas/{id}.
      operationId: patchAgendaDoriaById
      security:
        - CookieAuth: []
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/IdPath"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ConsultaUpdateRequest"
      responses:
        "200":
          description: Consulta atualizada.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConsultaSingleUpdatedSuccess"
        "400":
          description: UUID inválido, campo protegido ou tipo inválido.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/ResourceNotFound"
        "440":
          $ref: "#/components/responses/IdleTimeout"
        "500":
          description: Falha ao atualizar consulta.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

    delete:
      tags:
        - Consultas
      summary: Deletar consulta pelo alias agenda-doria
      description: Alias de DELETE /consultas/{id}.
      operationId: deleteAgendaDoriaById
      security:
        - CookieAuth: []
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/IdPath"
      responses:
        "200":
          description: Consulta deletada.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConsultaSingleDeletedSuccess"
        "400":
          $ref: "#/components/responses/InvalidUuid"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/ResourceNotFound"
        "440":
          $ref: "#/components/responses/IdleTimeout"
        "500":
          description: Falha ao deletar consulta.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /agenda-doria/por-id_usuario/{valor}:
    get:
      tags:
        - Consultas
      summary: Listar consultas por id_usuario pelo alias agenda-doria
      description: Alias de GET /consultas/por-id_usuario/{valor}.
      operationId: getAgendaDoriaPorIdUsuario
      security:
        - CookieAuth: []
        - BearerAuth: []
      parameters:
        - name: valor
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Lista de consultas.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConsultaListSuccess"
        "400":
          $ref: "#/components/responses/InvalidUuid"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/ForbiddenOwner"
        "440":
          $ref: "#/components/responses/IdleTimeout"
        "500":
          description: Falha ao listar consultas.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /minha-jornada:
    post:
      tags:
        - Minha Jornada
      summary: Criar registro de jornada
      description: |
        Cria um registro em minha_jornada vinculado ao usuário autenticado.

        O backend aceita aliases de entrada:
          - registro -> descricao
          - nivel_de_dor -> nivel_dor
          - nivel_sono -> qualidade_sono
          - nivel_ansiedade -> nivel_emocional

        O id_usuario é sempre resolvido pela sessão.
      operationId: postMinhaJornada
      security:
        - CookieAuth: []
        - BearerAuth: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MinhaJornadaCreateRequest"
            examples:
              camposReais:
                value:
                  nivel_dor: 7
                  qualidade_sono: 4
                  nivel_emocional: 8
                  descricao: Dor forte após caminhar.
              usandoAliases:
                value:
                  nivel_de_dor: 7
                  nivel_sono: 4
                  nivel_ansiedade: 8
                  registro: Dor forte após caminhar.
      responses:
        "201":
          description: Registro criado.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MinhaJornadaSingleCreatedSuccess"
        "400":
          description: Tipo inválido ou campo protegido.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "440":
          $ref: "#/components/responses/IdleTimeout"
        "500":
          description: Falha ao criar registro.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

    get:
      tags:
        - Minha Jornada
      summary: Listar registros de jornada
      description: Lista registros de minha_jornada pertencentes ao usuário autenticado.
      operationId: getMinhaJornada
      security:
        - CookieAuth: []
        - BearerAuth: []
      responses:
        "200":
          description: Lista de registros.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MinhaJornadaListSuccess"
              example:
                Status: success
                total: 1
                minha_jornada:
                  - id_minha_jornada: 44444444-4444-4444-8444-444444444444
                    id_usuario: 22222222-2222-4222-8222-222222222222
                    nivel_dor: 7
                    qualidade_sono: 4
                    nivel_emocional: 8
                    descricao: Dor forte após caminhar.
                    created_at: "2024-08-01T10:00:00.000Z"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "440":
          $ref: "#/components/responses/IdleTimeout"
        "500":
          description: Falha ao listar registros.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /minha-jornada/{id}:
    get:
      tags:
        - Minha Jornada
      summary: Obter registro de jornada por ID
      operationId: getMinhaJornadaById
      security:
        - CookieAuth: []
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/IdPath"
      responses:
        "200":
          description: Registro encontrado.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MinhaJornadaSingleSuccess"
        "400":
          $ref: "#/components/responses/InvalidUuid"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/ResourceNotFound"
        "440":
          $ref: "#/components/responses/IdleTimeout"
        "500":
          description: Falha ao consultar registro.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

    patch:
      tags:
        - Minha Jornada
      summary: Atualizar registro de jornada por ID
      operationId: patchMinhaJornadaById
      security:
        - CookieAuth: []
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/IdPath"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MinhaJornadaUpdateRequest"
            example:
              nivel_dor: 5
              descricao: Melhora após repouso.
      responses:
        "200":
          description: Registro atualizado.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MinhaJornadaSingleUpdatedSuccess"
        "400":
          description: UUID inválido, campo protegido ou tipo inválido.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/ResourceNotFound"
        "440":
          $ref: "#/components/responses/IdleTimeout"
        "500":
          description: Falha ao atualizar registro.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

    delete:
      tags:
        - Minha Jornada
      summary: Deletar registro de jornada por ID
      operationId: deleteMinhaJornadaById
      security:
        - CookieAuth: []
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/IdPath"
      responses:
        "200":
          description: Registro deletado.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MinhaJornadaSingleDeletedSuccess"
        "400":
          $ref: "#/components/responses/InvalidUuid"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/ResourceNotFound"
        "440":
          $ref: "#/components/responses/IdleTimeout"
        "500":
          description: Falha ao deletar registro.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /minha-jornada/por-id_usuario/{valor}:
    get:
      tags:
        - Minha Jornada
      summary: Listar registros de jornada por id_usuario
      operationId: getMinhaJornadaPorIdUsuario
      security:
        - CookieAuth: []
        - BearerAuth: []
      parameters:
        - name: valor
          in: path
          required: true
          description: id_usuario do usuário autenticado.
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Lista de registros.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MinhaJornadaListSuccess"
        "400":
          $ref: "#/components/responses/InvalidUuid"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/ForbiddenOwner"
        "440":
          $ref: "#/components/responses/IdleTimeout"
        "500":
          description: Falha ao listar registros.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /registro-dor:
    post:
      tags:
        - Minha Jornada
      summary: Criar registro de jornada pelo alias registro-dor
      description: Alias de POST /minha-jornada.
      operationId: postRegistroDor
      security:
        - CookieAuth: []
        - BearerAuth: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MinhaJornadaCreateRequest"
      responses:
        "201":
          description: Registro criado.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MinhaJornadaSingleCreatedSuccess"
        "400":
          description: Tipo inválido ou campo protegido.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "440":
          $ref: "#/components/responses/IdleTimeout"
        "500":
          description: Falha ao criar registro.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

    get:
      tags:
        - Minha Jornada
      summary: Listar registros pelo alias registro-dor
      description: Alias de GET /minha-jornada.
      operationId: getRegistroDor
      security:
        - CookieAuth: []
        - BearerAuth: []
      responses:
        "200":
          description: Lista de registros.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MinhaJornadaListSuccess"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "440":
          $ref: "#/components/responses/IdleTimeout"
        "500":
          description: Falha ao listar registros.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /registro-dor/{id}:
    get:
      tags:
        - Minha Jornada
      summary: Obter registro pelo alias registro-dor
      description: Alias de GET /minha-jornada/{id}.
      operationId: getRegistroDorById
      security:
        - CookieAuth: []
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/IdPath"
      responses:
        "200":
          description: Registro encontrado.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MinhaJornadaSingleSuccess"
        "400":
          $ref: "#/components/responses/InvalidUuid"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/ResourceNotFound"
        "440":
          $ref: "#/components/responses/IdleTimeout"
        "500":
          description: Falha ao consultar registro.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

    patch:
      tags:
        - Minha Jornada
      summary: Atualizar registro pelo alias registro-dor
      description: Alias de PATCH /minha-jornada/{id}.
      operationId: patchRegistroDorById
      security:
        - CookieAuth: []
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/IdPath"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MinhaJornadaUpdateRequest"
      responses:
        "200":
          description: Registro atualizado.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MinhaJornadaSingleUpdatedSuccess"
        "400":
          description: UUID inválido, campo protegido ou tipo inválido.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/ResourceNotFound"
        "440":
          $ref: "#/components/responses/IdleTimeout"
        "500":
          description: Falha ao atualizar registro.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

    delete:
      tags:
        - Minha Jornada
      summary: Deletar registro pelo alias registro-dor
      description: Alias de DELETE /minha-jornada/{id}.
      operationId: deleteRegistroDorById
      security:
        - CookieAuth: []
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/IdPath"
      responses:
        "200":
          description: Registro deletado.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MinhaJornadaSingleDeletedSuccess"
        "400":
          $ref: "#/components/responses/InvalidUuid"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/ResourceNotFound"
        "440":
          $ref: "#/components/responses/IdleTimeout"
        "500":
          description: Falha ao deletar registro.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /registro-dor/por-id_usuario/{valor}:
    get:
      tags:
        - Minha Jornada
      summary: Listar registros por id_usuario pelo alias registro-dor
      description: Alias de GET /minha-jornada/por-id_usuario/{valor}.
      operationId: getRegistroDorPorIdUsuario
      security:
        - CookieAuth: []
        - BearerAuth: []
      parameters:
        - name: valor
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Lista de registros.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MinhaJornadaListSuccess"
        "400":
          $ref: "#/components/responses/InvalidUuid"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/ForbiddenOwner"
        "440":
          $ref: "#/components/responses/IdleTimeout"
        "500":
          description: Falha ao listar registros.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /enderecos:
    post:
      tags:
        - Enderecos
      summary: Criar endereço
      description: |
        Cria um endereço vinculado ao usuário autenticado.

        O id_usuario é sempre resolvido pela sessão.
      operationId: postEnderecos
      security:
        - CookieAuth: []
        - BearerAuth: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EnderecoCreateRequest"
            example:
              rua: Rua das Flores
              cep: "01001000"
              complemento: Apto 101
              bairro: Centro
              cidade: São Paulo
              estado: SP
              numero: "123"
      responses:
        "201":
          description: Endereço criado.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EnderecoSingleCreatedSuccess"
        "400":
          description: Tipo inválido ou campo protegido.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "440":
          $ref: "#/components/responses/IdleTimeout"
        "500":
          description: Falha ao criar endereço.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

    get:
      tags:
        - Enderecos
      summary: Listar endereços
      description: Lista endereços pertencentes ao usuário autenticado.
      operationId: getEnderecos
      security:
        - CookieAuth: []
        - BearerAuth: []
      responses:
        "200":
          description: Lista de endereços.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EnderecoListSuccess"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "440":
          $ref: "#/components/responses/IdleTimeout"
        "500":
          description: Falha ao listar endereços.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /enderecos/{id}:
    get:
      tags:
        - Enderecos
      summary: Obter endereço por ID
      operationId: getEnderecoById
      security:
        - CookieAuth: []
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/IdPath"
      responses:
        "200":
          description: Endereço encontrado.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EnderecoSingleSuccess"
        "400":
          $ref: "#/components/responses/InvalidUuid"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/ResourceNotFound"
        "440":
          $ref: "#/components/responses/IdleTimeout"
        "500":
          description: Falha ao consultar endereço.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

    patch:
      tags:
        - Enderecos
      summary: Atualizar endereço por ID
      operationId: patchEnderecoById
      security:
        - CookieAuth: []
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/IdPath"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EnderecoUpdateRequest"
            example:
              numero: "456"
              complemento: Casa
      responses:
        "200":
          description: Endereço atualizado.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EnderecoSingleUpdatedSuccess"
        "400":
          description: UUID inválido, campo protegido ou tipo inválido.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/ResourceNotFound"
        "440":
          $ref: "#/components/responses/IdleTimeout"
        "500":
          description: Falha ao atualizar endereço.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

    delete:
      tags:
        - Enderecos
      summary: Deletar endereço por ID
      operationId: deleteEnderecoById
      security:
        - CookieAuth: []
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/IdPath"
      responses:
        "200":
          description: Endereço deletado.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EnderecoSingleDeletedSuccess"
        "400":
          $ref: "#/components/responses/InvalidUuid"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/ResourceNotFound"
        "440":
          $ref: "#/components/responses/IdleTimeout"
        "500":
          description: Falha ao deletar endereço.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /enderecos/por-id_usuario/{valor}:
    get:
      tags:
        - Enderecos
      summary: Listar endereços por id_usuario
      operationId: getEnderecosPorIdUsuario
      security:
        - CookieAuth: []
        - BearerAuth: []
      parameters:
        - name: valor
          in: path
          required: true
          description: id_usuario do usuário autenticado.
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Lista de endereços.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EnderecoListSuccess"
        "400":
          $ref: "#/components/responses/InvalidUuid"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/ForbiddenOwner"
        "440":
          $ref: "#/components/responses/IdleTimeout"
        "500":
          description: Falha ao listar endereços.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /medicacoes:
    post:
      tags:
        - Medicacoes
      summary: Criar medicação
      description: |
        Cria uma medicação vinculada ao usuário autenticado.

        Campos obrigatórios:
          - nome

        Aliases aceitos:
          - inicio -> periodo_inicio
          - fim -> periodo_fim

        O id_usuario é sempre resolvido pela sessão.
      operationId: postMedicacoes
      security:
        - CookieAuth: []
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MedicacaoCreateRequest"
            example:
              nome: Dipirona
              frequencia: A cada 8 horas
              continuo: false
              periodo_inicio: "2024-08-01"
              periodo_fim: "2024-08-07"
              horarios:
                - "08:00"
                - "16:00"
                - "00:00"
              notificacao_alerta: true
      responses:
        "201":
          description: Medicação criada.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MedicacaoSingleCreatedSuccess"
        "400":
          description: Campo obrigatório ausente, campo protegido ou tipo inválido.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                Error: O campo nome é obrigatório.
        "401":
          $ref: "#/components/responses/Unauthorized"
        "440":
          $ref: "#/components/responses/IdleTimeout"
        "500":
          description: Falha ao criar medicação.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

    get:
      tags:
        - Medicacoes
      summary: Listar medicações
      description: Lista medicações pertencentes ao usuário autenticado.
      operationId: getMedicacoes
      security:
        - CookieAuth: []
        - BearerAuth: []
      responses:
        "200":
          description: Lista de medicações.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MedicacaoListSuccess"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "440":
          $ref: "#/components/responses/IdleTimeout"
        "500":
          description: Falha ao listar medicações.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /medicacoes/{id}:
    get:
      tags:
        - Medicacoes
      summary: Obter medicação por ID
      operationId: getMedicacaoById
      security:
        - CookieAuth: []
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/IdPath"
      responses:
        "200":
          description: Medicação encontrada.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MedicacaoSingleSuccess"
        "400":
          $ref: "#/components/responses/InvalidUuid"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/ResourceNotFound"
        "440":
          $ref: "#/components/responses/IdleTimeout"
        "500":
          description: Falha ao consultar medicação.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

    patch:
      tags:
        - Medicacoes
      summary: Atualizar medicação por ID
      operationId: patchMedicacaoById
      security:
        - CookieAuth: []
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/IdPath"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MedicacaoUpdateRequest"
            example:
              frequencia: A cada 12 horas
              notificacao_alerta: false
      responses:
        "200":
          description: Medicação atualizada.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MedicacaoSingleUpdatedSuccess"
        "400":
          description: UUID inválido, campo protegido ou tipo inválido.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/ResourceNotFound"
        "440":
          $ref: "#/components/responses/IdleTimeout"
        "500":
          description: Falha ao atualizar medicação.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

    delete:
      tags:
        - Medicacoes
      summary: Deletar medicação por ID
      operationId: deleteMedicacaoById
      security:
        - CookieAuth: []
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/IdPath"
      responses:
        "200":
          description: Medicação deletada.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MedicacaoSingleDeletedSuccess"
        "400":
          $ref: "#/components/responses/InvalidUuid"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/ResourceNotFound"
        "440":
          $ref: "#/components/responses/IdleTimeout"
        "500":
          description: Falha ao deletar medicação.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /medicacoes/por-id_usuario/{valor}:
    get:
      tags:
        - Medicacoes
      summary: Listar medicações por id_usuario
      operationId: getMedicacoesPorIdUsuario
      security:
        - CookieAuth: []
        - BearerAuth: []
      parameters:
        - name: valor
          in: path
          required: true
          description: id_usuario do usuário autenticado.
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Lista de medicações.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MedicacaoListSuccess"
        "400":
          $ref: "#/components/responses/InvalidUuid"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/ForbiddenOwner"
        "440":
          $ref: "#/components/responses/IdleTimeout"
        "500":
          description: Falha ao listar medicações.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /controle-medicacoes:
    post:
      tags:
        - Controle Medicacoes
      summary: Criar controle de medicação
      description: |
        Cria um registro de controle de tomada de medicação.

        Campos obrigatórios:
          - id_medicacoes

        Regra de permissão:
          - A medicação informada em id_medicacoes precisa pertencer ao usuário autenticado.
      operationId: postControleMedicacoes
      security:
        - CookieAuth: []
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ControleMedicacaoCreateRequest"
            example:
              id_medicacoes: 55555555-5555-4555-8555-555555555555
              tomou: true
      responses:
        "201":
          description: Controle criado.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ControleMedicacaoSingleCreatedSuccess"
        "400":
          description: Campo obrigatório ausente, UUID inválido ou tipo inválido.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                Error: O campo id_medicacoes é obrigatório.
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: Medicação não pertence ao usuário autenticado.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Medicação pai não encontrada ou inacessível.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "440":
          $ref: "#/components/responses/IdleTimeout"
        "500":
          description: Falha ao criar controle de medicação.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

    get:
      tags:
        - Controle Medicacoes
      summary: Listar controles de medicação
      description: |
        Lista controles de medicação pertencentes ao usuário autenticado.

        O ownership é indireto:
          controle_medicacoes -> medicacoes -> usuario.
      operationId: getControleMedicacoes
      security:
        - CookieAuth: []
        - BearerAuth: []
      responses:
        "200":
          description: Lista de controles.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ControleMedicacaoListSuccess"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "440":
          $ref: "#/components/responses/IdleTimeout"
        "500":
          description: Falha ao listar controles.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /controle-medicacoes/{id}:
    get:
      tags:
        - Controle Medicacoes
      summary: Obter controle de medicação por ID
      operationId: getControleMedicacaoById
      security:
        - CookieAuth: []
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/IdPath"
      responses:
        "200":
          description: Controle encontrado.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ControleMedicacaoSingleSuccess"
        "400":
          $ref: "#/components/responses/InvalidUuid"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/ResourceNotFound"
        "440":
          $ref: "#/components/responses/IdleTimeout"
        "500":
          description: Falha ao consultar controle.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

    patch:
      tags:
        - Controle Medicacoes
      summary: Atualizar controle de medicação por ID
      description: |
        Permite atualizar o campo tomou e, caso id_medicacoes seja alterado,
        a nova medicação precisa pertencer ao usuário autenticado.
      operationId: patchControleMedicacaoById
      security:
        - CookieAuth: []
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/IdPath"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ControleMedicacaoUpdateRequest"
            example:
              tomou: false
      responses:
        "200":
          description: Controle atualizado.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ControleMedicacaoSingleUpdatedSuccess"
        "400":
          description: UUID inválido, campo protegido ou tipo inválido.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: Medicação informada não pertence ao usuário autenticado.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          $ref: "#/components/responses/ResourceNotFound"
        "440":
          $ref: "#/components/responses/IdleTimeout"
        "500":
          description: Falha ao atualizar controle.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

    delete:
      tags:
        - Controle Medicacoes
      summary: Deletar controle de medicação por ID
      operationId: deleteControleMedicacaoById
      security:
        - CookieAuth: []
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/IdPath"
      responses:
        "200":
          description: Controle deletado.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ControleMedicacaoSingleDeletedSuccess"
        "400":
          $ref: "#/components/responses/InvalidUuid"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/ResourceNotFound"
        "440":
          $ref: "#/components/responses/IdleTimeout"
        "500":
          description: Falha ao deletar controle.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /controle-medicacoes/por-id_medicacoes/{valor}:
    get:
      tags:
        - Controle Medicacoes
      summary: Listar controles por id_medicacoes
      description: |
        Lista controles de uma medicação específica.

        Regra de permissão:
          - A medicação informada precisa pertencer ao usuário autenticado.
      operationId: getControleMedicacoesPorIdMedicacoes
      security:
        - CookieAuth: []
        - BearerAuth: []
      parameters:
        - name: valor
          in: path
          required: true
          description: ID da medicação.
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Lista de controles da medicação.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ControleMedicacaoListSuccess"
        "400":
          $ref: "#/components/responses/InvalidUuid"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: Medicação não pertence ao usuário autenticado.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Medicação pai não encontrada ou inacessível.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "440":
          $ref: "#/components/responses/IdleTimeout"
        "500":
          description: Falha ao listar controles.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /evolucao:
    post:
      tags:
        - Evolucao
      summary: Criar evolução
      description: |
        Cria um registro de evolução vinculado ao usuário autenticado.

        O id_usuario é sempre resolvido pela sessão.
      operationId: postEvolucao
      security:
        - CookieAuth: []
        - BearerAuth: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EvolucaoCreateRequest"
            example:
              inicio: "2024-08-01"
              localizacao: Lombar
              duracao: 2 dias
              caracteristica: Pontada
              fatores: Piora ao caminhar
              irradiacao: Perna direita
              padrao_temporal: Intermitente
              sintomas_associados: Formigamento
      responses:
        "201":
          description: Evolução criada.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EvolucaoSingleCreatedSuccess"
        "400":
          description: Tipo inválido ou campo protegido.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "440":
          $ref: "#/components/responses/IdleTimeout"
        "500":
          description: Falha ao criar evolução.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

    get:
      tags:
        - Evolucao
      summary: Listar evoluções
      description: Lista evoluções pertencentes ao usuário autenticado.
      operationId: getEvolucao
      security:
        - CookieAuth: []
        - BearerAuth: []
      responses:
        "200":
          description: Lista de evoluções.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EvolucaoListSuccess"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "440":
          $ref: "#/components/responses/IdleTimeout"
        "500":
          description: Falha ao listar evoluções.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /evolucao/{id}:
    get:
      tags:
        - Evolucao
      summary: Obter evolução por ID
      operationId: getEvolucaoById
      security:
        - CookieAuth: []
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/IdPath"
      responses:
        "200":
          description: Evolução encontrada.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EvolucaoSingleSuccess"
        "400":
          $ref: "#/components/responses/InvalidUuid"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/ResourceNotFound"
        "440":
          $ref: "#/components/responses/IdleTimeout"
        "500":
          description: Falha ao consultar evolução.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

    patch:
      tags:
        - Evolucao
      summary: Atualizar evolução por ID
      operationId: patchEvolucaoById
      security:
        - CookieAuth: []
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/IdPath"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EvolucaoUpdateRequest"
            example:
              duracao: 3 dias
              sintomas_associados: Formigamento leve
      responses:
        "200":
          description: Evolução atualizada.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EvolucaoSingleUpdatedSuccess"
        "400":
          description: UUID inválido, campo protegido ou tipo inválido.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/ResourceNotFound"
        "440":
          $ref: "#/components/responses/IdleTimeout"
        "500":
          description: Falha ao atualizar evolução.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

    delete:
      tags:
        - Evolucao
      summary: Deletar evolução por ID
      operationId: deleteEvolucaoById
      security:
        - CookieAuth: []
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/IdPath"
      responses:
        "200":
          description: Evolução deletada.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EvolucaoSingleDeletedSuccess"
        "400":
          $ref: "#/components/responses/InvalidUuid"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/ResourceNotFound"
        "440":
          $ref: "#/components/responses/IdleTimeout"
        "500":
          description: Falha ao deletar evolução.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /evolucao/por-id_usuario/{valor}:
    get:
      tags:
        - Evolucao
      summary: Listar evoluções por id_usuario
      operationId: getEvolucaoPorIdUsuario
      security:
        - CookieAuth: []
        - BearerAuth: []
      parameters:
        - name: valor
          in: path
          required: true
          description: id_usuario do usuário autenticado.
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Lista de evoluções.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EvolucaoListSuccess"
        "400":
          $ref: "#/components/responses/InvalidUuid"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/ForbiddenOwner"
        "440":
          $ref: "#/components/responses/IdleTimeout"
        "500":
          description: Falha ao listar evoluções.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
                
  /certificar_especialista:
    post:
      tags:
        - Especialistas
      summary: Certificar especialista via Consultar.IO
      description: |
        Valida o registro profissional do especialista autenticado usando Consultar.IO
        e marca o especialista mais recente do usuário como verificado.

        Regras:
          - Exige sessão autenticada não anônima.
          - Busca o id_usuario pelo auth_id da sessão.
          - Busca o especialista mais recente do usuário autenticado.
          - Se já estiver verificado, retorna 409.
          - Há cooldown de 5 minutos entre tentativas.
          - Se o profissional for encontrado na Consultar.IO, atualiza:
              especialistas.verificado = true

        Tipos aceitos no body:
          - CRM
          - CRO
          - CRBM
          - CRF
          - CRP

        Observação:
          - CRP é aceito na validação inicial, mas no código atual retorna 501,
            pois a rota oficial da Consultar.IO ainda não está habilitada no backend.
          - Para CRF, o campo cidade é obrigatório.
      operationId: postCertificarEspecialista
      security:
        - CookieAuth: []
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CertificarEspecialistaRequest"
            examples:
              crm:
                value:
                  tipo: CRM
                  codigo: "123456"
                  estado: SP
                  cidade: São Paulo
              crf:
                value:
                  tipo: CRF
                  codigo: "123456"
                  estado: SP
                  cidade: São Paulo
      responses:
        "200":
          description: Especialista certificado com sucesso.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CertificarEspecialistaSuccess"
              example:
                Status: success
                message: Especialista certificado com sucesso.
                especialista:
                  id_especialista: 99999999-9999-4999-8999-999999999999
                  verificado: true
                profissional:
                  uf: SP
                  regiao: null
                  numero_registro: "123456"
                  categoria: null
                  nome_razao_social: João Silva
                  situacao: Ativo
                  tipo_inscricao: Principal
                  especialidades: Dor
                  cidade: São Paulo
                  data_inscricao: "2010-01-01"
                  data_inscricao_formatada: "01/01/2010"
        "400":
          description: Tipo inválido ou campos obrigatórios ausentes.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                tipoInvalido:
                  value:
                    Error: O campo tipo deve ser CRM, CRO, CRBM, CRF ou CRP.
                codigoEstadoObrigatorios:
                  value:
                    Error: Os campos codigo e estado são obrigatórios.
                cidadeCrfObrigatoria:
                  value:
                    Error: O campo cidade é obrigatório para CRF.
        "401":
          description: Sessão inválida, anônima ou ausente.
          content:
            application/json:
              schema:
[...]
