openapi: 3.1.0
info:
  title: Backend Doria API
  version: 1.1.0
  description: |
    Especificação OpenAPI 3.1 gerada a partir do código do backend Dor.ia.

    Observações:
    - As rotas protegidas aceitam autenticação por cookie (`token`) ou por header `Authorization: Bearer <jwt>`.
    - O token retornado em `POST /login` é o JWT de sessão local do backend.
    - `POST /auth/session` e `POST /auth/onboard` criam a sessão local a partir de um `access_token` do Supabase.
    - Os recursos associados ao usuário autenticado resolvem o `uuid` a partir do `auth_id` presente na sessão.

servers:
  - url: https://api.falecomadoria.com.br
    description: Produção
  - url: http://localhost:3433
    description: Local

tags:
  - name: Health
  - name: Auth
  - name: Chat
  - name: Agenda Doria
  - name: Registro de Dor
  - name: Usuário
  - name: Especialista SBED
  - name: Medicações

paths:
  /:
    get:
      tags: [Health]
      summary: Verifica se existe uma sessão ativa via cookie
      description: |
        Retorna se o backend reconhece uma sessão válida no cookie `token`.
        Esta rota não usa o header Bearer; ela verifica apenas o cookie.
      responses:
        "200":
          description: Status da API e presença de sessão no cookie
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthResponse"
              examples:
                semSessao:
                  value:
                    Status: Success
                    hasSession: false
                comSessao:
                  value:
                    Status: Success
                    hasSession: true

  /auth/signup:
    post:
      tags: [Auth]
      summary: Cadastra usuário com email e senha
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AuthSignupRequest"
      responses:
        "200":
          description: Cadastro realizado
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthSignupResponse"
        "400":
          description: Dados inválidos
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "409":
          description: Usuário já existe
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Erro interno
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /login:
    post:
      tags: [Auth]
      summary: Faz login com email e senha
      description: |
        Autentica no Supabase, cria o cookie `token` e também retorna o JWT de sessão local no campo `token`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LoginRequest"
      responses:
        "200":
          description: Login realizado com sucesso
          headers:
            Set-Cookie:
              description: Cookie de sessão `token`
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LoginResponse"
        "401":
          description: Credenciais inválidas
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: E-mail ainda não confirmado
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /auth/session:
    post:
      tags: [Auth]
      summary: Cria sessão local a partir de access token do Supabase
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AccessTokenRequest"
      responses:
        "200":
          description: Sessão criada com sucesso
          headers:
            Set-Cookie:
              description: Cookie de sessão `token`
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthSessionResponse"
        "400":
          description: access_token ausente
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Sessão inválida
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Perfil não encontrado
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /auth/onboard:
    post:
      tags: [Auth]
      summary: Alias de onboarding a partir de access token do Supabase
      description: Mantém compatibilidade com fluxo pós-OAuth ou confirmação de conta.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AccessTokenRequest"
      responses:
        "200":
          description: Sessão criada com sucesso
          headers:
            Set-Cookie:
              description: Cookie de sessão `token`
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthSessionResponse"
        "400":
          description: access_token ausente
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Sessão inválida
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Perfil não encontrado
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /auth/forgot-password:
    post:
      tags: [Auth]
      summary: Solicita recuperação de senha
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ForgotPasswordRequest"
      responses:
        "200":
          description: Solicitação enviada
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StatusOkResponse"
        "400":
          description: E-mail ausente ou falha na solicitação
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /auth/update-password:
    post:
      tags: [Auth]
      summary: Atualiza a senha a partir de access token do usuário
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdatePasswordRequest"
      responses:
        "200":
          description: Senha atualizada
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdatePasswordResponse"
        "400":
          description: Dados inválidos ou falha na atualização
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Token inválido
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /auth/me:
    get:
      tags: [Auth]
      summary: Retorna a sessão ativa atual
      security:
        - bearerAuth: []
        - cookieAuth: []
      responses:
        "200":
          description: Sessão válida
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthMeResponse"
        "401":
          description: Não autenticado
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "440":
          description: Sessão expirada por inatividade
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /logout:
    post:
      tags: [Auth]
      summary: Encerra a sessão local
      responses:
        "200":
          description: Logout realizado
          headers:
            Set-Cookie:
              description: Limpeza do cookie `token`
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LogoutResponse"

  /consent:
    post:
      tags: [Chat]
      summary: Cria sessão anônima para consentimento do chat
      description: Gera uma sessão anônima e grava o cookie `token`.
      responses:
        "200":
          description: Consentimento aceito
          headers:
            Set-Cookie:
              description: Cookie de sessão `token`
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConsentResponse"

  /send-message-n8n:
    post:
      tags: [Chat]
      summary: Envia mensagem para o webhook do n8n
      description: |
        Requer sessão ativa. O backend envia `{ identifier, message }` para o n8n,
        onde `identifier` é o `sub` do usuário autenticado.
      security:
        - bearerAuth: []
        - cookieAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SendMessageRequest"
      responses:
        "200":
          description: Resposta devolvida pelo n8n
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "400":
          description: Campo message ausente
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Não autenticado
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "440":
          description: Sessão expirada por inatividade
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "502":
          description: Falha ao chamar o n8n
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /agenda-doria:
    post:
      tags: [Agenda Doria]
      summary: Cria um item da agenda Doria
      security:
        - bearerAuth: []
        - cookieAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AgendaDoriaCreateRequest"
      responses:
        "201":
          description: Item criado
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgendaDoriaCreateResponse"
        "400":
          description: Dados inválidos
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Sessão inválida ou ausente
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Usuário não encontrado na tabela usuario
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "440":
          description: Sessão expirada por inatividade
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Erro ao inserir na base
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    get:
      tags: [Agenda Doria]
      summary: Lista os itens da agenda Doria do usuário autenticado
      security:
        - bearerAuth: []
        - cookieAuth: []
      responses:
        "200":
          description: Lista retornada com sucesso
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgendaDoriaListResponse"
        "401":
          description: Sessão inválida ou ausente
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Usuário não encontrado na tabela usuario
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "440":
          description: Sessão expirada por inatividade
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Erro ao consultar a base
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /agenda-doria/{id}:
    parameters:
      - $ref: "#/components/parameters/IdParam"
    patch:
      tags: [Agenda Doria]
      summary: Atualiza parcialmente um item da agenda Doria
      security:
        - bearerAuth: []
        - cookieAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AgendaDoriaUpdateRequest"
      responses:
        "200":
          description: Item atualizado
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgendaDoriaUpdateResponse"
        "400":
          description: Dados inválidos ou nenhum campo válido informado
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Sessão inválida ou ausente
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Item ou usuário não encontrado
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "440":
          description: Sessão expirada por inatividade
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Erro ao atualizar na base
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    delete:
      tags: [Agenda Doria]
      summary: Remove um item da agenda Doria
      security:
        - bearerAuth: []
        - cookieAuth: []
      responses:
        "200":
          description: Item removido
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgendaDoriaDeleteResponse"
        "400":
          description: Parâmetro id inválido
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Sessão inválida ou ausente
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Item ou usuário não encontrado
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "440":
          description: Sessão expirada por inatividade
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Erro ao deletar da base
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /registro-dor:
    post:
      tags: [Registro de Dor]
      summary: Cria um registro de dor
      security:
        - bearerAuth: []
        - cookieAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RegistroDorCreateRequest"
      responses:
        "201":
          description: Registro criado
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RegistroDorCreateResponse"
        "400":
          description: Dados inválidos
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Sessão inválida ou ausente
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Usuário não encontrado na tabela usuario
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "440":
          description: Sessão expirada por inatividade
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Erro ao inserir na base
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    get:
      tags: [Registro de Dor]
      summary: Lista os registros de dor do usuário autenticado
      security:
        - bearerAuth: []
        - cookieAuth: []
      responses:
        "200":
          description: Lista retornada com sucesso
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RegistroDorListResponse"
        "401":
          description: Sessão inválida ou ausente
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Usuário não encontrado na tabela usuario
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "440":
          description: Sessão expirada por inatividade
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Erro ao consultar a base
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /registro-dor/{id}:
    parameters:
      - $ref: "#/components/parameters/IdParam"
    patch:
      tags: [Registro de Dor]
      summary: Atualiza parcialmente um registro de dor
      security:
        - bearerAuth: []
        - cookieAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RegistroDorUpdateRequest"
      responses:
        "200":
          description: Registro atualizado
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RegistroDorUpdateResponse"
        "400":
          description: Dados inválidos ou nenhum campo válido informado
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Sessão inválida ou ausente
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Item ou usuário não encontrado
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "440":
          description: Sessão expirada por inatividade
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Erro ao atualizar na base
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    delete:
      tags: [Registro de Dor]
      summary: Remove um registro de dor
      security:
        - bearerAuth: []
        - cookieAuth: []
      responses:
        "200":
          description: Registro removido
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RegistroDorDeleteResponse"
        "400":
          description: Parâmetro id inválido
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Sessão inválida ou ausente
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Item ou usuário não encontrado
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "440":
          description: Sessão expirada por inatividade
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Erro ao deletar da base
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /usuario:
    get:
      tags: [Usuário]
      summary: Retorna o usuário autenticado
      security:
        - bearerAuth: []
        - cookieAuth: []
      responses:
        "200":
          description: Usuário retornado com sucesso
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UsuarioGetResponse"
        "401":
          description: Sessão inválida ou ausente
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Usuário não encontrado na tabela usuario
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "440":
          description: Sessão expirada por inatividade
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Erro ao consultar a base
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    patch:
      tags: [Usuário]
      summary: Atualiza os dados do usuário autenticado
      security:
        - bearerAuth: []
        - cookieAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UsuarioUpdateRequest"
      responses:
        "200":
          description: Usuário atualizado
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UsuarioUpdateResponse"
        "400":
          description: Dados inválidos
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Sessão inválida ou ausente
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Usuário não encontrado na tabela usuario
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "440":
          description: Sessão expirada por inatividade
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Erro ao atualizar na base
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    delete:
      tags: [Usuário]
      summary: Remove o usuário autenticado da tabela usuario
      description: |
        Remove apenas o registro da tabela `usuario`.
        Não remove a conta em `auth.users` do Supabase.
      security:
        - bearerAuth: []
        - cookieAuth: []
      responses:
        "200":
          description: Usuário removido
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UsuarioDeleteResponse"
        "401":
          description: Sessão inválida ou ausente
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Usuário não encontrado na tabela usuario
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "440":
          description: Sessão expirada por inatividade
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Erro ao deletar da base
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /especialista-sbed:
    post:
      tags: [Especialista SBED]
      summary: Cria um especialista SBED vinculado ao usuário autenticado
      security:
        - bearerAuth: []
        - cookieAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EspecialistaSbedCreateRequest"
      responses:
        "201":
          description: Especialista criado
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EspecialistaSbedCreateResponse"
        "400":
          description: Dados inválidos
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Sessão inválida ou ausente
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Usuário não encontrado na tabela usuario
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "440":
          description: Sessão expirada por inatividade
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Erro ao inserir na base
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    get:
      tags: [Especialista SBED]
      summary: Lista os especialistas SBED do usuário autenticado
      security:
        - bearerAuth: []
        - cookieAuth: []
      responses:
        "200":
          description: Lista retornada com sucesso
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EspecialistaSbedListResponse"
        "401":
          description: Sessão inválida ou ausente
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Usuário não encontrado na tabela usuario
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "440":
          description: Sessão expirada por inatividade
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Erro ao consultar a base
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /especialista-sbed/{id}:
    parameters:
      - $ref: "#/components/parameters/IdParam"
    patch:
      tags: [Especialista SBED]
      summary: Atualiza parcialmente um especialista SBED
      security:
        - bearerAuth: []
        - cookieAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EspecialistaSbedUpdateRequest"
      responses:
        "200":
          description: Especialista atualizado
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EspecialistaSbedUpdateResponse"
        "400":
          description: Dados inválidos ou nenhum campo válido informado
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Sessão inválida ou ausente
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Especialista ou usuário não encontrado
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "440":
          description: Sessão expirada por inatividade
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Erro ao atualizar na base
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    delete:
      tags: [Especialista SBED]
      summary: Remove um especialista SBED
      security:
        - bearerAuth: []
        - cookieAuth: []
      responses:
        "200":
          description: Especialista removido
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EspecialistaSbedDeleteResponse"
        "400":
          description: Parâmetro id inválido
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Sessão inválida ou ausente
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Especialista ou usuário não encontrado
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "440":
          description: Sessão expirada por inatividade
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Erro ao deletar da base
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /medicacoes:
    post:
      tags: [Medicações]
      summary: Cria uma medicação
      security:
        - bearerAuth: []
        - cookieAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MedicacaoCreateRequest"
      responses:
        "201":
          description: Medicação criada
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MedicacaoCreateResponse"
        "400":
          description: Dados inválidos
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Sessão inválida ou ausente
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Usuário não encontrado na tabela usuario
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "440":
          description: Sessão expirada por inatividade
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Erro ao inserir na base
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    get:
      tags: [Medicações]
      summary: Lista as medicações do usuário autenticado
      security:
        - bearerAuth: []
        - cookieAuth: []
      responses:
        "200":
          description: Lista retornada com sucesso
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MedicacaoListResponse"
        "401":
          description: Sessão inválida ou ausente
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Usuário não encontrado na tabela usuario
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "440":
          description: Sessão expirada por inatividade
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Erro ao consultar a base
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /medicacoes/{id}:
    parameters:
      - $ref: "#/components/parameters/IdParam"
    patch:
      tags: [Medicações]
      summary: Atualiza parcialmente uma medicação
      security:
        - bearerAuth: []
        - cookieAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MedicacaoUpdateRequest"
      responses:
        "200":
          description: Medicação atualizada
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MedicacaoUpdateResponse"
        "400":
          description: Dados inválidos ou nenhum campo válido informado
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Sessão inválida ou ausente
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Medicação ou usuário não encontrado
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "440":
          description: Sessão expirada por inatividade
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Erro ao atualizar na base
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    delete:
      tags: [Medicações]
      summary: Remove uma medicação
      security:
        - bearerAuth: []
        - cookieAuth: []
      responses:
        "200":
          description: Medicação removida
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MedicacaoDeleteResponse"
        "400":
          description: Parâmetro id inválido
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Sessão inválida ou ausente
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Medicação ou usuário não encontrado
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "440":
          description: Sessão expirada por inatividade
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Erro ao deletar da base
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

components:
  parameters:
    IdParam:
      name: id
      in: path
      required: true
      description: Identificador numérico do recurso
      schema:
        type: integer
        minimum: 1

  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT retornado pelo endpoint `/login`
    cookieAuth:
      type: apiKey
      in: cookie
      name: token
      description: Cookie de sessão local criado pelo backend

  schemas:
    ErrorResponse:
      type: object
      additionalProperties: false
      required: [Error]
      properties:
        Error:
          type: string
          example: you are not authenticated

    HealthResponse:
      type: object
      additionalProperties: false
      required: [Status, hasSession]
      properties:
        Status:
          type: string
          example: Success
        hasSession:
          type: boolean

    StatusOkResponse:
      type: object
      additionalProperties: false
      required: [Status]
      properties:
        Status:
          type: string
          example: ok

    LogoutResponse:
      type: object
      additionalProperties: false
      required: [Status]
      properties:
        Status:
          type: string
          example: Logged out

    ConsentResponse:
      type: object
      additionalProperties: false
      required: [Status, created]
      properties:
        Status:
          type: string
          example: Consent accepted
        created:
          type: boolean
          example: true

    AccessTokenRequest:
      type: object
      additionalProperties: false
      required: [access_token]
      properties:
        access_token:
          type: string
          minLength: 1

    ForgotPasswordRequest:
      type: object
      additionalProperties: false
      required: [email]
      properties:
        email:
          type: string
          format: email

    UpdatePasswordRequest:
      type: object
      additionalProperties: false
      required: [access_token, newPassword]
      properties:
        access_token:
          type: string
        newPassword:
          type: string
          minLength: 1

    UpdatePasswordResponse:
      type: object
      additionalProperties: false
      required: [Status, updated]
      properties:
        Status:
          type: string
          example: ok
        updated:
          type: boolean
          example: true

    AuthSignupRequest:
      type: object
      additionalProperties: false
      required: [email, password]
      properties:
        email:
          type: string
          format: email
        password:
          type: string
          minLength: 8
        nome:
          type: string
        tipo:
          type: string
          example: paciente
        cpf:
          type: string

    AuthSignupResponse:
      type: object
      additionalProperties: false
      required: [Status, auth_id, email, needs_email_confirm]
      properties:
        Status:
          type: string
          example: created
        auth_id:
          type: string
        email:
          type: string
          format: email
        needs_email_confirm:
          type: boolean

    LoginRequest:
      type: object
      additionalProperties: false
      required: [email, password]
      properties:
        email:
          type: string
          format: email
        password:
          type: string

    UsuarioResumo:
      type: object
      additionalProperties: false
      required: [email]
      properties:
        auth_id:
          type: string
        nome:
          type: string
          nullable: true
        email:
          type: string
          format: email
        tipo:
          type: string
          nullable: true
        cpf:
          type: string
          nullable: true

    LoginResponse:
      type: object
      additionalProperties: false
      required: [Status, token, user]
      properties:
        Status:
          type: string
          example: success
        token:
          type: string
          description: JWT de sessão local do backend
        user:
          type: object
          additionalProperties: false
          required: [nome, email, tipo]
          properties:
            nome:
              type: string
              nullable: true
            email:
              type: string
              format: email
            tipo:
              type: string
              nullable: true

    AuthSessionResponse:
      type: object
      additionalProperties: false
      required: [Status, user]
      properties:
        Status:
          type: string
          example: success
        user:
          $ref: "#/components/schemas/UsuarioResumo"

    JwtSessionPayload:
      type: object
      additionalProperties: false
      required: [sub, last, anon]
      properties:
        sub:
          type: string
          description: auth_id do usuário ou UUID anônimo
        last:
          type: integer
          description: timestamp em milissegundos da última atividade
        anon:
          type: boolean
        doctorId:
          type: string
        nome:
          type: string
        email:
          type: string
          format: email
        tipo:
          type: string
        cpf:
          type: string

    AuthMeResponse:
      type: object
      additionalProperties: false
      required: [Status, user]
      properties:
        Status:
          type: string
          example: ok
        user:
          $ref: "#/components/schemas/JwtSessionPayload"

    SendMessageRequest:
      type: object
      additionalProperties: false
      required: [message]
      properties:
        message:
          type: string
          minLength: 1

    Usuario:
      type: object
      additionalProperties: false
      required:
        - uuid
        - auth_id
        - nome
        - cpf
        - created_at
        - email
        - tipo
        - data_nascimento
        - telefone_pessoal
        - cep_pessoal
        - rua_pessoal
        - cidade_pessoal
        - estado_pessoal
        - bairro_pessoal
        - complemento_pessoal
        - numero_endereco_pessoal
      properties:
        uuid:
          type: string
        auth_id:
          type: string
        nome:
          type: string
          nullable: true
        cpf:
          type: string
          nullable: true
          pattern: '^[0-9]{11}$'
        created_at:
          type: string
          format: date-time
          nullable: true
        email:
          type: string
          nullable: true
        tipo:
          type: string
          nullable: true
        data_nascimento:
          type: string
          format: date
          nullable: true
        telefone_pessoal:
          type: string
          nullable: true
        cep_pessoal:
          type: string
          nullable: true
        rua_pessoal:
          type: string
          nullable: true
        cidade_pessoal:
          type: string
          nullable: true
        estado_pessoal:
          type: string
          nullable: true
        bairro_pessoal:
          type: string
          nullable: true
        complemento_pessoal:
          type: string
          nullable: true
        numero_endereco_pessoal:
          type: string
          nullable: true

    UsuarioGetResponse:
      type: object
      additionalProperties: false
      required: [Status, usuario]
      properties:
        Status:
          type: string
          example: success
        usuario:
          $ref: "#/components/schemas/Usuario"

    UsuarioUpdateRequest:
      type: object
      additionalProperties: false
      properties:
        nome:
          type: string
        cpf:
          type: string
          pattern: '^[0-9]{11}$'
        email:
          type: string
        tipo:
          type: string
        data_nascimento:
          type: string
          format: date
        telefone_pessoal:
          type: string
        cep_pessoal:
          type: string
        rua_pessoal:
          type: string
        cidade_pessoal:
          type: string
        estado_pessoal:
          type: string
        bairro_pessoal:
          type: string
        complemento_pessoal:
          type: string
        numero_endereco_pessoal:
          type: string
      description: |
        Envie um ou mais campos do perfil.
        Os campos `uuid`, `auth_id` e `created_at` não são permitidos.

    UsuarioUpdateResponse:
      type: object
      additionalProperties: false
      required: [Status, usuario]
      properties:
        Status:
          type: string
          example: updated
        usuario:
          $ref: "#/components/schemas/Usuario"

    UsuarioDeleteResponse:
      type: object
      additionalProperties: false
      required: [Status, usuario]
      properties:
        Status:
          type: string
          example: deleted
        usuario:
          $ref: "#/components/schemas/Usuario"

    AgendaDoria:
      type: object
      additionalProperties: false
      required: [id, uuid, nome, data, horario]
      properties:
        id:
          type: integer
          minimum: 1
        uuid:
          type: string
        nome:
          type: string
          nullable: true
        data:
          type: string
          format: date
          nullable: true
        horario:
          type: string
          nullable: true
          example: 14:30

    AgendaDoriaCreateRequest:
      type: object
      additionalProperties: false
      required: [nome, data, horario]
      properties:
        nome:
          type: string
          minLength: 1
        data:
          type: string
          format: date
        horario:
          type: string
          minLength: 1

    AgendaDoriaUpdateRequest:
      type: object
      additionalProperties: false
      properties:
        nome:
          type: string
        data:
          type: string
          format: date
        horario:
          type: string
      description: Envie ao menos um dos campos acima. O campo `uuid` não é permitido.

    AgendaDoriaCreateResponse:
      type: object
      additionalProperties: false
      required: [Status, agenda_doria]
      properties:
        Status:
          type: string
          example: created
        agenda_doria:
          $ref: "#/components/schemas/AgendaDoria"

    AgendaDoriaUpdateResponse:
      type: object
      additionalProperties: false
      required: [Status, agenda_doria]
      properties:
        Status:
          type: string
          example: updated
        agenda_doria:
          $ref: "#/components/schemas/AgendaDoria"

    AgendaDoriaDeleteResponse:
      type: object
      additionalProperties: false
      required: [Status, agenda_doria]
      properties:
        Status:
          type: string
          example: deleted
        agenda_doria:
          $ref: "#/components/schemas/AgendaDoria"

    AgendaDoriaListResponse:
      type: object
      additionalProperties: false
      required: [Status, total, agenda_doria]
      properties:
        Status:
          type: string
          example: success
        total:
          type: integer
          minimum: 0
        agenda_doria:
          type: array
          items:
            $ref: "#/components/schemas/AgendaDoria"

    RegistroDor:
      type: object
      additionalProperties: false
      required: [id, uuid, dia, registro, nivel_de_dor]
      properties:
        id:
          type: integer
          minimum: 1
        uuid:
          type: string
        dia:
          type: string
          format: date
        registro:
          type: string
        nivel_de_dor:
          type: integer

    RegistroDorCreateRequest:
      type: object
      additionalProperties: false
      required: [dia, registro, nivel_de_dor]
      properties:
        dia:
          type: string
          format: date
        registro:
          type: string
          minLength: 1
        nivel_de_dor:
          type: integer

    RegistroDorUpdateRequest:
      type: object
      additionalProperties: false
      properties:
        dia:
          type: string
          format: date
        registro:
          type: string
        nivel_de_dor:
          type: integer
      description: Envie ao menos um dos campos acima. O campo `uuid` não é permitido.

    RegistroDorCreateResponse:
      type: object
      additionalProperties: false
      required: [Status, registro_dor]
      properties:
        Status:
          type: string
          example: created
        registro_dor:
          $ref: "#/components/schemas/RegistroDor"

    RegistroDorUpdateResponse:
      type: object
      additionalProperties: false
      required: [Status, registro_dor]
      properties:
        Status:
          type: string
          example: updated
        registro_dor:
          $ref: "#/components/schemas/RegistroDor"

    RegistroDorDeleteResponse:
      type: object
      additionalProperties: false
      required: [Status, registro_dor]
      properties:
        Status:
          type: string
          example: deleted
        registro_dor:
          $ref: "#/components/schemas/RegistroDor"

    RegistroDorListResponse:
      type: object
      additionalProperties: false
      required: [Status, total, registro_dor]
      properties:
        Status:
          type: string
          example: success
        total:
          type: integer
          minimum: 0
        registro_dor:
          type: array
          items:
            $ref: "#/components/schemas/RegistroDor"

    EspecialistaSbed:
      type: object
      additionalProperties: false
      required:
        - id
        - nome
        - clinica
        - estado
        - telefone_de_contato
        - email_profissional
        - horario_atendimento
        - site
        - especialidade
        - cidade
        - rua
        - cep
        - atendimento
        - sugerido
        - email_de_contato
        - usuario_id
        - complemento
        - numero
        - bairro
      properties:
        id:
          type: integer
          minimum: 1
        nome:
          type: string
          nullable: true
        clinica:
          type: string
          nullable: true
        estado:
          type: string
          nullable: true
        telefone_de_contato:
          type: string
          nullable: true
        email_profissional:
          type: string
          nullable: true
        horario_atendimento:
          type: string
          nullable: true
        site:
          type: string
          nullable: true
        especialidade:
          type: string
          nullable: true
        cidade:
          type: string
          nullable: true
        rua:
          type: string
          nullable: true
        cep:
          type: string
          nullable: true
        atendimento:
          type: string
          nullable: true
        sugerido:
          type: integer
          nullable: true
        email_de_contato:
          type: string
          nullable: true
        usuario_id:
          type: string
          nullable: true
        complemento:
          type: string
          nullable: true
        numero:
          type: string
          nullable: true
        bairro:
          type: string
          nullable: true

    EspecialistaSbedCreateRequest:
      type: object
      additionalProperties: false
      required: [nome]
      properties:
        nome:
          type: string
          minLength: 1
        clinica:
          type: string
        estado:
          type: string
        telefone_de_contato:
          type: string
        email_profissional:
          type: string
        horario_atendimento:
          type: string
        site:
          type: string
        especialidade:
          type: string
        cidade:
          type: string
        rua:
          type: string
        cep:
          type: string
        atendimento:
          type: string
        sugerido:
          type: integer
        email_de_contato:
          type: string
        complemento:
          type: string
        numero:
          type: string
        bairro:
          type: string
      description: Os campos `id` e `usuario_id` não são permitidos nesta rota.

    EspecialistaSbedUpdateRequest:
      type: object
      additionalProperties: false
      properties:
        nome:
          type: string
        clinica:
          type: string
        estado:
          type: string
        telefone_de_contato:
          type: string
        email_profissional:
          type: string
        horario_atendimento:
          type: string
        site:
          type: string
        especialidade:
          type: string
        cidade:
          type: string
        rua:
          type: string
        cep:
          type: string
        atendimento:
          type: string
        sugerido:
          type: integer
        email_de_contato:
          type: string
        complemento:
          type: string
        numero:
          type: string
        bairro:
          type: string
      description: Envie ao menos um dos campos acima. O campo `usuario_id` não é permitido.

    EspecialistaSbedCreateResponse:
      type: object
      additionalProperties: false
      required: [Status, especialista_sbed]
      properties:
        Status:
          type: string
          example: created
        especialista_sbed:
          $ref: "#/components/schemas/EspecialistaSbed"

    EspecialistaSbedUpdateResponse:
      type: object
      additionalProperties: false
      required: [Status, especialista_sbed]
      properties:
        Status:
          type: string
          example: updated
        especialista_sbed:
          $ref: "#/components/schemas/EspecialistaSbed"

    EspecialistaSbedDeleteResponse:
      type: object
      additionalProperties: false
      required: [Status, especialista_sbed]
      properties:
        Status:
          type: string
          example: deleted
        especialista_sbed:
          $ref: "#/components/schemas/EspecialistaSbed"

    EspecialistaSbedListResponse:
      type: object
      additionalProperties: false
      required: [Status, total, especialista_sbed]
      properties:
        Status:
          type: string
          example: success
        total:
          type: integer
          minimum: 0
        especialista_sbed:
          type: array
          items:
            $ref: "#/components/schemas/EspecialistaSbed"

    Medicacao:
      type: object
      additionalProperties: false
      required: [id, uuid, nome, frequencia, inicio, fim, tipo, tomou]
      properties:
        id:
          type: integer
          minimum: 1
        uuid:
          type: string
        nome:
          type: string
          nullable: true
        frequencia:
          type: string
          nullable: true
        inicio:
          type: string
          format: date-time
          nullable: true
        fim:
          type: string
          format: date-time
          nullable: true
        tipo:
          type: integer
          nullable: true
        tomou:
          type: integer
          nullable: true

    MedicacaoCreateRequest:
      type: object
      additionalProperties: false
      required: [nome]
      properties:
        nome:
          type: string
          minLength: 1
        frequencia:
          type: string
        inicio:
          type: string
          format: date-time
        fim:
          type: string
          format: date-time
        tipo:
          type: integer
        tomou:
          type: integer

    MedicacaoUpdateRequest:
      type: object
      additionalProperties: false
      properties:
        nome:
          type: string
        frequencia:
          type: string
        inicio:
          type: string
          format: date-time
        fim:
          type: string
          format: date-time
        tipo:
          type: integer
        tomou:
          type: integer
      description: Envie ao menos um dos campos acima. O campo `uuid` não é permitido.

    MedicacaoCreateResponse:
      type: object
      additionalProperties: false
      required: [Status, medicacao]
      properties:
        Status:
          type: string
          example: created
        medicacao:
          $ref: "#/components/schemas/Medicacao"

    MedicacaoUpdateResponse:
      type: object
      additionalProperties: false
      required: [Status, medicacao]
      properties:
        Status:
          type: string
          example: updated
        medicacao:
          $ref: "#/components/schemas/Medicacao"

    MedicacaoDeleteResponse:
      type: object
      additionalProperties: false
      required: [Status, medicacao]
      properties:
        Status:
          type: string
          example: deleted
        medicacao:
          $ref: "#/components/schemas/Medicacao"

    MedicacaoListResponse:
      type: object
      additionalProperties: false
      required: [Status, total, medicacoes]
      properties:
        Status:
          type: string
          example: success
        total:
          type: integer
          minimum: 0
        medicacoes:
          type: array
          items:
            $ref: "#/components/schemas/Medicacao"
